/*********************************************
* Custom theme Styles
*********************************************/

@font-face {
    font-family: 'HelveticaNeue-Roman';
    src: url('../fonts/HelveticaNeue-Roman.eot');
    src: url('../fonts/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue-Roman.woff') format('woff'),
         url('../fonts/HelveticaNeue-Roman.ttf') format('truetype'),
         url('../fonts/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Ex';
    src: url('../fonts/HelveticaNeue-Ex.eot');
    src: url('../fonts/HelveticaNeue-Ex.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue-Ex.woff') format('woff'),
         url('../fonts/HelveticaNeue-Ex.ttf') format('truetype'),
         url('../fonts/HelveticaNeue-Ex.svg#HelveticaNeue-Ex') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-UltLtEx';
    src: url('../fonts/HelveticaNeue-UltLtEx.eot');
    src: url('../fonts/HelveticaNeue-UltLtEx.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue-UltLtEx.woff') format('woff'),
         url('../fonts/HelveticaNeue-UltLtEx.ttf') format('truetype'),
         url('../fonts/HelveticaNeue-UltLtEx.svg#HelveticaNeue-UltLtEx') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: 'HelveticaNeue-Roman';
  font-size: 18px;
}

img{
  max-width: 100%;
}

.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  background: #ffb000;
  padding-top: 25%;
  text-align: center;
  display: block;
}
.load-end{
  display: none;
}

.wrap{
  position: relative;
  max-width: 1259px;
  margin: 0 auto;
  padding: 0 40px;
}

#header{
  position: relative;
  display: block;
  clear: both;
  background: #000000;
  padding: 30px 0;
  padding-bottom: 10px;
}
.navbar-header{
  margin-right: 55px !important;
}
.nav-primary li{
  padding: 20px 10px;
}
.nav-primary li > a{
  color: #ffffff !important;
  text-transform: uppercase;  
  font-size: 15px;
  padding: 0;
  outline: none !important;
}
.nav-primary li a{
  border-right: 1px solid #343434;
  padding-right: 18px;
}
.nav-primary li:nth-last-child(1) a{
  border-right: none;
  padding-right: 0;
}
.navbar-default{
  background: #000000 !important;
  border: none !important;
  box-shadow: none !important;
}
.dropdown-menu{
  background-color: #000000 !important;
}
.collapse.navbar-collapse{
  position: relative;
  top: -5px;
}
.navbar-nav > li > .dropdown-menu{
  margin-top: -1px !important;
  padding: 0 !important;
  margin-left: -12px;
}
.navbar-nav > li > .dropdown-menu li a{
  border-right: none;
  padding-right: 0px;
  font-size: 14px;
  text-transform: none;
}
.navbar-nav > li > .dropdown-menu li{
  position: relative;
  padding: 7px 25px;
  border-bottom: 1px solid #343434;
}
.navbar-nav > li > .dropdown-menu li a:hover:before{
  content: ">";
  position: relative;
  font-size: 18px;
  display: inline-block;
  color: #ffb000;
  margin-right: 10px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a,
.nav-primary li > a:hover{
  color: #ffb000 !important;
  background: transparent !important;
}
.navbar-nav{
  float: none !important;
  text-align: center;
}
.navbar-default{
  margin-bottom: 0;
}
.search-button{
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
  color: #ffffff;
}
.search-header{
  position: absolute;
  right: 0;
  top: 8px;
}
.search-header .search-field{
  /*display: none;*/
  top: 8px;
  position: relative;
  width: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: url(../images/bg_search.png) no-repeat;
  background-position: left 3px;
  border: none;
  color: transparent;
}
.search-header .search-field:hover{
  opacity: 1;
  width: 150px;
  background: url(../images/bg_search_hover.png) #ffffff no-repeat 6px 3px;
  padding-left: 35px;
  color: #000000;
}


/********************************************
* Filters
*********************************************/
.more-filters{
  position: relative;
  display: block;
  clear: both;
}
.hide-block{
  display: none;
  position: relative;
  clear: both;
  padding: 15px;
}
.filters-container{
  position: relative;
  display: block;
  clear: both;
  background: #ebebeb;
  padding: 20px 30px;
  margin-bottom: 45px;
}
.filters-container h3{
  text-transform: uppercase;
  color: #000000;
  font-size: 22px;
  font-family: 'HelveticaNeue-Ex';
  font-weight: bold;
}
.dropdown-filter{
  position: relative;
  display: block;
  clear: both;
  max-width: 315px;
}
.hide-block .dropdown-filter{
  max-width: 390px;
}
.dropdown-filter select{
  width: 100%;
  height: 42px;
  background: url(../images/drop-arrow.jpg) #ffffff no-repeat;
  background-position: top right !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0 12px;
  color: #888888;
  border: 1px solid #d7d7d7;
  outline: none;
  cursor: pointer;
}
.toogle-btnmore{
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 10px;
  cursor: pointer;
}
.sign{
  position: relative;
  display: inline-block;
  text-align: center;
  background: #000000;
  color: #ffffff;
  width: 27px;
  height: 27px;
  font-size: 28px;
  line-height: 20px;
  padding-top: 3px;
}
.t-mero{
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}
/*********************************************
* Slider
*********************************************/
.big-slider{
  position: relative;
  display: block;
  clear: both;
}
.big-slider h2{
  font-size: 45px;
  font-weight: bold;
}
.big-slider .item{
  position: relative;
}
.big-slider .owl-controls{
  position: absolute;
  top: 45%;
  width: 100%;
}
.big-slider .item img{
  width: 100%;
}
.big-slider .owl-controls .owl-prev,
.big-slider .owl-controls .owl-next{
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  background: rgba(0, 0, 0, 0.5);
  color: #ffb000;
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
}

.big-slider .owl-controls .owl-prev{
  float: left;
}
.big-slider .owl-controls .owl-next{
  float: right;
}
.text-slider{
  position: absolute;
  display: block;
  clear: both;
  color: #ffffff;
  bottom: 0;
  background: url(../images/slider/background.png);
  background-position: bottom center;
  width: 100%;
}
.text-slider a{
  color: #ffb000;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

/************************************
* Home Socials
*************************************/
.home-socials{
  position: relative;
  display: block;
  clear: both;
  text-align: center;
  padding: 20px;
  background: #ebebeb;
}
.home-socials a{
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  text-align: center;
  color: #ffffff;
  padding-top: 6px;
  margin: 5px 6px;
  font-weight: 100;
}
.home-socials a.vimeo{
  background: #16bbed;
}
.home-socials a.facebook{
  background: #3460a1;
}
.home-socials a.twitter{
  background: #8bcbe6;
}
.home-socials a.linkedin{
  background: #136d9d;
}
.home-socials a.rss{
  background: #f58020;
}
.home-socials a.google{
  background: #de5543;
}




/*************************************
* Home Content
*************************************/
.block-area{
  position: relative;
  display: block;
  clear: both;
  padding: 35px 0;
}
.section-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  color: #000000;
  font-weight: bold;
  font-family: 'HelveticaNeue-Ex';
}

.stoke-block{
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 15px;
}
.stoke-static{
  position: relative;
  display: block;
  clear: both;
  min-height: 273px;
  text-align: center;
  border: 1px solid #ffbc26;
  padding: 0 20px;
}
.stoke-block.yellow .stoke-hidden{
  background: rgba(233, 166, 14, 0.91);
}
.stoke-block.blue .stoke-hidden{
  background: rgba(148, 244, 248, 0.9);
}
.stoke-block .stoke-hidden{
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  max-width: 95%;
  height: 95%;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 7px;
  -webkit-transition: all 0.4s ease-in-out; 
  -moz-transition: all 0.4s ease-in-out; 
  -o-transition: all 0.4s ease-in-out; 
  transition: all 0.4s ease-in-out;
}
.stoke-block:hover .stoke-hidden{
  opacity: 1;
}
.stoke-hidden h5{
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;  
}
.stoke-static h5{
  font-size: 20px;
  text-transform: uppercase;
  color: #ffb000;
  margin-bottom: 35px;
}
.stoke-static p{
  font-family: 'HelveticaNeue-Ex';
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 35px;
}
.stoke-static .read{
  color: #ffffff;
  background: #ffb000;
}
.stoke-hidden h5 span{
  padding-bottom: 5px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
}
.stoke-hidden .date{
  font-size: 18px;
  color: #000000;
}
.stoke-hidden p{
  font-family: 'HelveticaNeue-Ex';
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 35px;
}
.read{
  position: relative;
  display: block;
  clear: both;
  width: 220px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  background: #ffffff;
  margin: 0 auto;
  padding: 10px;
  outline: none !important;
  text-decoration: none !important;
}

/****************************************
* Home Subscribe
*****************************************/
.subscribe-content{
  position: relative;
  display: block;
  clear: both;
  background: #ebebeb;
  color: #000000;
  font-size: 14px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: bold;
  margin-bottom: 35px;
}
.subscribe-content form input[type="email"]{
  display: block;
  clear: both;
  max-width: 500px;
  float: none;
  margin: 0 auto;
  width: 100%;
  padding: 7px 25px;
  margin-bottom: 15px;
}

.subscribe-content form input[type="submit"]{
  position: relative;
  display: block;
  clear: both;
  margin: 0 auto;
  border: none;
  background: #ffb104;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 10px;
}

/**************************************
* Home Reviews
**************************************/
.reviews-slider,
.reviews-slider-h,
.videos-slider{
  position: relative;
  display: block;
  clear: both;
  background: #000000;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5px;
}
.videos-container{
  position: relative;
  display: block;
  clear: both;
  background: #000000;
  color: #ffffff;
}

.reviews-slider-h{
  background: transparent;
}
.reviews-slider .review-hidde:hover,
.reviews-slider-h .review-hidde:hover{
  background: rgba(255, 177, 4, 0.66);
}
.reviews-slider .owl-pagination,
.reviews-slider-h .owl-pagination,
.videos-slider-h .owl-pagination{
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}
.adventure-slider .owl-pagination,
.instagram-slider .owl-pagination{
  position: relative;
  width: 100%;
  text-align: center;
}
.reviews-slider .owl-pagination .owl-page,
.reviews-slider-h .owl-pagination .owl-page,
.videos-slider .owl-pagination .owl-page,
.adventure-slider .owl-pagination .owl-page,
.instagram-slider .owl-pagination .owl-page{
  position: relative;
  display: inline-block;
  width: 15px;
  margin: 0 5px;
  height: 15px;
  background: url(../images/pagination/normal.png);
}
.adventure-slider .owl-pagination .owl-page,
.instagram-slider .owl-pagination .owl-page{
  border-radius: 100%;
  background: transparent;
  border: 1px solid #d7d7d7;
}

.reviews-slider .owl-pagination .owl-page:hover,
.reviews-slider .owl-pagination .owl-page.active,
.reviews-slider-h .owl-pagination .owl-page:hover,
.reviews-slider-h .owl-pagination .owl-page.active,
.videos-slider .owl-pagination .owl-page:hover,
.videos-slider .owl-pagination .owl-page.active{
  background: url(../images/pagination/active.png);
}
.adventure-slider .owl-pagination .owl-page:hover,
.adventure-slider .owl-pagination .owl-page.active{
  background: #ffb000;
  border-color: #ffb000;
}
.instagram-slider .owl-pagination .owl-page:hover,
.instagram-slider .owl-pagination .owl-page.active{
  background: #000000;
  border-color: #000000;
}

.review-hidde{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease-in-out; 
  -moz-transition: all 0.4s ease-in-out; 
  -o-transition: all 0.4s ease-in-out; 
  transition: all 0.4s ease-in-out;
}
.review-hidde h3{
  position: relative;
  top: 55%;
  margin: auto;
  text-transform: uppercase;  
}
.review-hidde h3 a{
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.videos-container{
  text-align: center;
  padding: 35px;
  margin-bottom: 30px;
}
.videos-container h3{
  text-transform: uppercase;
}
.more-vid{
  position: relative;
  display: block;
  clear: both;
  text-align: center;
}
.more-vid a{
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}

/***************************************
* Home Adventure
***************************************/
.adventure-slider{
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 40px;
}
.thumb-container{
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 15px;
}
.thumb-container a{
  background: rgba(255, 177, 4, 0.9);
  position: absolute;
  color: #ffffff;
  opacity: 0;
  top: 45%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all 0.4s ease-in-out; 
  -moz-transition: all 0.4s ease-in-out; 
  -o-transition: all 0.4s ease-in-out; 
  transition: all 0.4s ease-in-out;
}
.thumb-container:hover a{
  opacity: 1;
}
.adventure-info p{
  font-size: 16px;
  color: #989898;
}
.adventure-info h5{
  font-size: 22px;
  color: #000000;
  font-weight: bold;
}

.advertisement-image{
  text-align: center;
  display: block;
  clear: both;
  margin-bottom: 35px;
}

/****************************************
* Instagram Slider
****************************************/
.instagram-container{
  position: relative;
  display: block;
  clear: both;
  background: #ebebeb;
  padding: 35px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
.instagram-container .section-title{
  margin-bottom: 25px;
}
.instagram-slider .item{
  text-align: center;
  position: relative;
}
.inst-photo img{
  margin-bottom: 55px;
  position: relative;
}

/***************************************
* Page Content
***************************************/
.page-full-container{
  position: relative;
  display: block;
  clear: both;
  padding-top: 60px;
  padding-bottom: 70px;
}
.body-contact .page-full-container{
  padding-top: 0;
}
.body-contact .sidebar .block-sidebar h3{
  margin-top: 60px;
}
.body-contact .page-content a{
  color: #ffb000;
}
.body-video .page-content{
  padding-top: 20px;
}
.video-iframe{
  position: relative;
  display: block;
  clear: both;
  height: 490px;
}
.video-iframe iframe{
  width: 100%;
  height: 100%;
}

.signup-image{
  position: relative;
  display: block;
  clear: both;
  padding-top: 25px;
}

.align-left{
  float: left;
  margin-right: 40px;
}
.breadcrumbs{
  font-size: 18px;
  font-family: 'HelveticaNeue-Roman';
  font-style: italic;
  font-weight: 100;
  color: #b3b3b3;
}
.breadcrumbs a{
  color: #b3b3b3;
}
.breadcrumbs span{
  color: #ffb000;
}
.page-full-container h1{
  font-size: 48px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 50px;
}
.feature-image img{
  margin-bottom: 17px;
}
.feature-image p{
  color: #989898;
  font-size: 12px;
  font-style: italic;
  font-weight: 100;
}
.page-content h2{
  margin-top: 40px;
  font-size: 28px;
  font-weight: bold;
  color: #000000;
}
.page-content h2 span{
  color: #ffb000;
  text-transform: uppercase;
  font-size: 18px;
}
.info-d{
  color: #989898;
  font-size: 16px;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 40px;
}
.page-content p{
  margin-bottom: 30px;
  font-size: 18px;
}
.page-content .full-c{
  position: relative;
  display: block;
  clear: both;
  width: 100%;
  float: left;
}

.sidebar{
  position: relative;
  display: block;
  clear: both;
}
.sidebar .block-sidebar{
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 55px;
}
.sidebar .block-sidebar h3{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  border-bottom: 1px solid #000000;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 10px;
}
.block-sidebar .col-md-4,
.block-sidebar .col-md-8{
  padding: 0;
}
.block-sidebar .list-item p{
  margin-bottom: 0;
}
.block-sidebar .list-item h5{
  margin-top: 0;
}
.block-sidebar .list-item h5 a{
  color: #2d2d2e;
  font-weight: bold;
}

.related-posts{
  position: relative;
  display: block;
  clear: both;
}
.related-posts h3{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
  margin-bottom: 20px;
}
.related-posts img{
  margin-bottom: 15px;
}
.related-posts p{
  color: #989898;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 10px;
}
.related-posts h4 a{
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.more-images{
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 70px;
}
.more-images h4{
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.images-gallery{
  padding: 15px 35px;
  background: #ebebeb;
  text-align: center;
  position: relative;
}
.images-gallery .owl-controls.clickable{
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}
.images-gallery .owl-controls.clickable .owl-prev{
  float: left;
  margin-left: 20px;
  color: #fbba29;
  font-weight: bold;
  font-family: 'HelveticaNeue-Roman';
  font-size: 35px;
}
.images-gallery .owl-controls.clickable .owl-next{
  float: right;
  margin-right: 20px;
  color: #fbba29;
  font-weight: bold;
  font-family: 'HelveticaNeue-Roman';
  font-size: 35px;
}

.video-content{
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 25px;
}
.video-content .video-thumb{
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 10px;
}
.video-content .video-thumb div{  
  position: absolute;
  padding-top: 40px;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out; 
  -moz-transition: all 0.4s ease-in-out; 
  -o-transition: all 0.4s ease-in-out; 
  transition: all 0.4s ease-in-out;
}
.video-content .video-thumb div:hover{
  background: rgba(251, 186, 41, 0.9);
}

.video-content p{
  color: #989898;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 0;
}
.video-content a{
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
.video-slider .owl-controls{
  position: absolute;
  top: -45px;
  right: 0;
}
.video-slider .owl-controls .owl-page{
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #d4d4d4;
  margin: 0 2px;
}
.video-slider .owl-controls .owl-page.active,
.video-slider .owl-controls .owl-page:hover{
  background: #f9b620;
}






/******************************************
* Footer
******************************************/


#footer{
  background: #000000;
  color: #ffffff;
  padding-top: 45px;
  padding-bottom: 30px;  
}

#footer h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}

.list-item{
  position: relative;
  font-size: 14px;
  color: #989898;
  padding: 5px 0;
  border-bottom: 1px solid #414141;
}
.list-item:nth-last-child(1){
  border-bottom: none;
}
.list-item h5 a{
  color: #fffefe;
  font-size: 16px;
}
.list-item .col-md-9{
  padding-left: 0;
}

.weather-content{
  background: #2e2e2e;
  position: relative;
  display: block;
  clear: both;
  padding: 15px;
}
.weather-content img{
  margin-bottom: 10px;
}
.weather-content a{
  color: #8f8f8f;
  font-size: 16px;
  font-weight: bold;
}

.copyright-footer{
  border-top: 1px solid #414141;
  font-size: 12px;
  font-family: 'HelveticaNeue-Roman';
  padding: 25px 0;
}
.block-footer{
  margin-bottom: 30px;
}
.copyright-footer ul{
  list-style-type: none;
}
.copyright-footer ul li{
  display: inline-block;
}
.footer-menu li:nth-child(1) a{
  padding-left: 0;
}
.footer-menu li:nth-child(1):before{
  display: none;
}
.about-footer{
  font-size: 13px;
  font-weight: 100;
}
.socials-footer{
  letter-spacing: 10px;
  margin-bottom: 50px;
}
.socials-footer a{
  color: #ffffff;
  font-size: 25px;
  -webkit-transition: all 0.4s ease-in-out; 
  -moz-transition: all 0.4s ease-in-out; 
  -o-transition: all 0.4s ease-in-out; 
  transition: all 0.4s ease-in-out;
}
.socials-footer .dribbble-footer:hover{
  text-shadow: 2px 2px 2px #F2598F;
}
.socials-footer .google-footer:hover{
  text-shadow: 2px 2px 2px #EC6756;
}
.socials-footer .twitter-footer:hover{
  text-shadow: 2px 2px 2px #25ADDF;
}
.socials-footer .facebook-footer:hover{
  text-shadow: 2px 2px 2px #124586;
}
.socials-footer .rss-footer:hover{
  text-shadow: 2px 2px 2px #F7AA34;
}
.socials-footer .github-footer:hover{
  text-shadow: 2px 2px 2px #B5C735;
}
.socials-footer .linkedin-footer:hover{
  text-shadow: 2px 2px 2px #127EBF;
}
.socials-footer .pinterest-footer:hover{
  text-shadow: 2px 2px 2px #C72429;
}
.footer-menu a{
  font-size: 12px;
  color: #ffffff;
  font-family: 'HelveticaNeue-Roman';
  padding: 0 5px;
  padding-right: 3px;
}
.footer-menu li:before{
  content: "|";
  color: #292929;
}
.stoke-me{
  position: relative;
  display: block;
  clear: both;
  text-align: center;
  text-transform: uppercase;
  color: #000000 !important;
  text-decoration: none;
  background: #99ffff;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none !important;
  -webkit-transition: all 0.4s ease-in-out; 
  -moz-transition: all 0.4s ease-in-out; 
  -o-transition: all 0.4s ease-in-out; 
  transition: all 0.4s ease-in-out;
}
.stoke-me:hover{
  opacity: 0.7;
}

/***************************************
* Popup Styles
****************************************/
#subscribe-form{
  position: relative;
  max-width: 780px;
  background-color: #ffffff;
  padding: 30px;
  margin: 0 auto;
  -webkit-box-shadow: inset 1px 1px 2px 0px rgba(255,176,0,1);
  -moz-box-shadow: inset 1px 1px 2px 0px rgba(255,176,0,1);
  box-shadow: inset 1px 1px 2px 0px rgba(255,176,0,1);
}
#subscribe-form h2{
  color: #000000;
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 100 !important;
}
.subscription-btn{
  font-size: 24px;
  font-weight: bold;
  color: #ffffff !important;
  display: inline-block;
  background: #ffb000;
  padding: 15px 65px;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-transition: all 0.4s ease-in-out; 
  -moz-transition: all 0.4s ease-in-out; 
  -o-transition: all 0.4s ease-in-out; 
  transition: all 0.4s ease-in-out;
}
.subscription-btn:hover{
  opacity: 0.7;
}
.mfp-close-btn-in .mfp-close{
  background: #000000;
  color: #ffb000;
  opacity: 1;
  font-size: 42px;
  font-weight: bold !important;
  font-family: 'HelveticaNeue-UltLtEx';
  padding: 0 0 0 0 !important;
  top: 20px;
  right: 25px;
  -webkit-transition: all 0.4s ease-in-out; 
  -moz-transition: all 0.4s ease-in-out; 
  -o-transition: all 0.4s ease-in-out; 
  transition: all 0.4s ease-in-out;
}
.mfp-close-btn-in .mfp-close:hover{
  opacity: 0.7;
}

.popup-with-zoom-anim{
  outline: none !important;
  -webkit-transition: all 0.4s ease-in-out; 
  -moz-transition: all 0.4s ease-in-out; 
  -o-transition: all 0.4s ease-in-out; 
  transition: all 0.4s ease-in-out;
}
.popup-with-zoom-anim:hover{
  opacity: 0.7;
}

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;

  -webkit-transition: all 0.2s ease-in-out; 
  -moz-transition: all 0.2s ease-in-out; 
  -o-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out; 



  -webkit-transform: scale(0.8); 
  -moz-transform: scale(0.8); 
  -ms-transform: scale(0.8); 
  -o-transform: scale(0.8); 
  transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;

  -webkit-transform: scale(1); 
  -moz-transform: scale(1); 
  -ms-transform: scale(1); 
  -o-transform: scale(1); 
  transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8); 
  -moz-transform: scale(0.8); 
  -ms-transform: scale(0.8); 
  -o-transform: scale(0.8); 
  transform: scale(0.8); 

  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out; 
  -moz-transition: opacity 0.3s ease-out; 
  -o-transition: opacity 0.3s ease-out; 
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  -webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
  -moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
  -ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
  -o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
  transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;

  -webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
  -moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
  -ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
  -o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
  transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;

  -webkit-transition: opacity 0.3s ease-out; 
  -moz-transition: opacity 0.3s ease-out; 
  -o-transition: opacity 0.3s ease-out; 
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}


/*********************************
* Site Map Styles
**********************************/
.sitemap .breadcrumbs{
  margin-bottom: 40px;
}
.sitemap-container{
  position: relative;
  display: block;
  clear: both;
}
.sitemap-container .sitemap-item{
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 27px;
  font-family: 'HelveticaNeue-Roman';
  font-weight: bold;
}
.sitemap-container .sitemap-item ul{
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.sitemap-container .sitemap-item ul li a{
  color: #ffb000;
  font-weight: 100;
}

/*****************************************
* Search Results Styles
*****************************************/
.search-results .navbar-form{
  padding-left: 0;
  padding-right: 0;
  margin-top: 40px;
}
.search-results .navbar-form input[type="text"]{
  width: 420px;
  margin-bottom: 15px;
  height: 42px;
}
.search-results .navbar-form button{
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 100;
  padding: 7px 25px;
  font-size: 21px;
  background: #ffb000;
  border: none;
  border-radius: 0;
  font-family: 'HelveticaNeue-Roman';
}
.search-p-info p{
  font-size: 14px;
  color: #000000;
  margin-bottom: 7px;
}
.search-p-info h4{
  margin-bottom: 20px;
}
.search-p-info h4 a{
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.sres{
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 40px;
}

.body-gear-search .page-full-container h3{
  margin-bottom: 25px;
}

.gear-element{
  position: relative;
  text-align: center;
  width: 180px;
  min-height: 280px;
  margin-bottom: 15px;
}
.gear-image{
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 15px;
  min-height: 150px;
}
.gear-dsc h5{
  margin-top: 0;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}
.gear-dsc h5 > a{
  color: #000000;
  font-size: 14px;
}
.gear-dsc p{
  margin-bottom: 0;
  position: relative;
  display: block;
  clear: both;
  color: #000000;
  font-weight: 100;
  font-size: 14px;
}
.gear-dsc p strong{
  color: #ffb000;
}
.gear-dsc p strong span{
  font-weight: 100;
  color: #000000;
}
.compare-check{
  position: relative;
  display: block;
  clear: both;
  font-weight: 100;
  margin-top: 10px;
  font-size: 14px;
}
.line-separator{
  position: relative;
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
  background: #000000;
  margin-top: 20px;
}
.z-tabs > .z-container > .z-content > .z-content-inner{
  padding: 0;
  padding-top: 30px;
}
.z-tabs.silver > ul,
.z-tabs.silver > ul > li > a,
.z-tabs.silver > .z-container{
  border: none;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}
.custom-navs ul li a{
  font-size: 18px !important;
  font-weight: bold !important;
  color: #989898 !important;
  font-family: 'HelveticaNeue-Roman' !important;
  border: 1px solid #ebebeb !important;
  background: #ffffff !important;
}
.custom-navs ul li{
  margin-right: 15px;
}
.custom-navs ul li.z-active a{
  color: #ffffff !important;
  background: #ffb000 !important;
}

.instagram-slider .owl-wrapper .owl-item:nth-child(12n+1) {
    clear: both;
}
/*.adventure-slider .owl-pagination .owl-page, .instagram-slider .owl-pagination .owl-page:nth-child(n+5) {
	display:none;
	}
	*/
	
/*************************************
* Responsive Styles
*************************************/
@media screen and (max-width: 1127px){
  .navbar-header{
    float: none !important;
    margin: 0 auto !important;
    display: block;
    text-align: center;
  }
  .nav{
    text-align: center;
    float: none;
  }
  .nav > li{
    display: inline-block;
    float: none;
  }
  .search-header,
  .search-button{
    position: relative;
    display: block;
    margin: 0 auto;
    top: 0;
    text-align: center;
  }
  .search-button{
    display: none;
  }
  .search-header .search-field{
    display: block;
    margin: 0 auto;
    top: 0 !important;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 991px){
  .stoke-block{
    text-align: center;
    max-width: 380px;
    float: none;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
  }
  .stoke-hidden h5{
    font-size: 15px;
  }
  .stoke-hidden .date{
    font-size: 13px;
  }
  .stoke-hidden p{
    font-size: 16px;
    margin-bottom: 0;
  }
  .read{
    font-size: 15px;
    padding: 5px 13px;
    max-width: 200px;
  }
  .filters-container{
    text-align: center;
  }
  .filters-container img{
    margin-bottom: 10px;
  }
  .dropdown-filter{
    margin: 0 auto;
  }
  .sres{
    text-align: center;
  }
}
@media screen and (max-width: 767px){
  .nav > li{
    display: block;
    width: 100%;
    float: left;
  }
  .collapse.navbar-collapse{
    border: none !important;
  }
  .nav-primary li a{
    border-right: none;
    padding-right: 0;
  }
  .navbar-header{
    margin-bottom: 50px !important;
  }
  .big-slider h2{
    font-size: 30px;
  }
  .big-slider p{
    font-size: 15px;
  }
  .video-iframe{
    height: 350px;
  }
  .search-results .navbar-form input[type="text"]{
    width: 100%;
  }
}
@media screen and (max-width: 630px){
  .toogle-btnmore{
    position: relative;
    display: block;
    clear: both;
    text-align: center;
  }
}
@media screen and (max-width: 506px){
  .wrap{
    padding: 0 20px;
  }
}
@media screen and (max-width: 475px){
  .text-slider{
    display: none;
  }
  .video-iframe{
    height: 250px;
  }
  .wrap{
    padding: 0 10px;
  }
}
@media screen and (max-width: 446px){
  .gear-element{
    width: 100%;
  }
}
@media screen and (max-width: 360px){
.adventure-slider .owl-pagination .owl-page, .instagram-slider .owl-pagination .owl-page:nth-child(n+13) {
    display: none;
}

@media screen and (min-width: 1200px) {
	.adventure-slider .owl-pagination .owl-page, .instagram-slider .owl-pagination .owl-page:nth-child(n+5) {
    display: none ;
}
	
}
