/*********************************************
* Custom theme Styles
*********************************************/

/*@font-face {
    font-family: 'ConcertOne-Regular';
    src: url('../fonts/ConcertOne-Regular.eot');
    src: url('../fonts/ConcertOne-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ConcertOne-Regular.woff2') format('woff2'),
         url('../fonts/ConcertOne-Regular.woff') format('woff'),
         url('../fonts/ConcertOne-Regular.ttf') format('truetype'),
         url('../fonts/ConcertOne-Regular.svg#ConcertOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: BentonSans;
    src: url("../fonts/BentonSansCondensed-Regular_sOT.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
body{
//  font-family: 'ConcertOne-Regular';
  font-family: BentonSans;
  font-size: 16px;
//  font-size: 18px;
}
.navbar-nav > li > a{
    font-weight: bold;
}
.control-slider div{
    margin-bottom: 10px;
}
.featured-gallery{
    padding: 8px !important;
}
img{
  max-width: 100%;
}

.wrap{
  position: relative;
  width: 1180px;
  margin: 0 auto;
}
.isotope-element{
  width: 280px;
}
.isotope-element.big{
  width: 570px;
}

#header{
  position: relative;
  display: block;
  clear: both;
  background: #000000;
  padding: 30px 0;
  padding-bottom: 0;
}
.little-padding{
  padding: 0 5px 10px;
}
.top-header{
  padding-bottom: 25px;
}
.top-socials a{
  color: #ffffff;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  outline: none;
  padding-top: 3px;
  position: relative;
}
.top-socials .facebook{
  background: #004088;
}
.top-socials .twitter{
  background: #00abe3;
}
.top-socials .dribbble{
  background: #df4a84;
}
.top-socials .google{
  background: #d95333;
}
.top-socials .pinterest{
  background: #ca2128;
}

.top-socials .facebook:hover:after{
  content: "facebook";
  font-family: 'Open Sans' sans-serif;
  position: absolute;
  bottom: -20px;
  color: #5f5f5f;
  font-size: 11px;
  left: -6px;
}
.top-socials .twitter:hover:after{
  content: "twitter";
  font-family: 'Open Sans' sans-serif;
  position: absolute;
  bottom: -20px;
  color: #5f5f5f;
  font-size: 11px;
  left: -1px;
}
.top-socials .dribbble:hover:after{
  content: "dribbble";
  font-family: 'Open Sans' sans-serif;
  position: absolute;
  bottom: -20px;
  color: #5f5f5f;
  font-size: 11px;
  left: -5px;
}
.top-socials .google:hover:after{
  content: "google";
  font-family: 'Open Sans' sans-serif;
  position: absolute;
  bottom: -20px;
  color: #5f5f5f;
  font-size: 11px;
  left: -1px;
}
.top-socials .pinterest:hover:after{
  content: "pinterest";
  font-family: 'Open Sans' sans-serif;
  position: absolute;
  bottom: -20px;
  color: #5f5f5f;
  font-size: 11px;
  left: -7px;
}
.p-socials{
  padding-top: 10px;
}
.t-menu{
  position: relative;
  list-style-type: none;
  padding-left: 0;
  text-align: right;
}
.t-menu li{
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}
.t-menu li:nth-last-child(1){
  margin-right: 0;
}
.t-menu li a{
  color: #ffffff;
  font-size: 14px;
  font-family: 'Open Sans' sans-serif;
}

.nav-primary li > a{
  color: #222222 !important;
  text-transform: uppercase;
  padding: 20px 18px;
}
.navbar-default{
  background: #ffffff !important;
  border-radius: 3px 3px 0 0;
}

/**********************************************************
*   Content Styles
**********************************************************/
.bxslider li{
  position: relative;
}
.slide-caption {
  position: absolute;
  bottom: 0;
  padding: 15px;
  color: #ffffff;
}
.slide-caption p{
  font-family: 'Open Sans' sans-serif;
  font-size: 14px;
}
.control-top-slider{
  position: relative;
  display: block;
  clear: both;
//  padding: 15px 0;
}
.control-top-slider h4{
  color: #000000;
  font-size: 16px;
  margin-top: 0;
  font-weight: 100;
}
.control-top-slider p{
  color: #b3b2b2;
  font-size: 14px;
}
.small-slider .bx-wrapper {
  margin: 0 auto 25px;
}
.small-slider .slide-caption p {
  margin: 0;
  font-weight: bold;
}
.small-slider .slide-caption h4 {
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 15px;
}
/*.small-slider .col-md-12,
.small-slider .col-md-3 {
  padding: 0;
}
.small-slider .col-md-12 {
  float: none;
  display: inline-block;
}*/
.small-slider h4 {
  margin-bottom: 5px;
}
#video-bx-pager .control-top-slider:first-child {
  border: none;
}
#video-bx-pager .control-top-slider {
  border-top: 1px solid #f1f1f1;
}

.container-full-title{
  position: relative;
  display: block;
  clear: both;
  font-family: 'Open Spans' sans-serif;
  font-size: 13px;
  width: 100%;
  float: left;
//  border: 1px solid #ea5754;
  border: 1px solid #ababab;
  border-right-color: transparent;
  border-left-color: transparent;
  margin-bottom: 20px;
}
.container-full-title:before {
    content: url('../images/left-red.png');
    position: absolute;
    left: -35px;
    top: -1px;
}
.container-full-title:after {
    content: url('../images/right-red.png');
    position: absolute;
    right: -34px;
    top: -1px;
}
.container-full-title .col-md-2{
  padding-right: 0;
  padding-left: 0;
}
.news-two-items{
  text-align: center;
  padding-top: 15px;
}
.news-two-items a{
  margin: 0 20px;
}
.news-two-items span{
  color: #5d5d5d;

}
.news-two-items span span{
  color: #979797;
}

.left-title,
.right-title{
  position: relative;
  float: left;
  padding: 11px 20px;
  background-color: #ea5754;
  background-color: #ababab;
  color: #fff;
  height: 40px;
}
.left-title:after {
    content: url(../images/right-red-text.png);
    position: absolute;
    top: -1px;
    right: -25px;
}
.right-title{
  float: right;
}
.right-title:before {
    content: url(../images/left-red-search.png);
    position: absolute;
    left: -15px;
    top: -1px;
}
/*.input-search {
    opacity: 0;
    transition : 0.5s;
    position: absolute;
    right: -50px;
    margin: 0px 0;
    background-color: #EA5754;
    color: #fff;
    padding: 11px;
    border: 0;
}
.input-search.active {
    right: 50px;
    opacity: 1;
}*/
.search-input {
    width: 95%;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    left: -50px;
    margin: 0px 0;
    background: none;
    color: #fff;
    padding: 0px;
    border: 0;
}
.search-title {
    color: white;
    font-size: 15px;
}
.search-box{
    margin-top: 20px;
    padding-left: 5px;
}
.ski_featured{
    margin-top: 15px;
}
.ski_featured > div{
    padding: 0;
    border-bottom: 1px solid #e3e3e3;
    width: 45%;
    margin-right: 25px;
}
.search-title i{
    cursor: pointer;
}
.search-input.active {
    left: 40px;
    opacity: 1;
}
.color-title{
  position: relative;
  float: left;
  /*display: block;
  clear: both;*/
}
.block-p{
  padding-left: 0;
  padding-right: 0;
}
.color-title h3{
  position: relative;
  display: block;
  color: #2d2d2d;
  background: #ffffff;
  font-size: 20px;
  /*text-transform: uppercase;*/
}
.color-title h3 a{
  color: #2d2d2d;
}
.color-title h3 span{
  background: #ffffff;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.color-title .border-color-container{
  position: relative;
  display: block;
  clear: both;
  padding: 20px;
  border: 2px solid #000000;
  box-shadow: 0px 0px 10px #DADADA;
}

.color-title.orange h3{
  background: #f93d03;
}
.color-title.orange .border-color-container{
  border-color: #f93d03;
}
.color-title.blue h3{
  background: #00b3ff;
}
.color-title.blue .border-color-container{
  border-color: #00b3ff;
}
.color-title.yellow h3{
  background: #ffc039;
}
.color-title.yellow .border-color-container{
  border-color: #ffc039;
}
.color-title.pink h3{
  background: #f9039f;
}
.color-title.pink .border-color-container{
  border-color: #f9039f;
}
.color-title.black h3{
  background: #000000;
}
.color-title.black .border-color-container{
  border: 1px solid #e3e3e3;

}
.article-page .color-title.black .border-color-container{
  border: 1px solid #000000;
}
.color-title.light-orange h3{
  background: #ff7e00;
}
.color-title.light-orange .border-color-container{
  border-color: #ff7e00;
}
.black{
  color: #000000;
}

.nomargin{
  margin-bottom: 0 !important;
}

.description{
  position: relative;
  padding-top: 10px;
}
.description p{
  font-size: 14px;
  color: #231f20;
}
.description h4{
  margin-top: 0;
}
.excerpt{
  font-family: 'Open Sans' sans-serif;
}
.read-more{
  font-size: 14px;
  color: #ffffff;
  background: #000000;
  padding: 3px 10px;
}
a.read-more.orange {
    font-size: 20px;
    color: #ff7e00;
    background-color: transparent;
    padding: 10px 0;
    display: inline-block;
}
.subscribe{
  font-size: 14px;
  color: #ffffff;
  background: #000000;
  padding: 5px 10px;
  border-radius: 3px
}
.subscribe.orange{
  background-color:#ff7e00; 
}
.img-block{
  margin-top: 20px;
}
.item-ski{
  position: relative;
  display: block;
  clear: both;
  width: 100%;
  float: none;
  margin-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
}
.item-ski:last-child{
  border: none;
  margin-bottom: 0;
}
.item-ski h5{
  font-size: 16px;
  color: #2b2b2b;
  margin-bottom: 2px;
  margin-top: 4px;
}
.news-signup{
    margin-top: 10px;
}
.bottom_add{
    margin-top: 10px;
    border: 1px solid;
}
.item-ski p{
  margin-bottom: 0;
  color: #b3b3b3;
  font-size: 14px;
}
.big-slider h4,
.big-slider p {
    margin-bottom: 0;
}
.big-slider .col-md-3 {
    margin-bottom: 20px;
}
/**************************************************************
*   Footer Styles
**************************************************************/

#footer{
  background: #000000;
  color: #ffffff;
  padding: 35px 0;
  margin-top: 60px;
}

.list-item{
  position: relative;
  display: block;
  clear: both;
  border-bottom: 1px solid #363636;
  padding: 5px 0;
}
.list-item:nth-last-child(1){
  border-bottom: none;
}
#footer p{
  font-size: 12px;
  color: #b3b2b2;
}

.slideshow-container{
  position: relative;
  display: block;
  clear: both;
  background: #292929;
  padding: 5px 15px;
}
.slideshow-container .owl-controls{
  position: absolute;
  top: -35px;
  right: 0;
}
.slideshow-container .owl-controls .owl-buttons{
  display: block;
}
.slideshow-container .owl-controls .owl-buttons div{
  float: left;
  color: #8b8b8b;
  font-size: 25px;
}

.owl-theme p{
  font-size: 14px;
  color: #ffffff;
  margin: 15px 0;
}
.owl-theme a{
  color: #fff;
}
.about p{
  font-family: 'Open Spans' sans-serif;
  font-size: 13px;
  color: #cacaca;
  line-height: 20px;
  font-weight: bold; 
}
.socials-footer{
  position: relative;
  display: block;
  clear: both;
}
.socials-footer a{
  color: #818181;
  padding: 2px;
  display: inline-block;
  width: 26px;
  text-align: center;
  border-radius: 4px;
}
.socials-footer a:hover{
  color: #ffffff;
}
.socials-footer .facebook-footer:hover{
  background: #4d6baa;
}
.socials-footer .twitter-footer:hover{
  background: #00abe3;
}
.socials-footer .google-footer:hover{
  background: #d95333;
}
.socials-footer .dribbble-footer:hover{
  background: #df4a84;
}
.socials-footer .rss-footer:hover{
  background: #d95333;
}
.socials-footer .github-footer:hover{
  background: #d95333;
}
.socials-footer .pinterest-footer:hover{
  background: #ca2128;
}
.socials-footer .linkedin-footer:hover{
  background: #8514cc;
}

.copyright-footer{
  position: relative;
  display: block;
  clear: both;
  padding: 25px 0;
  border-top: 1px solid #363636;
  margin-top: 20px;
}

.footer-menu {
  padding-left: 0;
  list-style-type: none;
  text-align: right;
}
.footer-menu li{
  display: inline-block;
}
.footer-menu li a{
  color: #ffffff;
  font-size: 12px;
  border-left: 1px solid #fff;
  padding-left: 6px;
}
.footer-menu li:nth-of-type(1) a{
  padding-left: 0;
  border-left: none;
}

.article-page .one-half-social-info{
  display: block;
}
.one-half-social-info{
  display: none;
}
.item-social{
  position: relative;
  width: 41%;
  float: left;
  text-align: center;
  padding: 10px 0;
  border: 1px solid #d7d7d7;
  margin: 10px;
}
.item-social > div i{
  width: 40px;
  height: 40px;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  border-radius: 100%;
}
.item-social > div i.fa-facebook{
  background: #2c5182;
}
.item-social > div i.fa-twitter{
  background: #3bafda;
}
.item-social > div i.fa-pinterest{
  background: #ca2128;
}
.item-social > div i.fa-linkedin{
  background: #136d9d;
}
.item-social div p,
.item-social div span{
  font-family: 'Open Sans' sans-serif;
  font-size: 11px;
  margin-bottom: 0;
  line-height: 2px;
  margin-top: 12px;
}
.item-social div p{
  font-weight: bold;
}

.content-article{
  font-family: 'Open Sans' sans-serif;
  font-size: 17px;
  color: #000000;
}



.subscribe-form input[type="email"]{
  width: 100%;
  font-family: 'Open Sans' sans-serif;
  font-size: 20.58px;
  font-weight: 100;
  padding: 10px;
  margin-bottom: 10px;
  background: #f3f3f3;
}
.subscribe-form input[type="submit"]{
  background: #000000;
  color: #ffffff;
  text-align: right;
  font-size: 20px;
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
}

.article-page .control-top-slider{
  display: inline-block;
  clear: none;
}

.full-t{
  width: 100%;
  display: block;
  clear: both;
}
.thumb-cat{
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 20px;
}
.thumb-cat .custom-title{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  padding: 5px 20px;
}
.cat-page .color-title{
  margin-bottom: 15px;
}
.cat-border{
  width: 100%;
  float: left;
}
.hide{
  display: none;
}

.container-gear.owl-theme p{
  color: #000000;
}

.home-form{
  display: none;
}

.bx-wrapper{
  margin-bottom: 0;
}

#hide-carousel{
  display: none;
}
#hide-carousel .owl-controls{
  position: relative;
  top: -110px;

}
#hide-carousel .owl-controls .owl-buttons{
  font-size: 40px;
}
#hide-carousel .owl-controls .owl-buttons .owl-prev{
  float: left;
  position: relative;
  left: -25px;
}
#hide-carousel .owl-controls .owl-buttons .owl-next{
  float: right;
  position: relative;
  right: -25px;
}

.bx-wrapper .bx-pager{
  display: none;
}

/******************************************
*   Responsive Styles
******************************************/
@media screen and (max-width: 1293px ){
  .container-full-title{
    max-width: 80%;
    margin: 0 auto;
    float: none;
  }
  .news-two-items a:nth-last-child(1),
  .divider{
    display: none;
  }
}

@media screen and (max-width: 1211px){
  .wrap{
    width: 100%;
  }
}

@media screen and (max-width: 1159px){
  .top-socials{
    word-spacing: -4px;
  }
}

@media screen and (max-width: 1120px){
  .t-menu li{
    margin: 0 6px;
  }
}

@media screen and (max-width: 1096px){
  .nav-primary li > a{
    padding: 14px 14px;
    font-size: 15px;
  }
}

@media screen and (max-width: 1083px){
  .top-socials{
    word-spacing: -7px;
  }
  .top-socials a{
    width: 25px;
    height: 25px;
    padding-top: 0;
  }
}

@media screen and (max-width: 991px){
  .advertise{
    display: none;
  }
  .logo,
  .top-socials,
  .t-menu{
    text-align: center;
  }
  .t-menu{
    margin-top: 20px;
  }
  .top-socials{
    word-spacing: 0px;
  }
  .top-socials a{
    width: 30px;
    height: 30px;
    padding-top: 3px;
  }
  .control-top-slider{
    display: inline-block;
    float: left;
    clear: none;
  }
  .left-title,
  .right-title{
    font-size: 14.15px;
    padding: 5px 10px;
  }
  .news-two-items{
    padding-top: 8px;
  }
  .left-title:after,
  .right-title:before{
    display: none;
  }
  .right-title{
    top: -27px;
  }
  .input-search.active{
    right: 34px;
  }
  .input-search{
    top: -27px;
    padding: 6px;
  }
}

@media screen and (max-width: 910px){
  .nav-primary li > a{
    padding: 10px 10px;
    font-size: 13px;
  }
}

@media screen and (max-width: 767px ){
  .bx-default-pager,
  .big-slider,
  .top-socials,
  .advertise,
  .container-gear,
  .resort-image{
    display: none;  
  }
  .home-form,
  #hide-carousel{
    display: block;
  }
  .hide{
    display: block !important;
  }
  .logo{
    text-align: left;
    float: left;
    z-index: 999;
    width: 130px;
  }
  .register{
    float: left;
    z-index: 999;
  }
  .p-socials{
    padding-top: 0;
  }
  .nav-primary{
    position: absolute;
    top: 0;
    right: 0;    
    width: 100%;
    z-index: 1;
  }
  .navbar-nav{
    position: relative;
    z-index: 9999;
    background: #ffffff;
    margin: 0;
  }
  .navbar-collapse{
    border: none;
  }
  .navbar-default,
  .navbar-default .navbar-toggle{
    background: transparent !important;
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
  }
  .navbar-toggle .icon-bar{
    height: 3px;
  }
  .navbar-default .navbar-toggle .icon-bar{
    background: #ffffff;
  }
  .container-full-title:before{
    left: -7px;
  }
  .container-full-title:after{
    right: -9px;
    z-index: -1;
  }
  .block-p{
    padding-left: 38px;
    padding-right: 38px;
  }
  .color-title .border-color-container{
    padding: 50px 40px;
  }
  .isotope-element{
    max-width: 628px;
    width: 85%;
  }
  .isotope-element.big{
    max-width: 628px;
    width: 85%;
  }
  .control-top-slider .col-md-9{
    display: none;
  }
  .bx-wrapper img{
    margin: 0 auto;
  }
  .control-top-slider{
    margin: 10px;
  }
  #video-bx-pager{
    text-align: center;
  }
  #video-bx-pager a{
    float: none;
    text-align: center;
  }
  .photos-home,
  .recent-home,
  .like-home,
  .popular-home{
    display: none;
  }
  #footer .post-list{
    padding: 0 75px;
  }
  #footer .col-md-4,
  #footer .col-md-8{
    float: left;
  }
  .slideshow-container{
    max-width: 551px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .copyright-footer,
  .footer-menu{
    text-align: center;
    border-top: none;
  }
  .one-half-social-info{
    display: block;
    width: 50%;
    float: left;
  }
  .one-half{
    width: 50%;
    float: left;
  }
  .one-half .little-padding{
    display: inline-block;
    float: left;
  }
  .carousel-1-container .description{
    display: none;
  }
  .container-gear{
    position: relative;
  }
  .container-gear > div{
    position: relative;
    display: block;
  }
  .container-gear .item-ski{
    display: none;
  }
  .container-gear .read-more{
    display: none;
  }
  .bx-wrapper .bx-controls-direction a{
    text-indent: 1px;
    color: #000000;
    font-family: 'Open Sans' sans-serif;
  }
  #ski-bx-pager{
    display: none;
  }
  .bx-wrapper .bx-next{
    right: -20px;
  }
  .bx-wrapper .bx-prev{
    left: -1px;
  }

}

@media screen and (max-width: 659px){
  .color-title .border-color-container{
    padding: 35px 20px;
  }
}

@media screen and (max-width: 619px){
  .right-title{
    top: -46px;
  }
  .left-title,
  .right-title{
    padding: 13px 10px;
  }
  .news-two-items a{
    margin: 0;
  }
  .news-two-items{
    padding-top: 12px;
    padding-bottom: 14px;
  }
}

@media screen and (max-width: 585px){
  #footer .post-list{
    padding: 0 15px;
  }
}

@media screen and (max-width: 569px){
  .container-full-title:before,
  .container-full-title:after{
    display: none;
  }
  .left-title,
  .right-title{
    width: 100%;
    top: 0;
  }
  .input-search{
    top: 47px;
  }
  .container-full-title{
    position: relative;
    display: block;
    clear: both;
    float: none;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 502px){
  .isotope-element.big,
  .isotope-element{
    width: 75%;
  }
  .container-full-title{
    max-width: 75%;
  }

  #hide-carousel .owl-controls{
    top: -90px;
  }
  #hide-carousel .owl-controls .owl-buttons{
    font-size: 40px;
  }
  #hide-carousel .owl-controls .owl-buttons .owl-prev{
    float: left;
    position: relative;
    left: -25px;
  }
  #hide-carousel .owl-controls .owl-buttons .owl-next{
    float: right;
    position: relative;
    right: -25px;
  }
  .custom-title h2{
    font-size: 20px;
    line-height: 22px;
  }
  .owl-theme p{
    margin: 0;
  }


}

@media screen and (max-width: 435px){
  .control-top-slider{
    margin: 5px 2px;
  }
}

@media screen and (max-width: 430px){
  .container-full-title{
    max-width: 65%;
  }
}

/* custom css */

.color-title.black h3 {
 border-bottom: 2px solid black;
 background: none;
}


.color-title h3 {
    position: relative;
    display: block;
    color: #2d2d2d;
    background: #ffffff;
    font-size: 20px;
    height: 0px;
    padding-bottom: 20px;
}

/*.color-title.pink .border-color-container,.color-title.orange .border-color-container,.color-title.blue .border-color-container,.color-title.yellow .border-color-container,.color-title.light-orange .border-color-container {*/
.wrap .border-color-container{
    border: none !important ;
	-webkit-box-shadow: 7px 7px 9px -4px rgba(218,218,218,1);
-moz-box-shadow: 7px 7px 9px -4px rgba(218,218,218,1);
box-shadow: 7px 7px 9px -4px rgba(218,218,218,1);
}



.color-title.light-orange h3,.row .subscribe.orange {
    background: #6CBB3C;
}
.color-title.olive h3,.olive .news-signup a {
    background: #a6a64c
}
.color-title.yellow h3 {
    background: rgba(255, 240, 50, 0.93);
}

.color-title.blue h3,.col-md-4 .read-more {
    background: rgba(0, 101, 181, 0.86);
}

.color-title.pink h3,.border-color-container .read-more {
    background: rgba(39, 121, 160, 0.87);la
}

.color-title.grey h3 {
    background: rgba(76, 76, 76, 0.84);
}

.color-title.orange h3,.col-md-6 .read-more {
    background: rgba(199, 0, 0, 0.72);
}

a.read-more.orange {
    color: #323232;
}

.color-title h3 span {
  padding-right: 10px;
}