@charset "utf-8";
/* CSS Document */

div.right_bar .view-content div {
	float: left;
}
.right_bar > div{
	float:left;
}
#search-block-form .form-actions.form-wrapper{
	position:absolute;
	top:0px;
	right:0px;
}
#search-block-form .form-actions.form-wrapper #edit-submit:hover{
	cursor:pointer;
	background:#333;
	color:#FFF;
}

.big_carousel .fivestar-default, .block-views .fivestar-default{
	display:none;
}
.margin-top-t10{
	margin-top:-10px;
}
.no-border-widget-d{
	border: none;
	border-top: none;
	box-shadow:none;
	padding:0px;
}
.categories-widget li a i{
	font-size:12px;
}
#user-login-form .form-item{
	margin-bottom:15px;
	width:100%;
}
#user-login-form .item-list{
	margin:15px 0px;
}

.form-submit{
	display: inline-block;
	cursor: pointer;
	position: relative;
	word-spacing: 0.2em;
	background: #55B2F3;
	color: #fff;
	white-space: nowrap;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border:none;
	padding:10px;
}

.form-submit:hover{
	color:#333;
}
.block_tab-title.active{
	background:#1D1E20;
	text-decoration:none;
}
.block_tab-title{
	background:#D9D9D9;
	
}
.block_tab-title a{
	color:#FFF
}
.block_tab-title:hover{
	background:#1D1E20
}
#masonry-container > .b_block.clearfix{
	border: none;
	border-top: none;
	padding: 20px;
	box-shadow: none;
}
.tabs.primary li{
	float:left;
	margin-right:10px;
}
.tabs.primary{
	width:100%;
	margin-bottom:40px;
}

/*Page*/
ul.pager{
	width:100%;
}
ul.pager li{
	float:left;
	list-style-type:none;
	margin-left:1px!important;
}
ul.pager li a, ul.pager li.pager-current{
	display:block;
	padding:6px 17px;
	background:#666;
	color:#FFF;
}
ul.pager li.pager-current, ul.pager li a:hover{
	background:#F3F3F3;
	color:#A2A2A2
}
h1.title-p{
	margin:30px 0px;
}


/*comment form, contact form*/
.comment-form label, .contact-form label{
	width:100%;
	clear:both;
	float:left;
	margin-bottom:3px;
}
.comment-form input[type=text], .comment-form textarea, .contact-form input[type=text], .contact-form textarea{
	width:95%;
	margin-bottom:10px;
}
.comment-form textarea, .contact-form textarea{
	height:140px;
}
.comment-form #edit-actions{
	margin-top:20px;
}
.comment-form #edit-actions input[type=submit]{
	margin-right:10px;
}
.links.inline{
	width:100%;
	clear:both;
	float:left;
	margin:10px 0px;

}
.links.inline li{
	float:right;
	list-style-type:none;
	margin-left:10px;
	margin-right:0px;
}
.comment_wrap{
	border-bottom:solid 1px #f1f1f1;
	padding-bottom:10px;
}
.user-picture{
	float:left;
	margin-right:20px;
}
.node-blog .field{
	margin:10px 0px;
}
.categories-widget li{
	list-style:decimal
}
.categories-widget{
	margin-left:15px;
}

/*Switcher*/

.style-picker{direction: ltr;font-family:Arial,"Helvetica CY",sans-serif;color:#010101;font-size:12px;width:0;min-height:200px;position:fixed;top:40px;left:0;z-index:99999999999999999999999999999;}
.style-picker .bgChanger{position:relative;min-width:35px;min-height:100px;}
.style-picker a{color:#fff !important;}
.style-picker a:hover{text-decoration:none;}
.style-picker input, .style-picker select {font-family:"Trebuchet MS",Arial,"Helvetica CY",sans-serif;border:1px solid #b7b7b7;color:#010101;}
.style-picker input{width:120px;}
.style-picker select{
	font-size: 1em;
	padding: 3px;
	width: 90%;
	height: auto;
	border: 1px solid #CCC;
	outline: 0;
	background: #FAFAFA url(../images/select3.png) no-repeat right;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.style-picker .container{width:240px;padding:0 0 5px 0;}
.style-picker .options,.style-picker .handler{border:1px solid #181818;background-color:#181818;color: #CCC;box-shadow:1px 1px 1px rgba(0, 0, 0, 0.3)} 
.style-picker .options{width:230px;padding:3px 0 15px 10px;position:relative; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomright:3px; border-bottom-right-radius: 3px; border-radius: 0 0 3px 0;}

.style-picker .handler{background:#181818 url(../images/close.png) 5px 6px no-repeat!important;width:33px;height:35px;position:absolute;top:0px;right:-35px;z-index:30;border-left:0;-webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; border-radius: 0 3px 3px 0;}

.style-picker .container .handler.closed{background:#181818 url(../images/pencil.png) 5px 6px no-repeat;}
.style-picker span{display:block;padding:10px 0 3px;font-weight:bold;clear:both;}
.style-picker a.thumb-img{margin:0 5px 4px 0;border:1px solid #666;}
.style-picker a.thumb-img, .style-picker a.thumb-img img{display:block;float:left;width:12px;height:12px;cursor:pointer;}
.style-picker a.thumb-img img{border:0;background:none;padding:0;}
.style-picker a.bgColor{
	color: #ccc !important;
	display: inline-block;
	width: 90%;
	line-height: 20px;
	font-weight: bold;
	padding: 5px 18px 0 0;
	margin: 8px 0 8px;
	position: relative;
	clear: both;
}
.style-picker a.bgColor span{border:0px solid #b7b7b7;width:18px;height:18px;float:right;padding:0;margin:1px 0 0;}
.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(../images/custom_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	z-index:999999999999999;
	font-size:0.8em;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../images/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
#bgColor, #bgHeaderColor, #bgFooterColor {
	position: relative;
	width: 20px;
	height: 20px;
	/*background: url(../images/select2.png);*/
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(../images/custom_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input[type="text"] {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
    max-width: 100%;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(../images/custom_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input[type="text"] {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(../images/custom_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(../images/custom_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(../images/custom_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(../images/custom_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(../images/custom_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(../images/custom_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../images/custom_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus { background-position: center }
.colorpicker_hex.colorpicker_focus { background-position: bottom }
.colorpicker_submit.colorpicker_focus { background-position: bottom }
.colorpicker_slider { background-position: bottom }
@media only screen and (min-width: 100px) and (max-width: 960px) { .style-picker { display: none } }
#twitter li{
	margin-bottom: 20px;
border-bottom: solid 1px #F3F3F3;
padding-bottom: 10px;
}

@font-face {
  font-family: 'arqello';
  src: url('font/arqello.eot?33153607');
  src: url('font/arqello.eot?33153607#iefix') format('embedded-opentype'),
       url('font/arqello.woff?33153607') format('woff'),
       url('font/arqello.ttf?33153607') format('truetype'),
       url('font/arqello.svg?33153607#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}



 
[class^="arqicon-"]:before, [class*=" arqicon-"]:before {
  font-family: "arqello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
.arqicon-delicious:before { content: '\23'; } /* '#' */
.arqicon-gplus:before { content: '\2b'; } /* '+' */
.arqicon-forrst:before { content: '\3a'; } /* ':' */
.arqicon-dribbble:before { content: '\44'; } /* 'D' */
.arqicon-twitter:before { content: '\54'; } /* 'T' */
.arqicon-youtube:before { content: '\55'; } /* 'U' */
.arqicon-vimeo:before { content: '\56'; } /* 'V' */
.arqicon-facebook:before { content: '\66'; } /* 'f' */
.arqicon-soundcloud:before { content: '\73'; } /* 's' */
.arqicon-github-circled:before { content: '\e8'; } /* 'è' */
.arqicon-instagram-filled:before { content: '\f31f'; } /* '' */
.arqicon-behance:before { content: '\f34e'; } /* '' */
.arqicon-instagram-filled:before { content: '\f31f'; } /* '' */
.arqicon-mail-alt:before { content: '\f0e0'; } /* 'ïƒ ' */
.arqicon-foursquare:before { content: '\34'; } /* '4' */

/* Colored Icons */
.counter .arqicon-twitter, .counter .arq-twitter{background-color:#45b0e3 !important;}
.counter .arqicon-facebook, .counter .arq-facebook{background-color:#39599f !important;}
.counter .arqicon-gplus, .counter .arq-google{background-color:#fa0101 !important;}
.counter .arq-dribbble{background-color:#d97aa5 !important;}
.counter .arq-vimeo{background-color:#44bbff !important;}
.counter .arqicon-youtube, .counter .arq-youtube{background-color:#cc181e !important;}
.counter .arqicon-behance, .counter .arq-behance{background-color:#1769ff !important;}
.counter .arqicon-soundcloud, .counter .arq-soundcloud{background-color:#F76700 !important;}
.counter .arqicon-delicious, .counter .arq-delicious{background-color:#285da7 !important;}
.counter .arqicon-forrst, .counter .arq-forrst{background-color:#297e09 !important;}
.counter .arqicon-github-circled, .counter .arq-github{background-color:#666 !important;}
.counter .arqicon-envato, .counter .arq-envato{background-color:#5da01d !important;}
.counter .arqicon-instagram-filled, .counter .arq-instagram{background-color:#3f729b !important;}
.counter .arqicon-mail-alt, .counter .arq-mailchimp{background-color:#2c9ab7 !important;}
.counter .arqicon-foursquare, .counter .arq-foursquare{background-color:#0d9ed1 !important;}



.counter .arq-vimeo i{
	background:#0A7FC2 
}
.counter .arq-youtube i{
	background:#AC0309!important; 
}
.counter .arq-google i{
	background:#AC0309!important; 
}

.counter .linkedin{
	background:#107CB7;
}
.counter .linkedin i{
	background:#05679C
}
.tagcloud.single_post span{
	float:left;
	margin-right:15px;
	margin-top:5px;
}