 
@font-face {
    font-family: 'concert_oneregular';
    src: url('../font/concertone-regular-webfont.eot');
    src: url('../font/concertone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/concertone-regular-webfont.woff2') format('woff2'),
         url('../font/concertone-regular-webfont.woff') format('woff'),
         url('../font/concertone-regular-webfont.ttf') format('truetype'),
         url('../font/concertone-regular-webfont.svg#concert_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'bentonsans-regular';
	src: url('../font/ufont.com_bentonsans-regular-opentype.eot');
	src: local('☺'), url('../font/ufont.com_bentonsans-regular-opentype.woff') format('woff'), url('../font/ufont.com_bentonsans-regular-opentype.ttf') format('truetype'), url('../font/ufont.com_bentonsans-regular-opentype.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_BentonSans Book';
	src: url('../font/BentonSans Book.eot');
	src: local('☺'), url('../font/BentonSans Book.woff') format('woff'), url('../font/BentonSans Book.ttf') format('truetype'), url('../font/BentonSans Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_BentonSans-Black_sOT';
	src: url('../font/BentonSans-Black_sOT.eot');
	src: local('☺'), url('../font/BentonSans-Black_sOT.woff') format('woff'), url('../font/BentonSans-Black_sOT.ttf') format('truetype'), url('../font/BentonSans-Black_sOT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'bentonsans-condregular';
    src: url('../font/ufont.com_bentonsans-condensed-black-opentype-webfont.eot');
    src: url('../font/ufont.com_bentonsans-condensed-black-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ufont.com_bentonsans-condensed-black-opentype-webfont.woff2') format('woff2'),
         url('../font/ufont.com_bentonsans-condensed-black-opentype-webfont.woff') format('woff'),
         url('../font/ufont.com_bentonsans-condensed-black-opentype-webfont.ttf') format('truetype'),
         url('../font/ufont.com_bentonsans-condensed-black-opentype-webfont.svg#bentonsansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bentonsansmedium';
    src: url('../font/ufont.com_bentonsans-medium-opentype-webfont.eot');
    src: url('../font/ufont.com_bentonsans-medium-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ufont.com_bentonsans-medium-opentype-webfont.woff2') format('woff2'),
         url('../font/ufont.com_bentonsans-medium-opentype-webfont.woff') format('woff'),
         url('../font/ufont.com_bentonsans-medium-opentype-webfont.ttf') format('truetype'),
         url('../font/ufont.com_bentonsans-medium-opentype-webfont.svg#bentonsansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1, h2, h3, h4, h5, h6{ font-family: 'Conv_BentonSans-Black_sOT'; letter-spacing:0.5px;}
h1 span.font-normal, h2 span.font-normal, h3 span.font-normal, h4 span.font-normal, h5 span.font-normal, h6 span.font-normal{ font-family: 'bentonsans-regular';}
p{ font-family: 'bentonsans-regular'; font-weight:normal; font-size:14px;}
p strong{ font-family: 'bentonsansmedium'; font-weight:normal;}
h5, h6{ font-family: 'bentonsansmedium'; font-weight:normal !important; letter-spacing:0.5px;}

/*body{
font-family: "Conv_BentonSans-Black_sOT";
  font-size: 16px;
 font-size: 18px;
}*/
 .border-color-container{ border:none;}

.border-color-container {
    border: medium none !important;
    box-shadow: 7px 7px 9px -4px rgba(218, 218, 218, 1);
}
 .masonry-item{margin-bottom:15px;}
 .thumb-cat .custom-title {
    bottom: auto;
    color: #000;
    padding: 5px 0;
   /* position: absolute;
    top: -23px;*/
    width: 100%;
}
.view-display-id-page_10 .color-title.pink .border-color-container {
    border: none;
}
 .read-more {
    background: #d72130 none repeat scroll 0 0;
    color: #fff;
    font-size: 14px; 
    font-weight: 600;
    padding: 3px 10px;
	
}
.read-more-article {
    padding-top: 17px;
}
.content-article .views-more-link {
    background-color: #ffb000;
    color: #ffffff;
	padding: 2px 8px;
}
/* .read-more:hover{
    color: #23527c !important;
    text-decoration: underline;
}*/
.video-teaser a {
    color: #2d2d2d !important;
    font-size: 16px !important;
}
.instagram {
    padding-left: 4px;
    padding-top: 10px !important;
}
.instagram:hover::after {
    color: #5f5f5f;
    content: "";
    font-size: 11px;
    left: -5px;
    position: absolute;
    text-decoration: none;
    top: 40px;
}
#bs-example-navbar-collapse-1 .ski-instruction {
	border:none !important;
    float: left;
}



/*--------------mobile----responsivecss-------------*/
/*@media only screen and (min-width:320px) and (max-width:1024px) {*/
/*@media only screen and (max-width:991px) {
.masonry-travels .masonry-item, .masonry-resort-travels .masonry-item{
	left: auto !important;
    position: initial !important;
    top: auto !important;
	}
.masonry-resort-travels .masonry{
	height:auto !important}
}
	
@media only screen and (max-width:480px) {
 .header-search .search-box {
    left: 2em;
    position: relative;
}
 .header-form-block .form-item-search-block-form input { width:auto !important;}

}
@media only screen and (min-width:481px) and (max-width:767px)  { 
	.header-form-block .form-item-search-block-form input { width:auto !important;}
.header-search .search-box {
    left: 24em;
    position: relative;
}
}
@media only screen and (min-width:768px) and (max-width:991px)  {
	.header-form-block .form-item-search-block-form input { width:auto !important;}
.header-search .search-box {
    left: 3em;
    position: relative;
}
}
@media only screen and (max-width:768px) {
.instagram > img {
    position: relative;
    top: -14px;
}
}

.video-node-content .forward_link.first.last {
    display: none;
}
.related-article-block .views-row img{
	height: 245px;
}*/

/*newcss-----------------pks----------------*/
.full-t {
    clear: both;
    display: block;
    width: 100%;
}
.color-title {
    float: left;
    position: relative;
	min-height: 324px;
}
.color-title .border-color-container {
    /*border: 2px solid #000000;
    box-shadow: 0 0 10px #dadada;*/
    clear: both;
    display: block;
	/* padding: 20px; */
    position: relative;
	 margin-bottom: 24px;
}
.little-padding {
    padding: 0 5px 10px;
}
.thumb-cat {
    clear: both;
    display: block;
   /* margin-bottom: 20px;*/
    position: relative;
}
/*.thumb-cat .custom-title {
    color: #000;
    padding: 5px 0;
}*/
.cat-page .color-title {
    margin-bottom: 15px;
}
.cat-border {
    float: left;
    width: 100%;
}

.cat-page .color-title{
  margin-bottom: 15px;
}
.cat-border{
  width: 100%;
  float: left;
}
.hide{
  display: none;
}

.container-gear.owl-theme p{
  color: #000000;
}

.home-form{
  display: none;
}

.bx-wrapper{
  margin-bottom: 0;
}
.custom-title a {
    color: #000;
	font-family: "Conv_BentonSans-Black_sOT";
	 font-weight:normal;
	 text-transform:none;
	 font-size:26px;
}
/*.custom-title h2{ margin-top: 22px;} */
.field-content {
    font-size: 18px;
    font-weight: normal;
}
.content-article {
    color: #1d1d1d;
    font-size: 14px;
    font-weight: 500;
	/* padding-top: 18px;*/
}
/*.thumb-cat .custom-title {
    color: #000;
    padding: 5px 0;
}*/

/* Top menu hover -------------- */
.expanded:hover ul.dropdown-menu {
    display: block;
}

/*A*/
.channel-gear-block .custom-title a{font-size:18px;}
.channel-gear-block .border-color-container{min-height:340px;}
.page-full-container h1{font-size:30px;margin-top:0;margin-bottom:15px;}
.breadcrumbs{padding-bottom:15px;}

.skis-tab.z-active a{background:url(http://skinet-construction.com/skiing/sites/all/themes/skiing_theme/images/ski-small.png)no-repeat !important;background-color:#ffb000 !important;background-position:8px center !important;display:inline-block;padding-left: 20px !important;} 

.apparel-tab.z-active a{background:url(http://skinet-construction.com/skiing/sites/all/themes/skiing_theme/images/apparel_small.png)no-repeat !important;background-color:#ffb000 !important;background-position:8px center !important;display:inline-block;padding-left: 34px !important;} 

.boots-tab.z-active a{background:url(http://skinet-construction.com/skiing/sites/all/themes/skiing_theme/images/smallboots2.png)no-repeat !important;background-color:#ffb000 !important;background-position:8px center !important;display:inline-block;padding-left: 34px !important;} 

.front .more-link{background:#ffb104;font-size:16px;text-transform:uppercase;padding:5px 10px;color:#fff; font-weight:normal;}


@media only screen and (max-width: 768px) {
.responsive-menus.responsified span.toggler{display:inline-block;top:0;right:0;position:absolute;background:#ffb000;}
.responsive-menus.responsified .responsive-menus-simple{background:#ffb000;}
.responsive-menus .region-navigation{width:100%;}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a,
.nav-primary li > a:hover{color:#000 !important;}
.responsive-menus.responsified .responsive-menus-simple{box-shadow:none;}
.responsive-menus.responsified.responsive-toggled.absolute{position:static;}
.responsive-menus form {
    display: none;
}

.ski-img{
	width:100%;
	border:2px solid #ffb000;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.view view-gallery-nodes .col-sm-3, .col-sm-9 {
    width: 75% !important;
}
.view-gallery-nodes .col-sm-3 {
    padding-left: 0 !important;
}
.view-gallery-nodes .views-slideshow-controls-top {
    float: right;
    margin-right: 0!important;
	margin-top: 0!important;
}
.view-gallery-nodes .gallery-content h3{
	 padding-top: 18px !important;
}
.view-gallery-nodes .col-sm-3 {
    width: 25% !important;
}
}

@media only screen and (max-width: 767px) {
.view-gallery-nodes .views-slideshow-controls-top {
    float: none !important;
    margin: 20px auto !important;
}
}
@media only screen and (min-width: 769px) {
	.search-mobile{display:none;}
}

.channel-title {padding-left: 10px;}
@media only screen and (max-width: 991px) {
	.group-product-wrap #ski-img{
		width:48% !important;
		border:2px solid #ffb000;
		padding:20px;
	}
	.group-product-wrap .group-ski-others{
		width:50% !important;
		margin-left:2%;
	}
}

/*--------------pks-new-css------------------*/
.front .container-fluid {
    margin: 0;
    padding: 0;
}
.front .row {
    margin: 0;
    padding: 0;
}
.front .adventure-slider .owl-controls .owl-prev, .front .adventure-slider .owl-controls .owl-next,
.front .instagram-slider .owl-controls .owl-prev, .front .instagram-slider .owl-controls .owl-next {
	background-image: url(../images/slider_arrows.png);
    color: #ffb000;
    display: block;
    font-size: 20px;
    height: 42px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    width: 28px;
	overflow:hidden;
	text-indent:-99px;
}
.front .adventure-slider .owl-prev,
.front .instagram-slider .owl-prev {
    float: left;
	top:-189px;
	background-position:top left;
}
.front .adventure-slider .owl-next,
.front .instagram-slider .owl-next {
    float: right;
	top:-189px;
	background-position:top right;
}
#popup-announcement-close {
    background-image:none!important;
    bottom: 0px !important;
    height: auto !important;
    position: absolute;
    right: 1px;
    width: auto !important;
}
#popup-announcement-close:hover {
   background-image:none!important;
    cursor: pointer;
}
#popup-announcement-close::before {
    background: #000 none repeat scroll 0 0 !important;
	background-image:none;
    bottom: 413px;
    color: #ffb000;
    content: "x";
    font-size: 34px;
    padding: 0 18px 3px;
    position: absolute;
    right: 26px;
    text-align: center;
	z-index:9999;
}
.popup-content {
    padding: 29px 0 35px 14px;
}
.popup-h1 {
    font-size: 44px !important;
    padding-top: 20px !important;
}
.popup-image {
    padding-top: 33px;
}
#popup-announcement {
    padding: 15px !important;
}

/* Brightvideo add-content -popup */

.page-node-add-brightcove-videos #browse-dialog{
	width: -moz-available !important;

}

/* Videos- submenus */

.video-menus li.active a,
.video-menus li.active a:hover,
.video-menus li.active a:focus,
.video-menus li a:hover,
.video-menus li a:focus{
	background-color:#FFB000;
	color:#fff;
	text-decoration:none;
}
.video-menus li a{
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
    color: #989898;
    font-family: "Conv_BentonSans-Black_sOT";
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    text-align: center;
	border:1px solid #ebebeb;
	display:block;
}
.video-menus .leaf{
	float: left;
	margin-left: 15px;
}

.field-type-brightcove-field{
	padding-top: 30px; 
}

@media only screen and (max-width : 479px) {

.video-node-content .BCLvideoWrapper{ position: static !important;}

}

@media only screen and (max-width :782px) {
	#popup-announcement-wrap{
	left: 0 !important;
    width: 100% !important;
	z-index:999999;
}
#popup-announcement-wrap .popup-wrap .popup-subscribe{
	padding:5px 10px !important;
	font-size:14px !important;
	margin:25px auto 0;
}
#popup-announcement-wrap .popup-wrap .popup-content{
	padding-bottom:0 !important;
}
#popup-announcement-wrap .popup-wrap{
	top:50px !important;
}
.row .popup-h1{
	font-size:170% !important;
	padding-top:10px !important;
}
#popup-announcement-close::before{
	bottom: 370px !important;
	z-index:9999;
}
.popup-image{
	text-align:center;
}
#popup-announcement-wrap .popup-wrap a .popup-subscribe{
	width:120px !important;
}
}
#popup-announcement-wrap .popup-wrap a:hover, 
#popup-announcement-wrap .popup-wrap a:focus{
 text-decoration:none !important;
}
#popup-announcement-wrap{
	background:none !important;
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
}
#popup-announcement-wrap .popup-wrap{
	background: white;
    border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: auto;
    position:relative;
    z-index: 9999;
}

.view-gallery-nodes .views-slideshow-controls-text a {
    background-image: url("../images/gallery_slider_arrow.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 30px;
    overflow: hidden;
    text-indent: 999px;
    width: 33px;
}
.view-gallery-nodes #views_slideshow_controls_text_next_gallery_nodes-page  a {
    background-position: right top;
}
.view-gallery-nodes #views_slideshow_controls_text_previous_gallery_nodes-page a {
    background-position: left top;
}
.view-gallery-nodes .views-slideshow-controls-top {
    float: right;
    margin-right: -20%;
   /* margin-top: -3%;*/
    position: relative;
    width: 138px;
}
.view-gallery-nodes .views-slideshow-controls-top .views-slideshow-controls-text-previous {
	left: 0;
    position: absolute;
    z-index: 99;
}
.view-gallery-nodes #views_slideshow_controls_text_previous_gallery_nodes-page{display:block;}
.view-gallery-nodes #views_slideshow_controls_text_pause_gallery_nodes-page > a {
    display: none;
}
.view-gallery-nodes #views_slideshow_controls_text_next_gallery_nodes-page a:hover, .view-gallery-nodes #views_slideshow_controls_text_next_gallery_nodes-page a:focus {
    background-position: right bottom;
}
.view-gallery-nodes #views_slideshow_controls_text_previous_gallery_nodes-page a:hover, .view-gallery-nodes #views_slideshow_controls_text_previous_gallery_nodes-page a:focus {
    background-position: left bottom;
}
.view-gallery-nodes #views_slideshow_slide_counter_gallery_nodes-page {
    font-family: Georgia,serif;
    font-size: 15px;
    padding: 0 40px 0 41px;
}

.view-gallery-nodes .views_slideshow_cycle_main views_slideshow_main .col-sm-3 {
    margin-top: 25px;
}
.view-gallery-nodes .gallery-content h3 span {
    padding: 10px 0 !important;
}
.view-gallery-nodes .gallery-content h3 {
  color: #2d2d2d;
    float: left;
    font-size: 18px;
    height: auto;
    margin-bottom: 0;
    width: 100%;
	padding-bottom: 10px;
    padding-top: 24px;
}

.view-gallery-nodes .views-slideshow-controls-text-next.views_slideshow_controls_text_next.views-slideshow-controls-text-next-processed {
    position: absolute;
    right: 12px;z-index: 99;
}
.view-gallery-nodes .user-info{
	font-size:16px;
	}
	
@media only screen and (max-width :640px) {
.node-type-brightcove-videos .video-node-content .BCLvideoWrapper{
	height:600px;
}
}
@media only screen and (max-width : 1130px) {
.node-type-brightcove-videos .video-node-content .field-item.even{
	display:none;
}
}
@media only screen and (min-width : 1131px) {
.node-type-brightcove-videos .video-node-content .field-item.odd{
	display:none;
}
}
.page-search .sres .col-md-2 {
    display: none;
}
.page-search .search-results {
    padding: 0;
}
.read-more {
    background: #ffb000 !important;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 3px 10px;
}
.read-more-article a:hover {
    color: #fff;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background:none !important;
}

/*----custom-0--*/
.color-title .border-color-container{
 padding: 20px 20px 0;	
}