/*********************************************
* Custom theme Styles
*********************************************/

@font-face {
	font-family: 'HelveticaNeue-Roman';
	src: url('../fonts/HelveticaNeue-Roman.eot');
	src: url('../fonts/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue-Roman.woff') format('woff'),  url('../fonts/HelveticaNeue-Roman.ttf') format('truetype'),  url('../fonts/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue-Ex';
	src: url('../fonts/HelveticaNeue-Ex.eot');
	src: url('../fonts/HelveticaNeue-Ex.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue-Ex.woff') format('woff'),  url('../fonts/HelveticaNeue-Ex.ttf') format('truetype'),  url('../fonts/HelveticaNeue-Ex.svg#HelveticaNeue-Ex') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue-UltLtEx';
	src: url('../fonts/HelveticaNeue-UltLtEx.eot');
	src: url('../fonts/HelveticaNeue-UltLtEx.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue-UltLtEx.woff') format('woff'),  url('../fonts/HelveticaNeue-UltLtEx.ttf') format('truetype'),  url('../fonts/HelveticaNeue-UltLtEx.svg#HelveticaNeue-UltLtEx') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'HelveticaNeue-Roman';
	font-size: 18px;
}
img {
	max-width: 100%;
}
.loader {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999999999;
	background: #ffb000;
	padding-top: 25%;
	text-align: center;
	display: block;
}
.load-end {
	display: none;
}
.wrap {
	position: relative;
	max-width: 1259px;
	margin: 0 auto;
	padding: 0 40px;
}
#header {
	position: relative;
	display: block;
	clear: both;
	background: #000000;
	padding: 30px 0;
	padding-bottom: 10px;
}
.navbar-header {
	margin-right: 55px !important;
}
.nav-primary li {
	padding: 20px 10px;
}
.nav-primary li > a {
	color: #ffffff !important;
	text-transform: uppercase;
	font-size: 15px;
	padding: 0;
	outline: none !important;
}
.nav-primary li a {
	border-right: 1px solid #343434;
	padding-right: 18px;
}
.nav-primary li:nth-last-child(1) a {
	border-right: none;
	padding-right: 0;
}
.navbar-default {
	background: #000000 !important;
	border: none !important;
	box-shadow: none !important;
}
.dropdown-menu {
	background-color: #000000 !important;
}
.collapse.navbar-collapse {
	position: relative;
	top: -5px;
}
.navbar-nav > li > .dropdown-menu {
	margin-top: -1px !important;
	padding: 0 !important;
	margin-left: -12px;
}
.navbar-nav > li > .dropdown-menu li a {
	border-right: none;
	padding-right: 0px;
	font-size: 14px;
	text-transform: none;
}
.navbar-nav > li > .dropdown-menu li {
	position: relative;
	padding: 7px 25px;
	border-bottom: 1px solid #343434;
}
.navbar-nav > li > .dropdown-menu li a:hover:before {
/* content: "";
    position: relative;
    font-size: 18px;
    display: inline-block;
    color: #ffb000;
    margin-right: 10px;*/
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a, .nav-primary li > a:hover {
	color: #ffb000 !important;
	background: transparent !important;
}
.navbar-nav {
	float: none !important;
	text-align: center;
}
.navbar-default {
	margin-bottom: 0;
}
.search-button {
	position: absolute;
	right: 0;
	top: 10px;
	cursor: pointer;
	color: #ffffff;
}
.search-header {
	position: absolute;
	right: 0;
	top: 8px;
}
.search-header .search-field {
	/*display: none;*/
	top: 8px;
	position: relative;
	width: 30px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	background: url(../images/bg_search.png) no-repeat;
	background-position: left 3px;
	border: none;
	color: transparent;
}
.search-header .search-field:hover {
	opacity: 1;
	width: 150px;
	background: url(../images/bg_search_hover.png) #ffffff no-repeat 6px 6px;
	padding-left: 35px;
	color: #000000;
}
.search-header .input-group-btn {
	display: none;
}
/*********************************************
* Slider
*********************************************/
.big-slider {
	position: relative;
	display: block;
	clear: both;
}
.big-slider h2 {
	font-size: 45px;
	font-weight: bold;
}
.big-slider .item {
	position: relative;
}
.big-slider .owl-controls {
	/*  position: absolute;
    top: 45%;*/
	width: 100%;
}
.big-slider .owl-controls .owl-buttons {
	position: absolute;
	top: 45%;
	width: 100%;
}
.big-slider .owl-controls .owl-pagination {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}
.big-slider .item img {
	width: 100%;
}
.big-slider .owl-controls .owl-prev, .big-slider .owl-controls .owl-next {
	position: relative;
	display: block;
	width: 28px;
	height: 42px;
	color: #ffb000;
	text-align: center;
	padding-top: 5px;
	font-size: 20px;
	background-image: url(../images/slider_arrows.png);
	overflow:hidden;
	text-indent:-99px;
}
.big-slider .owl-controls .owl-prev {
	float: left;
	background-position:bottom left;
	left:10px;
}
.big-slider .owl-controls .owl-next {
	float: right;
	background-position:bottom right;
	right:10px;
}
.big-slider .owl-controls .owl-prev:hover {
	background-position:top left;
}
.big-slider .owl-controls .owl-next:hover {
	background-position:top right;
}




.text-slider {
	position: absolute;
	display: block;
	clear: both;
	color: #ffffff;
	bottom: 0;
	background: url(../images/slider/background.png);
	background-position: bottom center;
	width: 100%;
}
.text-slider a {
	color: #fff;
	font-size:12px;
	cursor: pointer;
	text-decoration: none;
	margin-left: 5px;
	background-color:rgba(255, 176, 0, 1);
	padding:5px 10px;
	letter-spacing:1px;
}
.text-slider a:hover{
	background-color:rgba(255, 176, 0, 0.8);
}
/*==================================================================*/
header nav {
	text-align: right;
}
header nav .region-navigation {
	width: 170px;
	display: inline-block;
}
.social {
	position: relative;
	display: block;
	clear: both;
	text-align: center;
	padding: 10px;
	background: #ebebeb;
}
.social #vimeo, .social #facebook, .social #twitter, .social #linkedin, .social #rss, .social #google {
	background-size: 100% 100%;
	height: 35px;
	width: 35px;
	text-indent: -9999px;
}
.social #vimeo {
	background: url('../images/icons/vimeo.png');
}
.social #facebook {
	background: url('../images/icons/facebook.png');
}
.social #twitter {
	background: url('../images/icons/twitter.png');
}
.social #linkedin {
	background: url('../images/icons/linkedin.png');
}
.social #rss {
	background: url('../images/icons/rss.png');
}
.social #google {
	background: url('../images/icons/google.png');
}
#block-block-5 form fieldset br, .social br, #social-logos-footer br {
	display: none;
}
.social a {
	display: inline-block;
	margin: 15px;
}
#block-block-5 form {
	position: relative;
	max-width: 1259px;
	margin: 0 auto;
	padding: 5px 40px;
	height: 300px;
}
#block-block-5 h2.subscribe-form-title {
	text-align: center;
	font-size: 28px;
	color: #000000;
	font-weight: bold;
}
#block-block-5 form fieldset {
	position: relative;
	display: block;
	clear: both;
	background: #ebebeb;
	color: #000000;
	font-size: 14px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	font-weight: bold;
	margin-bottom: 35px;
	border: 0px;
	margin-top: 35px;
}
#block-block-5 form fieldset .ams-newsletter-signup {
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	font-family: 'HelveticaNeue-Roman';
}
#newsletter-topblock-input .edit-email-wrapper .form-item input {
	display: block;
	clear: both;
	max-width: 500px;
	float: none;
	margin: 0 auto;
	width: 100%;
	padding: 7px 25px;
	margin-bottom: 15px;
	margin-top: 15px;
}
#newsletter-topblock-input p input[type="submit"] {
	position: relative;
	display: block;
	clear: both;
	margin: 0 auto;
	border: none;
	background: #ffb104;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
	padding: 5px 10px;
}
#block-block-5 form fieldset p {
	margin: 0;
}
/*************************************
* Home Content
*************************************/
.block-area {
	position: relative;
	display: block;
	clear: both;
	padding: 35px 0;
}
.section-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	color: #000000;
	font-weight: bold;
	font-family: 'HelveticaNeue-Ex';
}
.stoke-block {
	position: relative;
	display: block;
	clear: both;
	margin-bottom: 15px;
}
.stoke-static {
	position: relative;
	display: block;
	clear: both;
	min-height: 273px;
	text-align: center;
	border: 1px solid #ffbc26;
	padding: 0 20px;
}
.stoke-block.yellow .stoke-hidden {
	background: rgba(233, 166, 14, 0.91);
}
.stoke-block.blue .stoke-hidden {
	background: rgba(148, 244, 248, 0.9);
}
.stoke-block .stoke-hidden {
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 0;
	max-width: 95%;
	height: 95%;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 7px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.stoke-block:hover .stoke-hidden {
	opacity: 1;
}
.stoke-hidden h5 {
	font-size: 20px;
	color: #ffffff;
	text-transform: uppercase;
}
.stoke-static h5 {
	font-size: 20px;
	text-transform: uppercase;
	color: #ffb000;
	margin-bottom: 35px;
}
.stoke-static p {
	font-family: 'HelveticaNeue-Ex';
	font-size: 22px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 35px;
}
.stoke-static .read {
	color: #ffffff;
	background: #ffb000;
}
.stoke-hidden h5 span {
	padding-bottom: 5px;
	border-bottom: 1px solid #ffffff;
	margin-bottom: 20px;
}
.stoke-hidden .date {
	font-size: 18px;
	color: #000000;
}
.stoke-hidden p {
	font-family: 'HelveticaNeue-Ex';
	font-size: 22px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 35px;
}
.read {
	position: relative;
	display: block;
	clear: both;
	width: 220px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 20px;
	background: #ffffff;
	margin: 0 auto;
	padding: 10px;
	outline: none !important;
	text-decoration: none !important;
}
/****************************************
* Home Subscribe
*****************************************/
.subscribe-content {
	position: relative;
	display: block;
	clear: both;
	background: #ebebeb;
	color: #000000;
	font-size: 14px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	font-weight: bold;
	margin-bottom: 35px;
}
.subscribe-content form input[type="email"] {
	display: block;
	clear: both;
	max-width: 500px;
	float: none;
	margin: 0 auto;
	width: 100%;
	padding: 7px 25px;
	margin-bottom: 15px;
}
.subscribe-content form input[type="submit"] {
	position: relative;
	display: block;
	clear: both;
	margin: 0 auto;
	border: none;
	background: #ffb104;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
	padding: 5px 10px;
}
/**************************************
* Home Reviews
**************************************/
.reviews-slider, .reviews-slider-h, .videos-slider {
	position: relative;
	display: block;
	clear: both;
	background: #000000;
	color: #ffffff;
	text-align: center;
	margin-bottom: 5px;
}
.videos-container {
	position: relative;
	display: block;
	clear: both;
	background: #000000;
	color: #ffffff;
}
.reviews-slider-h {
	background: transparent;
}
.reviews-slider .review-hidde:hover, .reviews-slider-h .review-hidde:hover {
	background: rgba(0, 0, 0, 0.4);
}
.reviews-slider .owl-pagination, .reviews-slider-h .owl-pagination, .videos-slider-h .owl-pagination {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
}
.adventure-slider .owl-pagination, .instagram-slider .owl-pagination {
	position: relative;
	width: 100%;
	text-align: center;
}
.reviews-slider .owl-pagination .owl-page, .reviews-slider-h .owl-pagination .owl-page, .videos-slider .owl-pagination .owl-page, .adventure-slider .owl-pagination .owl-page, .instagram-slider .owl-pagination .owl-page {
	position: relative;
	display: inline-block;
	width: 15px;
	margin: 0 5px;
	height: 15px;
	background: url(../images/pagination/normal.png);
}
.adventure-slider .owl-pagination .owl-page, .instagram-slider .owl-pagination .owl-page {
	border-radius: 100%;
	background: transparent;
	border: 1px solid #d7d7d7;
}
.big-slider .owl-pagination .owl-page {
	border-radius: 100%;
	background: transparent;
	border: 1px solid #d7d7d7;
	position: relative;
	display: inline-block;
	width: 15px;
	margin: 0 5px;
	height: 15px;
}
.reviews-slider .owl-pagination .owl-page:hover, .reviews-slider .owl-pagination .owl-page.active, .reviews-slider-h .owl-pagination .owl-page:hover, .reviews-slider-h .owl-pagination .owl-page.active, .videos-slider .owl-pagination .owl-page:hover, .videos-slider .owl-pagination .owl-page.active {
	background: url(../images/pagination/active.png);
}
.adventure-slider .owl-pagination .owl-page:hover, .adventure-slider .owl-pagination .owl-page.active, .big-slider .owl-pagination .owl-page.active, .big-slider .owl-pagination .owl-page:hover {
	background: #ffb000;
	border-color: #ffb000;
}
.instagram-slider .owl-pagination .owl-page:hover, .instagram-slider .owl-pagination .owl-page.active {
	background: #000000;
	border-color: #000000;
}

.reviews-slider .review-hidde{
	opacity:0;
}
.reviews-slider .review-hidde .gear-front a.read{
	background:rgba(255, 177, 4, 0.9) !important;
}
.reviews-slider .review-hidde .gear-front{
	position:relative;
	top:40%;
}
.reviews-slider .review-hidde .gear-front .field-content a{
	color: #000000;
    font-size: 22px;
    font-weight: bold;
	margin-bottom:15px;
}
.reviews-slider .review-hidde .gear-front .field-content a:hover{
	text-decoration:none;
}
.reviews-slider .review-hidde:hover{
	opacity:1;
}
.review-hidde {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.review-hidde h3 {
	position: relative;
	top: 55%;
	margin: auto;
	text-transform: uppercase;
}
.review-hidde h3 a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
.videos-container {
	text-align: center;
	padding: 35px;
	margin-bottom: 30px;
}
.videos-container h3 {
	text-transform: uppercase;
}
.more-vid {
	position: relative;
	display: block;
	clear: both;
	text-align: center;
}
.more-vid a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
}
/***************************************
* Home Adventure
***************************************/
.adventure-slider {
	position: relative;
	display: block;
	clear: both;
	margin-bottom: 40px;
}
.thumb-container {
	position: relative;
	display: block;
	clear: both;
	margin-bottom: 15px;
}
.thumb-container a {
	background: rgba(255, 177, 4, 0.9);
	position: absolute;
	color: #ffffff;
	opacity: 0;
	top: 45%;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.thumb-container:hover a {
	opacity: 1;
}
.adventure-info p {
	font-size: 16px;
	color: #989898;
}
.adventure-info h5 {
	font-size: 22px;
	color: #000000;
	font-weight: bold;
}
.advertisement-image {
	text-align: center;
	display: block;
	clear: both;
	margin-bottom: 35px;
}
/****************************************
* Instagram Slider
****************************************/
.instagram-container {
	position: relative;
	display: block;
	clear: both;
	background: #ebebeb;
	padding: 35px;
	padding-bottom: 20px;
	margin-bottom: 50px;
}
.instagram-container .section-title {
	margin-bottom: 25px;
}
.instagram-slider .item {
	text-align: center;
	position: relative;
}
.inst-photo img {
	margin-bottom: 55px;
	position: relative;
}


/***************************************
* Page Content
***************************************/
.page-full-container {
	position: relative;
	display: block;
	clear: both;
	padding-top: 60px;
	padding-bottom: 70px;
}
.body-contact .page-full-container {
	padding-top: 0;
}
.body-contact .sidebar .block-sidebar h3 {
	margin-top: 60px;
}
.body-contact .page-content a {
	color: #ffb000;
}
.node-type-video .page-content {
	padding-top: 20px;
}
.video-iframe {
	position: relative;
	display: block;
	clear: both;
	height: 490px;
}
.video-iframe iframe {
	width: 100%;
	height: 490px;
}
.signup-image {
	position: relative;
	display: block;
	clear: both;
	padding-top: 25px;
}
.align-left {
	float: left;
	margin-right: 40px;
}
.breadcrumbs {
	font-size: 18px;
	font-family: 'HelveticaNeue-Roman';
	font-style: italic;
	font-weight: 100;
	color: #b3b3b3;
}
.breadcrumbs a {
	color: #b3b3b3;
}
.breadcrumbs span {
	color: #ffb000;
}
.page-full-container h1 {
	font-size: 48px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 30px;
	margin-top: 50px;
}
.feature-image img {
	margin-bottom: 17px;
}
.feature-image p {
	color: #989898;
	font-size: 12px;
	font-style: italic;
	font-weight: 100;
}
.page-content h2 {
	margin-top: 40px;
	font-size: 28px;
	font-weight: bold;
	color: #000000;
}
.page-content h2 span {
	color: #ffb000;
	text-transform: uppercase;
	font-size: 18px;
}
.info-d {
	color: #989898;
	font-size: 16px;
	font-weight: 100;
	font-style: italic;
	margin-bottom: 40px;
}
.page-content p {
	margin-bottom: 30px;
	font-size: 18px;
}
.page-content p:last-child {
	margin-bottom: 0;
}
.page-content p br {
	display: none;
}
.page-content .full-c {
	position: relative;
	display: block;
	clear: both;
	width: 100%;
	float: left;
}
.sidebar {
	position: relative;
	display: block;
	clear: both;
}
.sidebar .block-sidebar {
	position: relative;
	display: block;
	clear: both;
	margin-bottom: 55px;
}
.sidebar .block-sidebar h3 {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	border-bottom: 1px solid #000000;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 10px;
}
.block-sidebar .col-md-4, .block-sidebar .col-md-8 {
	padding: 0;
}
.block-sidebar .list-item p {
	margin-bottom: 0;
}
.block-sidebar .list-item h5 {
	margin-top: 0;
}
.block-sidebar .list-item h5 a {
	color: #2d2d2e;
	font-weight: bold;
}
.related-posts {
	position: relative;
	display: block;
	clear: both;
}
.related-posts h3 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 1px solid #000000;
	margin-bottom: 20px;
}
.related-posts img {
	margin-bottom: 15px;
}
.related-posts p {
	color: #989898;
	font-size: 14px;
	font-weight: 100;
	margin-bottom: 10px;
}
.related-posts h4 a {
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}
.more-images {
	position: relative;
	display: block;
	clear: both;
	margin-bottom: 70px;
}
.more-images h4 {
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}
.images-gallery {
	padding: 15px 35px;
	background: #ebebeb;
	text-align: center;
	position: relative;
}
.images-gallery .owl-controls.clickable {
	position: absolute;
	top: 40%;
	left: 0;
	width: 100%;
}
.images-gallery .owl-controls.clickable .owl-prev {
	float: left;
	margin-left: 20px;
	color: #fbba29;
	font-weight: bold;
	font-family: 'HelveticaNeue-Roman';
	font-size: 35px;
}
.images-gallery .owl-controls.clickable .owl-next {
	float: right;
	margin-right: 20px;
	color: #fbba29;
	font-weight: bold;
	font-family: 'HelveticaNeue-Roman';
	font-size: 35px;
}
.video-content {
	position: relative;
	display: block;
	clear: both;
	margin-bottom: 25px;
}
.video-content .video-thumb {
	position: relative;
	display: block;
	clear: both;
	margin-bottom: 10px;
}
.video-content .video-thumb div {
	position: absolute;
	padding-top: 40px;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.video-content .video-thumb div:hover {
	background: rgba(251, 186, 41, 0.9);
}
.video-content p {
	color: #989898;
	font-size: 14px;
	font-weight: 100;
	margin-bottom: 0;
}
.video-content a {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.video-slider .owl-controls {
	position: absolute;
	top: -45px;
	right: 0;
}
.video-slider .owl-controls .owl-page {
	position: relative;
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	background: #d4d4d4;
	margin: 0 2px;
}
.video-slider .owl-controls .owl-page.active, .video-slider .owl-controls .owl-page:hover {
	background: #f9b620;
}
/*======================= Footer ====================== */
.footer {
	background: #000000;
	color: #ffffff;
	float: left;
	width: 100%;
}
.view-popular-block-for-footer .view-content .views-field-field-image {
	display: block;
	min-height: 69px;
	min-width: 69px;
	width: 20%;
	float: left;
}
.view-popular-block-for-footer .views-field-field-image .field-content img {
	width: 61px !important;
	height: 61px !important;
}
.view-popular-block-for-footer .views-field-title .field-content a {
	font-size: 16px;
	color: #fff;
}
.view-display-id-block_2 .views-field-title .field-content a, .view-display-id-block_1 .views-field-title .field-content a {
	color: #000;
}
.view-popular-block-for-footer .views-field-created {
	margin-bottom: 10px;
}
#views_slideshow_cycle_main_video_block_for_front-block_1 .views-field-created .field-content, .view-popular-block-for-footer .views-field-created .field-content {
	color: #989898;
}
#block-simple-weather-simple-weather-report .block-title, #block-views-popular-block-for-footer-block .block-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 0;
}
.view-popular-block-for-footer .views-field-title {
	float: left;
	width: 75%;
	display: inline-block;
	font-size: 17px;
	margin-bottom: 6px;
}
#block-simple-weather-simple-weather-report #simple-weather h2 {
	font-family: Helvetica, Arial, sans-serif;
	position: absolute;
	padding-left: 15px;
	bottom: 70px;
}
#block-simple-weather-simple-weather-report #simple-weather img {
	width: 95%;
	padding: 0px;
	/*border: 10px solid #ccc;*/
	border-radius: 2px;
	margin-bottom: 15px;
}
#block-simple-weather-simple-weather-report #simple-weather .report {
	position: absolute;
	float: right;
	font-size: 38px;
	line-height: 38px;
	padding-left: 190px;
	padding-top: 30px;
	top: 55px;
}
#block-simple-weather-simple-weather-report #simple-weather a {
	font-size: 15px;
	color: #fff;
}
#block-block-6 .footer-skiing-info p {
	font-size: 13px;
}
#social-logos-footer {
	position: relative;
	display: block;
	clear: both;
	text-align: center;
	padding: 10px;
}
#block-block-6 .footer-skiing-info #social-logos-footer a {
	display: inline-block;
	margin: 10px 8px 0px 7px;
	width: 26px;
	height: 26px;
	text-indent: -9999px;
}
#block-block-6 .footer-skiing-info #social-logos-footer a#dribble {
	background: url('../images/footer/dribble.png') no-repeat;
	background-size: 100% 100%;
}
#block-block-6 .footer-skiing-info #social-logos-footer a#google {
	background: url('../images/footer/google.png') no-repeat;
	background-size: 100% 100%;
}
#block-block-6 .footer-skiing-info #social-logos-footer a#twitter {
	background: url('../images/footer/twitter.png') no-repeat;
	background-size: 100% 100%;
}
#block-block-6 .footer-skiing-info #social-logos-footer a#facebook {
	background: url('../images/footer/facebook.png') no-repeat;
	background-size: 100% 100%;
}
#block-block-6 .footer-skiing-info #social-logos-footer a#rss {
	background: url('../images/footer/rss.png') no-repeat;
	background-size: 100% 100%;
}
#block-block-6 .footer-skiing-info #social-logos-footer a#github {
	background: url('../images/footer/github.png') no-repeat;
	background-size: 100% 100%;
}
#block-block-6 .footer-skiing-info #social-logos-footer a#linkedin {
	background: url('../images/footer/linkedin.png') no-repeat;
	background-size: 100% 100%;
}
#block-block-6 .footer-skiing-info #social-logos-footer a#pinterest {
	background: url('../images/footer/pinterest.png') no-repeat;
	background-size: 100% 100%;
}
#block-block-6 .footer-skiing-info #stoke-me {
	position: relative;
	display: block;
	clear: both;
	text-align: center;
	text-transform: uppercase;
	color: #000000 !important;
	text-decoration: none;
	background: #99ffff;
	padding: 20px;
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
}
#block-block-7 {
	float: left;
	width: 95%;
	margin: 15px 5px 0 30px;
	border-top: 0.09em solid #fff;
}
#block-block-7 .footer-menu ul li {
	display: inline-block;
	list-style: none;
}
#block-block-7 .footer-rights {
	padding-top: 10px;
	text-align: center;
	width: 100%;
}
#block-block-7 .footer-menu ul li a {
	text-decoration: none;
	color: #fff;
	border-right: 0.1em solid #fff;
	padding: 0 4px;
	font-size: 10px;
}
#block-block-7 .footer-menu ul li.last a {
	border: none;
}
#block-block-7 .footer-rights .rights p {
	font-size: 12px;
}
.views-slideshow-cycle-main-frame-row {
	width: 100% !important;
}
/******************************************
* Footer
******************************************/


#footer {
	background: #000000;
	color: #ffffff;
	padding-top: 45px;
	padding-bottom: 30px;
}
#footer h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 0;
}
.list-item {
	position: relative;
	font-size: 14px;
	color: #989898;
	padding: 10px 0;
	border-bottom: 1px solid #414141;
}
.list-item:nth-last-child(1) {
	border-bottom: none;
}
.list-item h5 {
	margin-top: 0;
}
.list-item h5 a {
	color: #fffefe;
	font-size: 16px;
}
.list-item .col-md-9 {
	padding-left: 0;
}
.weather-content {
	background: #2e2e2e;
	position: relative;
	display: block;
	clear: both;
	padding: 15px;
}
.weather-content img {
	margin-bottom: 10px;
}
.weather-content a {
	color: #8f8f8f;
	font-size: 16px;
	font-weight: bold;
}
.copyright-footer {
	border-top: 1px solid #414141;
	font-size: 12px;
	font-family: 'HelveticaNeue-Roman';
	padding: 25px 0;
}
.block-footer {
	margin-bottom: 30px;
}
.about-footer p {
	margin-top: 20px;
}
.copyright-footer ul {
	list-style-type: none;
}
.copyright-footer ul li {
	display: inline-block;/*    border-right: 1px solid #343434;
    padding: 0 20px;*/
}
.copyright-footer ul li:last-child {
	border: 0;
}
.footer-menu li:nth-child(1) a {
	padding-left: 0;
}
.footer-menu li:nth-child(1):before {
	display: none;
}
.about-footer {
	font-size: 13px;
	font-weight: 100;
}
.socials-footer {
	letter-spacing: 10px;
	margin-bottom: 60px;
}
.socials-footer a {
	color: #ffffff;
	font-size: 25px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.socials-footer .dribbble-footer:hover {
	text-shadow: 2px 2px 2px #F2598F;
}
.socials-footer .google-footer:hover {
	text-shadow: 2px 2px 2px #EC6756;
}
.socials-footer .twitter-footer:hover {
	text-shadow: 2px 2px 2px #25ADDF;
}
.socials-footer .facebook-footer:hover {
	text-shadow: 2px 2px 2px #124586;
}
.socials-footer .rss-footer:hover {
	text-shadow: 2px 2px 2px #F7AA34;
}
.socials-footer .github-footer:hover {
	text-shadow: 2px 2px 2px #B5C735;
}
.socials-footer .linkedin-footer:hover {
	text-shadow: 2px 2px 2px #127EBF;
}
.socials-footer .pinterest-footer:hover {
	text-shadow: 2px 2px 2px #C72429;
}
.footer-menu a {
	font-size: 12px;
	color: #ffffff;
	font-family: 'HelveticaNeue-Roman';
	padding: 0 5px;
	padding-right: 3px;
}
.footer-menu li:before {
	content: "|";
	color: #6b6b6b;
}
.stoke-me {
	position: relative;
	display: block;
	clear: both;
	text-align: center;
	text-transform: uppercase;
	color: #000000 !important;
	text-decoration: none;
	background: #99ffff;
	padding: 15px 20px;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none !important;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
#block-block-6 a.stoke-me:nth-of-type(1) {
	display: none;
}
.stoke-me:hover {
	opacity: 0.7;
}
/*============================ Stoke Page ================================*/
.not-front #block-system-main {
	width: 100%;
	padding: 0 70px;
}
.view-stoke-page .view-content {
	width: auto;
	margin: 10px 0;
}
.view-stoke-page .views-field-title-1 {
	margin-bottom: 10px;
	font-size: 48px;
	font-weight: bold;
	color: #000000;
}
.view-stoke-page .views-field-field-image .field-content img {
	width: 100%;
	min-height: 480px;
}
.view-stoke-page .views-field-field-photo-credit {
	color: #989898;
	font-size: 12px;
	font-style: italic;
	font-weight: 100;
	margin: 10px 0;
}
.view-stoke-page .views-field-title .field-content p.title {
	margin-top: 30px;
	font-size: 28px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 10px;
}
.view-stoke-page .views-field-title .field-content p.title span {
	color: #ffb000;
	text-transform: uppercase;
	font-size: 18px;
}
.view-stoke-page .views-field-created {
	color: #989898;
	font-size: 16px;
	font-weight: 100;
	font-style: italic;
	margin-bottom: 40px;
}
.view-stoke-page .views-field-body .field-content {
	margin-bottom: 30px;
	font-size: 18px;
}
.view-display-id-block_1 .views-row, .view-display-id-block_2 .views-row {
	line-height: 1.2em;
	font-size: 13px;
	float: left;
	width: 80%;
	padding: 10px 0 0 0;
	border-top: 1px solid #000;
	margin-bottom: 5px;
}
.region-sidebar-second .block-views .block-title {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	padding-top: 0;
	padding-bottom: 10px;
	margin-top: 40px !important;
}
.view-display-id-block_1 .views-field-created, .view-display-id-block_2 .views-field-created {
	margin-bottom: 3px;
}
.view-display-id-block_1 .views-field-title, .view-display-id-block_2 .views-field-title {
	width: 70%;
}
.view-display-id-block_1 .view-content .views-field-field-image, .view-display-id-block_2 .view-content .views-field-field-image {
	width: 30%;
}
.views-slideshow-pager-fields .embedded-video {
	display: none;
}
.views-slideshow-pager-field-item {
	height: 15px;
	width: 15px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 50px;
	cursor: pointer;
	background-color: #ccc;
}
.views-slideshow-pager-field-item:nth-child(n+4) {
	display: none;
}
.views-slideshow-pager-field-item.active {
	background-color: #f9b620;
}
.views-field-field-video-embed-code .embedded-video iframe {
	width: 100%;
	height: 100%;
}
.page-stoke .views-slideshow-pager-fields {
	float: right;
	margin-right: 70px;
	margin-top: -45px;
	margin-bottom: 10px;
}
#views_slideshow_cycle_main_video_block_for_front-block_1 .views-field-created {
	font-size: 14px;
}
#views_slideshow_cycle_main_video_block_for_front-block_1 .views-field-title {
	font-size: 16px;
	font-weight: bold;
}
#views_slideshow_cycle_main_video_block_for_front-block_1 .views-slideshow-cycle-main-frame-row-item {
	border: none;
	margin-bottom: 10px;
}
#block-views-video-block-for-front-block-1 .block-title {
	border-bottom: 1px solid #000;
	width: 80%;
}
.view-more-images-block-for-stoke-page .view-display-id-block_1 .views-field-field-image .field-content img {
	min-height: 200px;
}
.view-more-images-block-for-stoke-page .view-display-id-block_1 .view-content .views-row {
	width: 33%;
}
.view-more-images-block-for-stoke-page .view-display-id-block_1 .views-field-title, .view-more-images-block-for-stoke-page .view-display-id-block_1 .views-field-created, .view-more-images-block-for-stoke-page .view-display-id-block_1 .views-field-field-image {
	width: 100%;
	float: left;
	width: 100%;
	padding: 0 10px;
}
.view-more-images-block-for-stoke-page .jcarousel-skin-default {
	padding: 0 14px;
	margin: 0 5px;
	background-color: #ccc;
}
.view-more-images-block-for-stoke-page .view-display-id-block_1 .views-field-title {
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	margin: 15px 0;
	line-height: 20px;
}
.view-more-images-block-for-stoke-page .view-display-id-block_1 .views-field-created {
	margin-top: 10px;
}
#block-views-8aa5c45d33f2437952aec953bcf69d23 {
	padding: 0;
}
#block-views-8aa5c45d33f2437952aec953bcf69d23 .block-title {
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}
.page-stoke .view-more-images-block-for-stoke-page .jcarousel-container {
	width: 100%;
	padding: 0;
}
.page-stoke .view-more-images-block-for-stoke-page .jcarousel-item {
	width: 225px !important;
	height: 220px;
	margin: 0 10px;
}
.page-stoke .view-more-images-block-for-stoke-page .jcarousel-clip {
	width: 100%;
}
.page-stoke .view-more-images-block-for-stoke-page .views-field-field-image {
	height: 100%;
	width: 100%;
}
.page-stoke .view-more-images-block-for-stoke-page .field-content {
	height: 100%;
}
.page-stoke .view-more-images-block-for-stoke-page .field-content img {
	width: 100%;
	height: 100%;
}
.page-stoke .view-more-images-block-for-stoke-page .jcarousel-skin-default {
	text-align: center;
	float: left;
	width: 100%;
	padding: 15px 35px;
	background-color: #ebebeb;
	margin-bottom: 60px;
}
.page-stoke .view-more-images-block-for-stoke-page .jcarousel-skin-default .jcarousel-container {
	height: 220px;
}
.page-stoke .view-more-images-block-for-stoke-page .jcarousel-prev-horizontal {
	top: 100px;
	left: -37px;
}
.page-stoke .view-more-images-block-for-stoke-page .jcarousel-next-horizontal {
	top: 100px;
	right: -27px;
}
.page-stoke .view-more-images-block-for-stoke-page .jcarousel-prev {
	background-image: url('../images/previousjcarousel.png') !important;
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
.page-stoke .view-more-images-block-for-stoke-page .jcarousel-next {
	background-image: url('../images/nextjcarousel.png') !important;
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
.view-more-images-block-for-stoke-page .view-footer h3.related-post-title {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 1px solid #000000;
	margin-bottom: 20px;
}
.view-more-images-block-for-stoke-page .view-stoke-page .views-row {
	border: none;
	padding: 0;
}
#block-views-gear-reviews-block > .row, #block-views-how-to-slider-for-front-block > .row, #block-views-video-block-for-front-block > .row, #block-views-adventure-block-for-front-block > .row, #block-instagram-block-instagram-block-tag > .row {
	margin: 0;
}
/* Custom CSS */
.z-content-inner {
/*    background: #ebebeb; */
}
.gear-element {
	margin-top: 40px;
}
#gear-items {
	clear: both;/*background: #fff;*/
}
.z-content-inner .text-center {
	background: #fff;
}
.z-content-inner .text-center .pagination li.active a {
	background: #ffb000 !important;
	color: #fff !important;
}
.z-content-inner .text-center .pagination li span {
	padding: 8.5px 12px;
}
.instagram-container .owl-item {
	margin-right: 20px;
}
 select::-ms-expand {
 display: none;
}
.page-content .pagination li a {
	color: #989898;
	border: 1px solid #ebebeb;
}
.post-list .col-md-3 {
	padding-left: 0;
}
#simple-weather {
	background: #2e2e2e;
	padding: 20px 0px 22px 15px;
	margin-top: 10px;
}
.copyright-footer .col-md-7 {
	text-align: right;
	padding-right: 0;
}
.text-slider .wrap {
	margin-bottom: 30px;
}
/*********************************
* Site Map Styles
**********************************/
.sitemap .breadcrumbs {
	margin-bottom: 40px;
}
.sitemap-container {
	position: relative;
	display: block;
	clear: both;
}
.sitemap-container .sitemap-item {
	position: relative;
	display: block;
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 27px;
	font-family: 'HelveticaNeue-Roman';
	font-weight: bold;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	width: 175px;
}
.sitemap-container .sitemap-item ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}
.sitemap-container .sitemap-item ul li a {
	color: #ffb000;
	font-weight: 100;
}
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
/*****************************************
* Search Results Styles
*****************************************/
.search-results .navbar-form {
	padding-left: 0;
	padding-right: 0;
	margin-top: 40px;
}
.search-results .navbar-form input[type="text"] {
	width: 420px;
	margin-bottom: 15px;
	height: 42px;
}
.search-results .navbar-form button {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 100;
	padding: 7px 25px;
	font-size: 21px;
	background: #ffb000;
	border: none;
	border-radius: 0;
	font-family: 'HelveticaNeue-Roman';
}
.search-results .navbar-form .input-group {
	display: none;
}
.search-p-info p {
	font-size: 14px;
	color: #000000;
	margin-bottom: 7px;
}
.search-p-info h4 {
	margin-bottom: 20px;
}
.search-p-info h4 a {
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}
.sres {
	position: relative;
	display: block;
	clear: both;
	margin-bottom: 40px;
}
.body-gear-search .page-full-container h3 {
	margin-bottom: 25px;
}
.gear-element {
	position: relative;
	text-align: center;
	width: 180px;
	min-height: 280px;
	margin-bottom: 15px;
	float: left;
}
.gear-image {
	position: relative;
	display: block;
	clear: both;
	margin-bottom: 15px;
	min-height: 150px;
}
.gear-dsc h5 {
	margin-top: 0;
	color: #000000;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
}
.gear-dsc h5 > a {
	color: #000000;
	font-size: 14px;
}
.gear-dsc p {
	margin-bottom: 0;
	position: relative;
	display: block;
	clear: both;
	color: #000000;
	font-weight: 100;
	font-size: 14px;
}
.gear-dsc p strong {
	color: #ffb000;
}
.gear-dsc p strong span {
	font-weight: 100;
	color: #000000;
}
.compare-check {
	position: relative;
	display: block;
	clear: both;
	font-weight: 100;
	margin-top: 10px;
	font-size: 14px;
}
.line-separator {
	position: relative;
	display: block;
	clear: both;
	width: 100%;
	height: 1px;
	background: #000000;
	margin-top: 20px;
}
.z-tabs > .z-container > .z-content > .z-content-inner {
	padding: 0 !important;
	padding-top: 30px !important;
}
.z-tabs.silver > ul, .z-tabs.silver > ul > li > a, .z-tabs > .z-container {
	border: 0 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}
.custom-navs ul li a {
	font-size: 18px;
	font-weight: bold !important;
	color: #989898 !important;
	font-family: 'HelveticaNeue-Roman' !important;
	border: 1px solid #ebebeb !important;
	background-color: #ffffff !important;
}
.custom-navs ul li {
	margin-right: 15px;
}
.custom-navs ul li.z-active a {
	color: #ffffff !important;
	background-color: #ffb000 !important;
}
/********************************************
* Filters
*********************************************/
.more-filters {
	position: relative;
	display: block;
	clear: both;
}
.hide-block {
	display: none;
	position: relative;
	clear: both;
	padding: 15px 15px 0 15px;
}
.filters-container {
	position: relative;
	display: block;
	clear: both;
	background: #ebebeb;
	padding: 20px 30px;
	margin-bottom: 0px;
}
.filters-container h3 {
	text-transform: uppercase;
	color: #000000;
	font-size: 22px;
	font-family: 'HelveticaNeue-Ex';
	font-weight: bold;
}
.dropdown-filter {
	position: relative;
	display: block;
	clear: both;
	max-width: 315px;
}
.hide-block .dropdown-filter {
	max-width: 390px;
}
.dropdown-filter select {
	width: 100%;
	height: 42px;
	background: url(../images/drop-arrow.jpg) #ffffff no-repeat;
	background-position: top right !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 0 12px;
	color: #888888;
	border: 1px solid #d7d7d7;
	outline: none;
	cursor: pointer;
}
.toogle-btnmore {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 10px;
	cursor: pointer;
}
.sign {
	position: relative;
	display: inline-block;
	text-align: center;
	background: #000000;
	color: #ffffff;
	width: 27px;
	height: 27px;
	font-size: 28px;
	line-height: 20px;
	padding-top: 3px;
}
.t-mero {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 14px;
}

/*============================ Media Queries =============================*/
@media only screen and (max-width : 1200px) {
#block-views-stoke-block-for-front-block .views-slideshow-cycle-main-frame-row-item {
	width: 47% !important;
}
#block-instagram-block-instagram-block-tag {
	padding: 10px 0px 35px 65px
}
#block-instagram-block-instagram-block-tag {
	padding: 10px 0px 35px 0px;
	margin: 0 55px;
}
.videos-container .owl-item {
	padding-right: 10px;
}
.videos-container .owl-item iframe {
	width: 100% !important;
	height: 100% !important;
}
.report span {
	word-break: break-word;
	width: 100px;
	display: block;
}
}

@media only screen and (max-width : 992px) {
.page-full-container {
	padding-top: 20px;
	padding-bottom: 20px;
}
.page-full-container h1 {
	margin-top: 10px;
}
.views-slideshow-cycle-main-frame-row-item .views-field-title-1 .top-slider-body p.title {
	font-size: 35px;
}
#block-views-stoke-block-for-front-block .views-slideshow-cycle-main-frame-row-item {
	min-width: 0;
	margin: 10px 10px;
}
#block-views-adventure-block-for-front-block .views-slideshow-cycle-main-frame-row-item {
	min-width: 0px;
	margin: 10px 5px 0 7px;
}
#views_slideshow_cycle_main_adventure_block_for_front-block {
	width: 95%;
}
.view-popular-block-for-footer .views-field-title {
	width: 70%;
	margin-bottom: 20px;
}
.navbar-header {
	width: 100%;
	text-align: center;
}
.navbar-header a {
	width: 100%;
}
.navbar-collapse {
	width: 100%;
}
.navbar-collapse nav {
	text-align: center;
}
.navbar-collapse ul.menu {
	width: 100%;
	margin-left: 0px;
}
.navbar-collapse ul li a {
	padding: 2px 8px !important;
	font-size: 12px;
}
.region-navigation {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 15px;
}
#block-views-video-block-for-front-block .skin-default .views-slideshow-cycle-main-frame-row-item {
	margin-left: 120px;
}
#block-block-7 .footer-rights .rights p {
	text-align: center;
}
.view-popular-block-for-footer .views-field-title {
	width: 60%;
}
.page-stoke .view-more-images-block-for-stoke-page .jcarousel-item {
	width: 153px !important;
}
.copyright-footer {
	text-align: center;
}
.view-gearfinder-filters {
	background: #fff;
}
#gear-items {
	width: 100%;
	margin: 0 auto;
	max-width: 580px;
	text-align: center;
}
.custom-navs ul li {
	margin-right: 0 !important;
}
.block-sidebar .col-md-4 {
	display: inline-block;
	margin: 5px 0 10px 0;
}
.block-sidebar .col-md-8 {
	display: inline-block;
	margin: 5px 0 10px 5px;
}
.block-footer .col-md-3 {
	display: inline-block;
	margin: 5px 0 10px 0;
	vertical-align: top;
}
.block-footer .col-md-9 {
	display: inline-block;
	margin: 5px 0 10px 5px;
}
.copyright-footer .col-md-7 {
	text-align: center;
}
.socials-footer {
	margin-bottom: 20px;
}
.copyright-footer p {
	margin-bottom: 10px;
}
#block-simple-weather-simple-weather-report #simple-weather .report {
	left: 100px !important;
}
.copyright-footer ul {
	padding: 0;
}
.post-list > .col-md-12 {
	padding-left: 0;
}
.sitemap-container .sitemap-item {
	width: 100%;
}
.page-full-container h1 {
	font-size: 38px;
}
}

@media only screen and (max-width : 800px) {
#block-views-video-block-for-front-block .skin-default .views-slideshow-cycle-main-frame-row-item {
	margin-left: 40px;
}
#block-views-adventure-block-for-front-block .views-slideshow-cycle-main-frame-row-item {
	width: 46%;
}
#block-views-adventure-block-for-front-block .views-slideshow-cycle-main-frame-row-item {
	min-width: 260px;
}
#block-simple-weather-simple-weather-report #simple-weather .report {
	font-size: 20px;
	line-height: 20px;
	left: 62%;
}
#block-views-stoke-block-for-front-block .view-stoke-block-for-front .views-field-title {
	width: 88%;
}
#block-views-stoke-block-for-front-block .view-stoke-block-for-front .views-field-title .field-content .read-more a {
	width: 170px;
}
.view-popular-block-for-footer .views-field-title {
	width: 65%;
}
#block-views-stoke-block-for-front-block {
	margin: 0 0 0 20px;
}
#block-views-stoke-block-for-front-block .views-slideshow-cycle-main-frame-row-item {
	width: 46% !important;
}
#block-views-adventure-block-for-front-block .views-slideshow-cycle-main-frame-row-item {
	min-width: 47%;
}
#views_slideshow_cycle_main_adventure_block_for_front-block {
	margin: 0 0 0 50px;
}
#block-instagram-block-instagram-block-tag {
	padding: 10px 0px 35px 10px;
}
#block-instagram-block-instagram-block-tag .group img {
	margin: 30px 37px 37px 37px !important;
	width: 37% !important;
}
.page-stoke .view-more-images-block-for-stoke-page .jcarousel-item {
	width: 168px !important;
}
#block-simple-weather-simple-weather-report #simple-weather .report {
	left: -60%;
}
}

@media only screen and (max-width : 768px) {
.navbar .logo {
	padding-left: 71px;
	width: 90%;
}
.navbar-header button {
	position: absolute;
}
.col-sm-3, .col-sm-9 {
	width: 100%;
}
.col-sm-3 {
	padding-left: 80px;
}
.video-iframe iframe {
	width: 100%;
	height: 100%;
}
}

@media only screen and (max-width : 480px) {
.page-content p {
	margin-bottom: 10px;
}
.views-slideshow-cycle-main-frame-row-item .views-field-title-1 .top-slider-body p.title {
	font-size: 20px;
}
.views-slideshow-cycle-main-frame-row-item .views-field-title-1 .top-slider-body p.body {
	font-size: 15px;
	margin-left: 20px;
}
.views-slideshow-cycle-main-frame-row-item .views-field-title-1 .top-slider-body p.title {
	margin-left: 20px;
}
#block-views-stoke-block-for-front-block .views-slideshow-cycle-main-frame-row-item {
	width: 100% !important;
}
#block-views-video-block-for-front-block {
	display: none;
}
#block-views-adventure-block-for-front-block .views-slideshow-cycle-main-frame-row-item {
	width: 100% !important;
}
#block-instagram-block-instagram-block-tag .group img {
	width: 100% !important;
	margin: 30px 0px 0px -35px !important;
}
#block-block-7 {
	width: 95%;
	margin: 15px 0px 0 10px;
}
#block-views-stoke-block-for-front-block {
	margin: 0px;
}
.not-front #block-views-video-block-for-front-block-1 {
	display: none;
}
.view-stoke-page .views-field-title-1 {
	font-size: 22px;
}
.view-stoke-page .view-display-id-block_1 .view-content .views-row {
	width: 100%;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	border: none;
}
#block-views-stoke-block-for-front-block .views-slideshow-cycle-main-frame-row-item {
	margin: 10px 0px;
}
#views_slideshow_cycle_main_adventure_block_for_front-block {
	margin: 0 0 0 1px;
}
#block-instagram-block-instagram-block-tag .group img {
	margin: 30px 0px 0px -19px !important;
}
.navbar-default .navbar-collapse {
	border: none;
}
#block-views-how-to-slider-for-front-block, #block-views-gear-reviews-block {
	height: 200px !important;
}
#block-views-how-to-slider-for-front-block .skin-default .views-field-field-image .field-content img, #block-views-gear-reviews-block .skin-default .views-field-field-image .field-content img {
	height: 100% !important;
}
#block-views-how-to-slider-for-front-block .skin-default .views-field-field-image .field-content, #block-views-gear-reviews-block .skin-default .views-field-field-image .field-content {
	height: 200px;
}
#block-views-stoke-block-for-front-block .views-slideshow-cycle-main-frame img, #block-views-stoke-block-for-front-block .views-slideshow-cycle-main-frame {
	width: 98% !important;
	margin-left: 3px;
}
.footer {
	border: none;
}
.not-front #block-system-main {
	margin: 0 15px;
}
.col-sm-3 {
	padding-left: 25px;
}
#block-views-8aa5c45d33f2437952aec953bcf69d23 .block-title, .page-stoke .view-more-images-block-for-stoke-page {
	display: none;
}
.social a {
	margin: 5px;
}
#block-block-5 form fieldset {
	padding-top: 0;
}
.edit-email-wrapper {
	width: 80%;
	margin: 0 auto;
}
.copyright-footer ul {
	padding: 0;
	margin-top: 20px;
}
#block-block-5 form {
	height: 300px;
}
#block-views-gear-reviews-block .item img, #block-views-how-to-slider-for-front-block .item img {
	display: block;
	height: auto;
	max-width: 100%;
	height: 200px;
}
#footer {
	padding-top: 15px;
	padding-bottom: 10px;
}
.post-list .container-fluid .col-md-9 p {
	margin-top: 10px;
}
.big-slider h2 {
	font-size: 20px !important;
	margin-top: 10px !important;
}
.text-slider a {
	font-size: 14px;
	display: block;
	margin-bottom: 10px;
}
#block-block-5 form fieldset .ams-newsletter-signup {
	padding: 0 20px;
}
.block-sidebar .col-md-4 {
	vertical-align: top;
	text-align: center;
}
.block-sidebar .col-md-4 img {
	margin: 0 auto;
}
.block-sidebar .col-md-8 {
	width: 70%;
}
.gear-dsc a, .gear-dsc > div {
	padding: 0 20px;
}
#block-simple-weather-simple-weather-report #simple-weather h2 {
	font-size: 18px;
}
.stoke-me {
	padding: 5px 20px;
}
.block-footer .col-md-9 {
	width: 60%;
}
.block-footer .col-md-3 {
	vertical-align: top;
}
.list-item p {
	margin: 0;
}
.z-tabs > .z-container > .z-content > .z-content-inner {
	padding-top: 0 !important;
}
.gear-element {
	margin-top: 20px;
}
#block-simple-weather-simple-weather-report #simple-weather .report {
	left: -10% !important;
}
.copyright-footer ul li {
	display: block;
}
.footer-menu li:before {
	content: "";
}
.copyright-footer .col-md-7 {
	padding-left: 0;
}
.page-full-container h1 {
	font-size: 28px;
	margin-bottom: 10px;
}
.page-content h2 {
	font-size: 20px;
	margin-top: 0;
}
.view-stoke-page .views-field-title .field-content p.title {
	font-size: 22px;
}
.view-stoke-page .views-field-title .field-content p.title span {
	font-size: 16px;
	display: block;
}
.sidebar .block-sidebar {
	margin-bottom: 0px;
}
.field-content object {
	width: 100% !important;
}
.field-content object embed {
	width: 100% !important;
}
}

@media only screen and (max-width : 360px) {
.not-front #block-system-main {
	margin: 0 0px;
}
.not-front #block-system-main {
	padding: 0 40px;
}
}

@media screen and (max-width: 506px) {
.wrap {
	padding: 0 20px;
}
}

@media screen and (max-width: 475px) {
.text-slider {
	display: none;
}
.video-iframe {
	height: 250px;
}
.wrap {
	padding: 0 10px;
}
}

@media screen and (max-width: 446px) {
.gear-element {
	width: 100%;
}
}

/*************************************
* Responsive Styles
*************************************/
@media screen and (max-width: 1127px) {
.navbar-header {
	float: none !important;
	margin: 0 auto !important;
	display: block;
	text-align: center;
}
.nav {
	text-align: center;
	float: none;
}
.nav > li {
	display: inline-block;
	float: none;
}
.search-header,  .search-button {
	position: relative;
	display: block;
	margin: 0 auto;
	top: 0;
	text-align: center;
}
.search-button {
	display: none;
}
.search-header .search-field {
	display: block;
	margin: 0 auto;
	top: 0 !important;
	margin-bottom: 0px;
}
.wrap {
	padding: 0 20px;
}
.nav-primary li {
	padding: 20px 5px;
}
}

@media screen and (max-width: 991px) {
.stoke-block {
	text-align: center;
	max-width: 380px;
	float: none;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}
.stoke-hidden h5 {
	font-size: 15px;
}
.stoke-hidden .date {
	font-size: 13px;
}
.stoke-hidden p {
	font-size: 16px;
	margin-bottom: 0;
}
.read {
	font-size: 15px;
	padding: 5px 13px;
	max-width: 200px;
}
.filters-container {
	text-align: center;
}
.filters-container img {
	margin-bottom: 10px;
}
.dropdown-filter {
	margin: 0 auto;
}
.sres {
	text-align: center;
}
}

@media screen and (max-width: 767px) {
.nav > li {
	display: block;
	width: 100%;
	float: left;
}
.collapse.navbar-collapse {
	border: none !important;
}
.nav-primary li a {
	border-right: none;
	padding-right: 0;
}
.navbar-header {
	margin-bottom: 50px !important;
}
.big-slider h2 {
	font-size: 30px;
}
.big-slider p {
	font-size: 15px;
}
.video-iframe {
	height: 350px;
}
.search-results .navbar-form input[type="text"] {
	width: 100%;
}
.navbar-header img {
	float: left;
}
.navbar-toggle {
	right: 0;
}
.post-list .container-fluid .col-md-3 {
	padding-left: 0;
	padding-top: 5px;
}
#newsletter-topblock-input .edit-email-wrapper .form-item input {
	width: 80%;
}
.instagram-container {
	padding: 5px 40px;
}
.view-gearfinder-filters {
	background: #fff;
}
#gear-items {
	width: 100%;
	margin: 0 auto;
	max-width: 380px;
	text-align: center;
}
.z-content-inner .text-center .pagination li span {
	padding: 7px 12px;
}
.custom-navs ul li a {
	font-size: 16px;
}
#block-simple-weather-simple-weather-report #simple-weather .report {
	left: 20%;
}
.page-full-container h1 {
	font-size: 30px;
}
}

@media screen and (max-width: 630px) {
.toogle-btnmore {
	position: relative;
	display: block;
	clear: both;
	text-align: center;
}
}

@media screen and (max-width: 506px) {
.wrap {
	padding: 0 20px;
}
}

@media screen and (max-width: 475px) {
.text-slider {
	display: none;
}
.video-iframe {
	height: 250px;
}
.wrap {
	padding: 0 10px;
}
}

@media screen and (max-width: 446px) {
.gear-element {
	width: 100%;
}
}
.socials-footer a {
	text-decoration: none;
}
/***************************************
* Popup Styles
****************************************/
#subscribe-form {
	position: relative;
	max-width: 780px;
	background-color: #ffffff;
	padding: 30px;
	margin: 0 auto;
	-webkit-box-shadow: inset 1px 1px 2px 0px rgba(255,176,0,1);
	-moz-box-shadow: inset 1px 1px 2px 0px rgba(255,176,0,1);
	box-shadow: inset 1px 1px 2px 0px rgba(255,176,0,1);
}
#subscribe-form h2 {
	color: #000000;
	font-size: 44px;
	text-transform: uppercase;
	font-weight: 100 !important;
}
.subscription-btn {
	font-size: 24px;
	font-weight: bold;
	color: #ffffff !important;
	display: inline-block;
	background: #ffb000;
	padding: 15px 65px;
	text-transform: uppercase;
	text-decoration: none !important;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.subscription-btn:hover {
	opacity: 0.7;
}
.mfp-close-btn-in .mfp-close {
	background: #000000;
	color: #ffb000;
	opacity: 1;
	font-size: 42px;
	font-weight: bold !important;
	font-family: 'HelveticaNeue-UltLtEx';
	padding: 0 0 0 0 !important;
	top: 20px;
	right: 25px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.mfp-close-btn-in .mfp-close:hover {
	opacity: 0.7;
}
.popup-with-zoom-anim {
	outline: none !important;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.popup-with-zoom-anim:hover {
	opacity: 0.7;
}
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}
/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	transform: translateY(0) perspective( 600px ) rotateX( 0 );
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}
/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
span.caret {
	border-style: none !important;
}
/* gear page background */
.page-gear .z-content-inner {
	background-color: #FFFFFF !important;
}
.page-gear .filters-container {
	background-color: #FFFFFF !important;
}
/* gear product page
================================= */
.group-product-wrap .ski-img a {
	color: #000;
}
.group-product-wrap .ski-img a:hover, .group-product-wrap .ski-img a:focus {
	color: #000;
	text-decoration: none;
}
.group-product-wrap #ski-img {
	width: 41.6667%;
	float: left;
	text-align: center;
	margin-bottom: 20px;
}
.group-product-wrap #ski-img img {
	height: 250px;
	max-width: none;
	margin: 0 auto;
}
.group-product-wrap .group-ski-others {
	width: 58.3333%;
	float: left;
	margin-bottom: 20px;
}
.group-product-wrap .field-label {
	float: left;
}
.group-product-wrap fieldset {
	clear: both;
}
.group-product-wrap fieldset .panel-body > div {
	margin-bottom: 5px;
}
.group-product-wrap fieldset .panel-heading {
	background-color: #ffb000;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	font-family: "Conv_BentonSans-Black_sOT";
	color: #000;
	text-transform: uppercase;
}
.group-product-wrap .field-name-field-product-buy .field-item {
	display: inline-block;
	background-color: #ffb000;
	color: #fff;
	text-transform: uppercase;
	padding: 5px 15px;
	margin: 10px 0;
}
/* Homepage - Video Block Brightcove */

.view-id-homepage_brightcove_videos .views-slideshow-cycle-main-frame-row-item{
    float: left;
    width: 651px;
    padding-left: 25px;

}
.view-id-homepage_brightcove_videos .BCLvideoWrapper {
    height: 360px;
}

#block-views-video-block-for-front-block .block-title {
    text-align: center !important;
}
#block-views-cf527349a2b9698e091e006ef23e03b1 {
    background: #000 none repeat scroll 0 0;
    color: #fff;
}
#block-views-cf527349a2b9698e091e006ef23e03b1 .block-title {
    padding-bottom: 15px;
    text-align: center;
}
.view-id-homepage_brightcove_videos ..views-field.views-field-title{
	padding-bottom: 15px;
}

/* stories-home arrows */


#block-views-stoke-block-for-front-block .owl-prev {
    float: left;
}

.stoke-front_block .owl-buttons {
    position: relative;
    top: -150px;
    z-index: 999;
}
.stoke-front_block .owl-next {
    float: right;
}

