
.panel-master { 
  margin-top: 0;
  padding-top: 0;
}

.panel-master .panel-header,
.panel-master .row-wrapper,
.panel-master .panel-closure {
  width: 99.9%; 
  clear: both;
}

.panel-master .row-wrapper .inside {
  margin: .5em 0;
}
.panel-master .panel-header .inside {
  margin-bottom: .5em;
}
.panel-master .panel-closure .inside {
  margin: .5em 0 1em;
}

div#panels-dnd-main div.panel-region {
  margin-bottom: .3em;
  padding: .5em 0 .5em 0;
}

div#panels-dnd-main div.panel-region h2.label {
  margin: 0 0 0.2em 0;
}

.panel-master .panel-separator {
  margin: 0 0 1em 0;
}

.panel-master .panel-col-left {
  width: 49.9%;
  float: left;
}

.panel-master .panel-col-right {
  width: 49.9%;
  float: right;
}