body.add-admin-menu-body,
body.admin-menu {
	margin: 0 !important;
	padding: 0 !important;
}
#admin-menu {
	display: none;
}
#icon-nav-container {
	display: none;
}
#content-wrap {
	float: none !important;
	max-width: none !important;
	min-width: 0 !important;
}
#breadcrumb h2 {
	display: none;
}
#inside,
#content {
	width: auto !important;
}
#sidebar-right {
	border: none !important;
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 310px !important;
}
.panel-display {

	}
	.panel-display .panel-pane {
		background: #fff;
		border: 1px solid #999;
		}
		.panel-display .panel-pane .admin-links {
			display: none !important;
		}
		.panel-display .panel-pane h2.panel-class {
			background: #ccc;
			border: 1px solid #eee;
			font-size: 16px;
			padding: 5px;
		}
		.panel-display .panel-pane .panel-pane {
			border: 1px solid #eee;
			}
			.panel-display .panel-pane .panel-pane h2.panel-class {
				background: transparent;
				font-size: 12px;
			}
		.panel-display .panel-pane .panel-separator {
		
		}
		.panel-display .panel-pane fieldset {
			border: none;
		}
	.panel-display .panel-separator {
		margin: 10px 0;
	}