/**
 * @file
 * Custom CSS for the SkiMag Content module.
 */

/* Make the Olympics keyword page's title show up */
body.page-keyword-olympics-2010 #content-header h1.title {
  display: block;
  padding-left: 15px;
}
