.jcarousel {
  position: relative;
}
.feature-slideshow {
  width: 400px;
}
  .feature-slideshow a{
    color: #fff;
  }
  .feature-slideshow div ul {
    height: 300px;
    width: 400px;
    margin: 0px;
    padding: 0px;
  }

  .feature-slideshow .view-content li {
    position: relative;
  }
  .feature-slideshow .views-field-title {
    position: absolute;
    top: 200px;
    right: 20px;
  }
  .feature-slideshow .views-field-common-dek {
    color: #fff;
    position: absolute;
    top: 220px;
    right: 20px;
  }
  .feature-slideshow .carousel-control {
    position: absolute;
    top: 240px;
    right: 20px;
    z-index: 3;
  }
.carousel-content {
  position: absolute;
  left: 9999px;  
}

.feature-tout {
  height: 200px;
}
  .feature-tout .views-row {
    height: 200px;
    width: 110px;
    float: left;
  }

.directory-section .right {
  width: 150px;
}
.left { 
  float: left;
}
.right {
  float: left;
}
.clear {
  clear: both;
}

#homepage-layout {
}
  #homepage-layout .panel-col-first {
    width: 180px;
  }
  #homepage-layout .panel-col-last {
    width: 450px;
  }
