.masonry-resort-travels .border-color-container {
    box-shadow: 7px 7px 9px -4px rgba(218, 218, 218, 1);
}
.masonry-resort-travels .masonry-item{margin-bottom:15px;}
.masonry-travels .thumb-cat .custom-title {
    width: 100%;
	color:#000;
	padding:5px 0;
}
.view-display-id-page_10 .color-title.pink .border-color-container {
    border: none;
}
.masonry-travels .read-more {
    color: #ffffff !important;
    padding: 3px 10px;
}
.masonry-travels .read-more:hover{
    color: #23527c !important;
    text-decoration: underline;
}
.video-teaser a {
    color: #2d2d2d !important;
    font-size: 16px !important;
}
.instagram {
    padding-left: 4px;
}
.instagram:hover::after {
    color: #5f5f5f;
    content: "";
    font-size: 11px;
    left: -5px;
    position: absolute;
    text-decoration: none;
    top: 40px;
}
#bs-example-navbar-collapse-1 .ski-instruction {
	border:none !important;
    float: left;
}

.contextual-tabs{ border-bottom: 1px solid #ddd;  float: left;width: 100%;}

.contextual-tabs .view-content a{  border-radius: 4px 4px 0 0;
    line-height: 1.42857;float:left;
    margin-right: 2px;   display: block;
    padding: 10px 15px;
    position: relative;text-decoration: none;}
	
.contextual-tabs .view-content{	
 float: left;
    margin-bottom: -1px;}

.contextual-tabs .view-content:hover {background-color: #eee;color:#428bca;text-decoration: none;}

.contextual-tabs .view-content a.active,.contextual-tabs .view-content a:focus.contextual-tabs .view-content a:hover{
  
    background-color: #fff;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555;
    cursor: default;}

/*--------------mobile----responsivecss-------------*/

@media only screen and (max-width:991px) {
.masonry-travels .masonry-item, .masonry-resort-travels .masonry-item{
	left: auto !important;
    position: initial !important;
    top: auto !important;
	}
.masonry-resort-travels .masonry{
	height:auto !important;
}
}
	
@media only screen and (max-width:480px) {
 .header-search .search-box {
    left: 2em;
    position: relative;
}
 .header-form-block .form-item-search-block-form input { 
 	width:auto !important;
}

}
@media only screen and (min-width:481px) and (max-width:767px)  { 
.header-form-block .form-item-search-block-form input { 
	width:auto !important;
}
.header-search .search-box {
    left: 24em;
    position: relative;
}
}
@media only screen and (min-width:768px) and (max-width:991px)  {
.header-form-block .form-item-search-block-form input { 
	width:auto !important;
}
.header-search .search-box {
    left: 3em;
    position: relative;
}
}
@media only screen and (max-width:768px) {
.instagram > img {
    position: relative;
    top: 0;
}
}

.related-article-block .views-row img{
	height: 245px;
}



.map-box {
    padding-bottom: 50px;
}

/* Homepage Ads */

@media only screen and (max-width: 320px) {
	.advert-block .ad-manager-ad > div {
		left: -5px;
		position: relative;
	}
}

@media only screen and (min-width: 322x) and (max-width: 480px) {
	#ad-manager-ad-home1-0 > div {
		left: 55px;
		position: relative;
	}
	#ad-manager-ad-right1-0 > div {
		left: 55px;
		position: relative;
	}
	#ad-manager-ad-right3-0-0 > div {
		left: 55px;
		position: relative;
	}
}

/* video content-type 
.field-type-brightcove-field{
	padding-top: 50px;
} */
.node-type-videos .links.inline{
	display: none !important;
}

/* video node-add popup */

.page-node-add-videos .ui-dialog-content.ui-widget-content {
    width: -moz-available !important;
}
/* ski-instruction-hide one block - */

.page-home .bx-clone:first-child {
    display: none;
}

.page-home #views_slideshow_controls_text_pause_flex_slideshow_footer-default{display:none;}

#views_slideshow_controls_text_previous_flex_slideshow_footer-default > a{background: rgba(0, 0, 0, 0) url("../images/prev_arrow.png") no-repeat scroll left center;text-indent: 99em;display:block;width:10px;float:left;outline:none;margin-top:8px;position:absolute;right:22px;}

#views_slideshow_controls_text_next_flex_slideshow_footer-default > a{background: rgba(0, 0, 0, 0) url("../images/next_arrow.png") no-repeat scroll left center;text-indent: 99em;display:block;width:15px;float:left;outline:none;margin-top:8px;position:absolute;right:6px;}

#footer .slideshow-container > h4 {
    float: left;
    width: 87%;
}

#footer .slideshow-container > h4 {
    float: left;
    width: 87%;
}

#footer .slideshow-container{overflow:hidden;}

.views-slideshow-cycle-main-frame-row{width:100%;}
.field-content > img{width:100%;max-width:100%;}


.resorts-travels-home{
	clear: both;
}

#gallery-node-form .form-text.form-autocomplete{
	width: 100%;
}
.view-resort-and-travel .field-content {
    font-size: 14px;
}
.view-popular-at-homepage .item-ski h5 {
	font-size: 14px;
}
.native-content .field-content {
    font-size: 14px;
}

/* Videos pages ----              */

.field-name-field-brightcove .fluid-width-video-wrapper {
    position:static !important;
}

@media only screen and (min-width: 320x) and (max-width: 767px) {
.hide-mobile-video{
	display:none;
}
}
.instagram .group {
    display: block;
    float: left;
    padding: 3px;
    width: 50%;
}
.instagram .group > img {
    max-width: none !important;
    width: 100% !important;
}
