/*********************************************
* Custom theme Styles
*********************************************/
@font-face {
    font-family: 'concert_oneregular';
    src: url('../fonts/concertone-regular-webfont.eot');
    src: url('../fonts/concertone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/concertone-regular-webfont.woff2') format('woff2'),
         url('../fonts/concertone-regular-webfont.woff') format('woff'),
         url('../fonts/concertone-regular-webfont.ttf') format('truetype'),
         url('../fonts/concertone-regular-webfont.svg#concert_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'bentonsans-regular';
	src: url('../fonts/ufonts.com_bentonsans-regular-opentype.eot');
	src: local('☺'), url('../fonts/ufonts.com_bentonsans-regular-opentype.woff') format('woff'), url('../fonts/ufonts.com_bentonsans-regular-opentype.ttf') format('truetype'), url('../fonts/ufonts.com_bentonsans-regular-opentype.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_BentonSans Book';
	src: url('../fonts/BentonSans Book.eot');
	src: local('☺'), url('../fonts/BentonSans Book.woff') format('woff'), url('../fonts/BentonSans Book.ttf') format('truetype'), url('../fonts/BentonSans Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_BentonSans-Black_sOT';
	src: url('../fonts/BentonSans-Black_sOT.eot');
	src: local('☺'), url('../fonts/BentonSans-Black_sOT.woff') format('woff'), url('../fonts/BentonSans-Black_sOT.ttf') format('truetype'), url('../fonts/BentonSans-Black_sOT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'bentonsans-condregular';
    src: url('../fonts/ufonts.com_bentonsans-condensed-black-opentype-webfont.eot');
    src: url('../fonts/ufonts.com_bentonsans-condensed-black-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_bentonsans-condensed-black-opentype-webfont.woff2') format('woff2'),
         url('../fonts/ufonts.com_bentonsans-condensed-black-opentype-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_bentonsans-condensed-black-opentype-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_bentonsans-condensed-black-opentype-webfont.svg#bentonsansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bentonsansmedium';
    src: url('../fonts/ufonts.com_bentonsans-medium-opentype-webfont.eot');
    src: url('../fonts/ufonts.com_bentonsans-medium-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_bentonsans-medium-opentype-webfont.woff2') format('woff2'),
         url('../fonts/ufonts.com_bentonsans-medium-opentype-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_bentonsans-medium-opentype-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_bentonsans-medium-opentype-webfont.svg#bentonsansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6{ font-family: 'Conv_BentonSans-Black_sOT'; letter-spacing:0.5px;}

h1 span.font-normal, h2 span.font-normal, h3 span.font-normal, h4 span.font-normal, h5 span.font-normal, h6 span.font-normal{ font-family: 'bentonsans-regular';}

p{ font-family: 'bentonsans-regular'; font-weight:normal; font-size:14px;}
p strong{ font-family: 'bentonsansmedium'; font-weight:normal;}
h5, h6{ font-family: 'bentonsansmedium'; font-weight:normal !important; letter-spacing:0.5px;}

body{
 font-family: 'bentonsans-regular';
  font-size: 16px;
 font-size: 18px;
}
.navbar-nav > li{ font-family: 'bentonsansmedium'; font-weight:normal; font-size:16px;padding-right: 15px;}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  	.navbar-nav > li{ padding-right: 0;}
} 
.control-slider div{
    margin-bottom: 10px;
}
img{
  max-width: 100%;
}
.wrap{
  position: relative;
  width: 1180px;
  margin: 0 auto;
}
.isotope-element{
  width: 300px;
  margin-bottom:10px;
}
.isotope-element.big{
  width: 600px;
}

#header{
  position: relative;
  display: block;
  clear: both;
  background: #000000;
  padding: 30px 0;
  padding-bottom: 0;
}
.little-padding{
  padding: 0 5px 10px;
}
.top-header{
  padding-bottom: 25px;
}
.top-socials a{
  color: #ffffff;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  outline: none;
  padding-top: 3px;
  position: relative;
  margin-right: 10px;
}
.top-socials .facebook{
  background: #004088;
}
.top-socials .twitter{
  background: #00abe3;
}
.top-socials .dribbble{
  background: #df4a84;
}
.top-socials .google{
  background: #d95333;
}
.top-socials .pinterest{
  background: #ca2128;
}

.top-socials .facebook:hover:after{
  content: "facebook";
  font-family: 'Open Sans' sans-serif;
  position: absolute;
  bottom: -20px;
  color: #5f5f5f;
  font-size: 11px;
  left: -6px;
}
.top-socials .twitter:hover:after{
  content: "twitter";
  font-family: 'Open Sans' sans-serif;
  position: absolute;
  bottom: -20px;
  color: #5f5f5f;
  font-size: 11px;
  left: -1px;
}
.top-socials .dribbble:hover:after{
  content: "dribbble";
  font-family: 'Open Sans' sans-serif;
  position: absolute;
  bottom: -20px;
  color: #5f5f5f;
  font-size: 11px;
  left: -5px;
}
.top-socials .google:hover:after{
  content: "google";
  font-family: 'Open Sans' sans-serif;
  position: absolute;
  bottom: -20px;
  color: #5f5f5f;
  font-size: 11px;
  left: -1px;
}
.top-socials .instagram:hover:after{
  content: "instagram";
  font-family: 'Open Sans' sans-serif;
  position: absolute;
  bottom: -20px;
  color: #5f5f5f;
  font-size: 11px;
  left: -7px;
}
.top-socials .pinterest:hover:after{
  content: "pinterest";
  font-family: 'Open Sans' sans-serif;
  position: absolute;
  bottom: -20px;
  color: #5f5f5f;
  font-size: 11px;
  left: -7px;
}

.p-socials{
  padding-top: 10px;
}
.t-menu{
  position: relative;
  list-style-type: none;
  padding-left: 0;
  text-align: right;
}
.t-menu li{
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}
.t-menu li:nth-last-child(1){
  margin-right: 0;
}
.t-menu li a{
  color: #ffffff;
  font-size: 14px;
  font-family: 'Open Sans' sans-serif;
}
.nav-primary li > a{
  color: #222222 !important;
  text-transform: uppercase;
  padding: 20px 18px;
  font-weight: bold;
}
.navbar-default{
  background: #ffffff !important;
  border-radius: 3px 3px 0 0;
}

/**********************************************************
*   Content Styles
**********************************************************/
.bxslider li{
  position: relative;
}
.slide-caption {
  position: absolute;
  bottom: 0;
  padding: 15px;
  color: #ffffff;
}
.slide-caption h2{ font-family: 'bentonsansmedium';}
.slide-caption p{
  font-family: 'Open Sans' sans-serif;
  font-size: 12px;
}
.control-top-slider{
  position: relative;
  display: block;
  clear: both;
//  padding: 15px 0;
}
.control-top-slider h4{
  color: #000000;
  font-size: 16px;
  margin-top: 0;
  font-weight: 100;
}
.control-top-slider p{
  color: #b3b2b2;
  font-size: 14px;
}
.small-slider .bx-wrapper {
  margin: 0 auto 25px;
}
.small-slider .slide-caption p {
  margin: 0;
  font-weight: bold;
}
.small-slider .slide-caption h4 {
  margin: 0 0 5px;
  font-weight: normal;
  font-size: 15px;
}
/*.small-slider .col-md-12,
.small-slider .col-md-3 {
  padding: 0;
}
.small-slider .col-md-12 {
  float: none;
  display: inline-block;
}*/
.small-slider h4 {
  margin-bottom: 5px;
}
#video-bx-pager .control-top-slider:first-child {
  border: none;
}
#video-bx-pager .control-top-slider {
  border-top: 1px solid #f1f1f1;
}

.container-full-title{
  position: relative;
  display: block;
  clear: both;
  font-family: 'Open Spans', sans-serif;
  font-size: 13px;
  width: 100%;
  float: left;
  border: 1px solid #ababab ;
  border-right-color: transparent;
  border-left-color: transparent;
  margin-bottom: 20px;
}
.container-full-title .col-md-2{
  padding-right: 0;
  padding-left: 0;
}
/*.news-two-items{
  text-align: center;
  padding-top: 15px;
}*/

.news-two-items {
  margin-top: 11px;
  padding: 0px 0;
  text-align: center;
}

.news-two-items a{
  margin: 0 12px;
}
.news-two-items span{
  color: #5d5d5d;

}
.news-two-items span span{
  color: #979797;
}

.left-title,
.right-title{
  position: relative;
  float: left;
  padding: 11px 20px;
  background-color: #ababab;
  background-color: #ababab;
  color: #fff;
  height: 40px;
}

.right-title{
  float: right;
}

/*.input-search {
    opacity: 0;
    transition : 0.5s;
    position: absolute;
    right: -50px;
    margin: 0px 0;
    background-color: #EA5754;
    color: #fff;
    padding: 11px;
    border: 0;
}
.input-search.active {
    right: 50px;
    opacity: 1;
}*/
.search-input {
    width: 95%;
    overflow: hidden;
    /*opacity: 0;*/
    transition: 0.5s;
    position: absolute;
    left: -50px;
    margin: 0px 0;
    background: none;
    color: #fff;
    padding: 0px;
    border: 0;
}
.search-title {
    color: white;
    font-size: 15px;
}
.search-box{
    margin-top: 20px;
    padding-left: 5px;
}
.ski_featured{
    margin-top: 15px;
}
.ski_featured > div{
    padding: 0;
    /*border-bottom: 1px solid #e3e3e3;*/
    width:100%;
    margin-right: 25px;
}
.search-title i{
    cursor: pointer;
    padding-left: 20px;
}
.search-input.active {
    left: 40px;
    /*opacity: 1;*/
}
.color-title{
  position: relative;
  float: left;
  /*display: block;
  clear: both;*/
}
.block-p{
  padding-left: 0;
  padding-right: 0;
}
.color-title h3{
  position: relative;
  display: block;
  color: #2d2d2d;
  background: #ffffff;
  /*text-transform: uppercase;*/
}
.color-title h3 a{
  color: #2d2d2d;
}
.color-title h3 span{
  background: #ffffff;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.color-title .border-color-container{
  position: relative;
  display: block;
  clear: both;
  border: 2px solid #000000;
  box-shadow: 0px 0px 10px #DADADA;
}

.color-title.orange h3{
  background: #f93d03;
}
.color-title.orange .border-color-container{
  border-color: #f93d03;
}
.color-title.blue h3{
  background: #00b3ff;
}
.color-title.blue .border-color-container{
  border-color: #00b3ff;
}
.color-title.yellow h3{
  background: #ffc039;
}
.color-title.yellow .border-color-container{
  border-color: #ffc039;
}
.color-title.pink h3{
  background: #f9039f;
}
.color-title.pink .border-color-container{
  border-color: #f9039f;
}
.color-title.black h3{
  background: #000000;
}
.color-title.black .border-color-container{
  border: 1px solid #e3e3e3;

}
.article-page .color-title.black .border-color-container{
  border: 1px solid #000000;
}
.color-title.light-orange h3{
  background: #ff7e00;
}
.color-title.light-orange .border-color-container{
  border-color: #ff7e00;
}
.black{
  color: #000000;
}

.nomargin{
  margin-bottom: 0 !important;
}

.description{
  position: relative;
  padding-top: 10px;
}
.description p{
  font-size: 14px;
  color: #231f20;
}
.description h4{
  margin-top: 0;
}
.excerpt{
  font-family: 'Open Sans' sans-serif;
}
.read-more{
  font-size: 14px;
  color: #ffffff;
  background: #000000;
  padding: 3px 10px;
}
a.read-more.orange {
    font-size: 20px;
    color: #ff7e00;
    background-color: transparent;
    padding: 10px 0;
    display: inline-block;
}
.subscribe{
  font-size: 14px;
  color: #ffffff;
  background: #000000;
  padding: 5px 10px;
  border-radius: 3px
}
.subscribe.orange{
  background-color:#ff7e00;
}
.img-block{
  margin-top: 20px;
}
.item-ski{
  position: relative;
  display: block;
  clear: both;
  width: 100%;
  float: left;
  padding:10px 0;
  border-bottom: 1px solid #f1f1f1;
}
.item-ski:first-child{
  /*padding-top:0;*/
}
.item-ski:last-child{
  border: none;
  margin-bottom: 0;
  padding-bottom:0;
}
.item-ski h5{
  font-size: 16px;
  color: #2b2b2b;
  margin-bottom: 2px;
  margin-top: 4px;
}
.news-signup{
    margin-top: 10px;
}
.bottom_add{
    margin-top: 10px;
}
.item-ski p{
  margin-bottom: 0;
  color: #b3b3b3;
  font-size: 14px;
}
.big-slider h4,
.big-slider p {
    margin-bottom: 0;
}
.big-slider .col-md-3 {
    margin-bottom: 20px;
}




.container-full-title{ margin-bottom:20px; margin-top:20px;}

ul, ol{ padding-left:0; list-style:none;}


h3{ background: #ffffff none repeat scroll 0 0; color: #2d2d2d; /*font-weight:bold; */ display: block; font-size:18px; height: 0; padding-bottom: 20px; position: relative;}
.black h3, a.black{ background:#030000;}
.grey h3, a.grey{ background:#455560;}
.green h3, a.green{ background:#78a22f;}
h3 span { background: #ffffff; padding: 10px 10px 10px 0;}



.no-r-padding{ padding-right:0;}
.no-l-padding{ padding-right:0;}


.breadcrumb-box{ float:left; width:100%; background:url(../images/breadcrumb-bg.png) 0 center repeat-x;}
.breadcrumb{ float:left; background-color:#fff; width:auto; margin-bottom:0; padding-left:0;}
.breadcrumb li{ font-family: BentonSans; font-size:19px; color:#2d2d2d; font-weight:bold;}
.breadcrumb li a{ color:#2d2d2d;}
.breadcrumb li.active{ color:#2d2d2d;}
.breadcrumb > li + li:before { color: #2d2d2d; content: ">"; padding: 0 5px;}

.breadcrumb-inner {
	background-color: #ffffff;
    display: inline-block;
    padding-right: 15px;
}

.full-cont-box{ padding-bottom:25px;}
.full-cont-box .map-box{ float:left; width:100%}
.full-cont-box .map-box span.map-img{ float:left; width:100%}
.full-cont-box .map-box span.map-img img{ width:100%}



.left-box .search-frame{ margin:50px 0;}
.left-box .search-frame .input-group{ width:100%;}
.left-box .search-frame .input-group input[type=textbox]{ border-radius:0; height:45px; line-height:45px;}
.left-box .search-frame input[type=button]{ font-size:20px; color:#fff; text-transform:uppercase; font-weight:bold; background:#d72130; border-radius:0; border:none; margin-top:15px; padding:15px 25px; line-height:20px;}
.left-box .search-frame input[type=submit]{ font-size:20px; color:#fff; text-transform:uppercase; font-weight:bold; background:#d72130; border-radius:0; border:none; margin-top:15px; padding:15px 25px; line-height:20px;}

.left-box h1 { font-size:26px; color:#000; font-weight:bold;}
.left-box .result-cont ul.search-list{ float:left; width:100%; padding-left:0; list-style:none;}
.left-box .result-cont ul.search-list li{ float:left; width:100%; margin-top:40px;}
.left-box .result-cont ul.search-list li span.img{ float:left; width:15%;}
.left-box .result-cont ul.search-list li span.img img{ width:100%;}
.left-box .result-cont ul.search-list li .text-box{ float:right; width:82%;}
.left-box .result-cont ul.search-list li .text-box h4{ font-weight:bold; font-size:18px; color:#000;}
.left-box .result-cont ul.search-list li .text-box p{ font-size:14px; color:#000;}

.left-box .main-video-box{ float:left; width:100%; }
.left-box .main-video-box span.video-img{ float:left; width:100%; margin-bottom:10px;}

.left-box .post-box{ float:left; width:100%;}
.left-box .post-box h3{ font-size:20px; text-transform:none;}
.left-box .post-box ul.innr-list{ padding-left:0; list-style:none; float:left; width:100%; padding:20px 15px; box-shadow:5px 5px 5px #e5e5e5; margin-bottom:0;}
.left-box .post-box ul.innr-list li{ float:left; width:45%; font-size:16px; color:#030000;}
.left-box .post-box ul.innr-list li + li{ float:right;}
.left-box .post-box ul.innr-list li:nth-of-type(2n+1){ float:left;}
.left-box .post-box ul.innr-list li h5{ font-size:16px;}


.left-box .cntct-info{ float:left; width:100%;}
.left-box .cntct-info h4{ font-size:19px; font-weight:bold; margin-bottom:0; color:#2d2d2d;}
.left-box .cntct-info p{ font-size:19px; margin-bottom:25px;}

.left-box ul.sitemap-list{ float:left; width:100%; margin-top:60px;}
.left-box ul.sitemap-list > li{ float:left; width:33%; margin-bottom:25px;}
.left-box ul.sitemap-list > li h4{ font-weight:bold; font-size:16px; color:#000;}
.left-box ul.sitemap-list > li > ul > li{ font-size:16px;}
.left-box ul.sitemap-list > li > ul > li a{ color:#d72130;}


.left-box .gearsearch-frame{ margin-top:30px;}
.left-box .gearsearch-frame h1{ margin-bottom:5px;}
.left-box .gearsearch-frame h2{ margin:0; font-size:24px; color:#000;}

.left-box span.magzine-img{ float:right; margin:0 20px; }
.left-box h4{ line-height:25px;}
.left-box h4 a{ color:#d72130;}
.left-box span.gift-subs span.img{ float:left; margin-right:10px;}
.left-box span.gift-subs a{ float:left; font-size:16px; color:#555; line-height:60px; font-weight:bold;}



.left-box .tab-frame{ float:left; width:100%; margin-top:40px;}
.left-box .tab-frame .nav-tabs{ border-bottom:none;}
.left-box .tab-frame .nav > li > a{ font-family: 'Conv_BentonSans-Black_sOT'; min-width:135px; text-align:center; font-size:18px; font-weight:bold; color:#989898; border-radius:0; /*border:1px solid #ebebeb;*/ padding:0 13px; line-height:45px; height:45px;}
.left-box .tab-frame .nav > li + li{ margin-left:15px;}
.left-box .tab-frame .nav > li > a:hover{ background:#d72130;  color:#fff;}
.left-box .tab-frame .nav > li > a:focus{ outline:none;}
.left-box .tab-frame .nav > li.active > a{ background:#d72130; color:#fff;}

.left-box .tab-content{ padding-top:40px;}
.left-box h3{ font-size:22px; text-transform:uppercase; font-weight:bold; color:#000;}
.left-box h3 span.accordian{ padding:0 0; float:right; font-size:15px; line-height:26px; font-weight:normal; font-family: 'bentonsansmedium';}
.left-box h3 span.accordian a{ cursor:pointer; float:right; margin-left:15px;}
.left-box form{ float:left; width:100%; padding-bottom:10px;}
.left-box form + form{ border-top:1px solid #000000;}
.left-box form ul.form{ float:left; width:100%;}
.left-box form ul.form > li{ float:left; width:46%; margin-top:20px;}
.left-box form ul.form > li + li{ float:right;}
.left-box form ul.form > li:nth-of-type(2n+1){ float:left;}
.left-box form ul.form > li > ul.innr-list{ float:left; width:100%;}
.left-box form ul.form > li > ul.innr-list > li{ float:left; width:100%;}
.left-box form ul.form > li > ul.innr-list > li + li{ margin-top:20px;}
.left-box form ul.form > li > ul.innr-list > li > br{ margin-bottom:30px; clear:both; float:left; width:100%;}
.left-box form ul.form > li span.star{ color:#ff0000;}
.left-box form ul.form li span.img{ float:left; width:20%; padding-top:6px;}
.left-box form ul.form li .field-box{ float:right; width:78%;}

.left-box form ul.form li label{ float:left; width:100%; font-family: 'bentonsansmedium'; font-weight:normal; font-size:16px;}
.left-box form ul.form li span.text{ float:left; width:100%; border:1px solid #d7d7d7;}
.left-box form ul.form li span.text input[type=text]{ float:left; width:100%; height:42px; line-height:42px; border:none;}
.left-box form ul.form li span.select{ float:left; width:100%;}
.left-box form ul.form li span.select.small{ max-width:200px;}
.left-box form ul.form li span.select select{ width:100%;}
.left-box form ul.form li span.select span.text{ border:none; float:none;}
.left-box form ul.form li span.radio-box label{ width:auto; text-align:center; margin-right:35px;}
.left-box form ul.form li span.radio-box label img{ margin-bottom:15px;}

.left-box form ul.form-02 > li{ width:100%;}
.left-box form ul.form-02 > li ul.innr-list{ width:46%;}
.left-box form  button.order-btn{ background: #d72130; border: medium none; border-radius: 0; color: #fff; font-size:24px; font-weight: bold; line-height: 25px; margin-top: 15px; padding:20px 60px; text-transform: uppercase; border:2px solid transparent;}
.left-box form  button.order-btn:hover{ border:2px solid #d72130; background:none; color:#333;}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{ outline:none;}
.bootstrap-select .dropdown-toggle:focus{ outline:none;}
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{ background:none; background-color:transparent; box-shadow:none; border-radius:0; border:1px solid #d7d7d7; height:42px; line-height:42px; padding:0 42px 0 12px; outline:none;}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{ background:none; background-color:transparent; box-shadow:none; border-radius:0; border:1px solid #d7d7d7; height:42px; line-height:42px; padding:0 42px 0 12px;}
.bootstrap-select > .dropdown-toggle{ background:none; background-color:transparent; box-shadow:none; border-radius:0; border:1px solid #d7d7d7; height:42px; line-height:40px; padding:0 42px 0 12px;}
.bootstrap-select.btn-group .dropdown-toggle .caret{ background:url(../images/select-arrow.png) 0 0 no-repeat; right:0 !important; top:0 !important; width:42px; height:42px; border:none;}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{ font-size:18px; font-style:italic;}

form ul.form li span.select .form-control{ height:42px;}
form ul.form li span.select .dropdown-menu{ border-radius:0;}



ul.prod-list{ float:left; width:100%; padding-top:60px;}
ul.prod-list > li{ float:left; margin-bottom:25px;}
ul.prod-list > li .prod-box{ float:left; width:100%; text-align:center}
ul.prod-list > li .prod-box span.img{ float:left; width:100%; text-align:center; min-height:155px;}
ul.prod-list > li .prod-box h6{ float:left; width:100%; text-align:center; font-size:14px; font-weight:bold; color:#000; line-height:20px;}
ul.prod-list > li .prod-box > span{ display:block; font-size:14px; color:#000;}
ul.prod-list > li .prod-box > span span.color{ color:#ffb000;}
ul.prod-list > li .prod-box > span.price{ font-family: 'bentonsansmedium'; font-weight:normal;}
ul.prod-list > li .prod-box > span.rating{ font-family: 'bentonsansmedium'; font-weight:normal;}




.right-box .innr-box{ float:left; width:100%; margin-bottom:20px;}
.right-box .innr-box h4{ font-size:16px; color:#2d2d2d; border-bottom:2px solid #030000; font-weight:bold; float:left; width:100%; margin-top:15px;}
.right-box .innr-box h4 span { background-color: #fff; float: left; margin-bottom: -5px; padding-right: 2px; position: relative;}
.right-box .innr-box ul.innr-list{ float:left; width:100%; padding:10px 0 20px; margin-top:10px; box-shadow:5px 5px 5px #e5e5e5; margin-bottom:0;}
.right-box .innr-box ul.innr-list li{ float:left; width:100%; padding:10px 15px; list-style:none;}
.right-box .innr-box ul.innr-list li + li{ border-top:1px solid #f1f1f1;}

.right-box .innr-box ul.innr-list li .text-box{ float:right; width:62%;}
.right-box .innr-box ul.innr-list li .text-box h5{ font-size:16px; color:#2d2d2d; margin:0 0; line-height:20px;}
.right-box .innr-box ul.innr-list li .text-box span.date{ float:left; width:100%; font-size:14px; color:#b3b2b2;}
.right-box .innr-box ul.innr-list li .big-video-img{ float:left; width:100%;}
.right-box .innr-box ul.innr-list li .big-video-img img{ width:100%;}
.right-box .innr-box ul.innr-list li span.more-video{ float:left; width:100%; text-align:center; text-transform:uppercase;}
.right-box .innr-box ul.innr-list li span.more-video a{ color:#2d2d2d;}

.right-box .innr-box ul.innr-list li a.read-more{ float:left; color: #030000; font-weight: bold; background:none; font-size:20px; margin-top:15px; padding:0 0;}
.right-box .innr-box ul.innr-list li a.subscribe{ clear:both; float:left; margin-top:15px;}



.modal-dialog { margin:120px auto; width:675px;}

.modal-content { border: 1px solid #d72130; border-radius: 0;}

.modal-header { border-bottom:none; padding: 30px 30px 0;}
.modal-header .close{ background:url(../images/popup-close-icon.png) 0 0 no-repeat; width:43px; height:43px; font-size:0; opacity:1; margin-right: -15px; margin-top: -15px;}

.modal-body{ padding:30px;}
.modal-body span.img{ float:right; margin-left:60px; margin-right:30px;}
.modal-body h1{ font-size:44px;  font-weight:300; margin-bottom:25px; color:#000; margin-top:0;}
.modal-body h5{ font-size:16px; color:#000; font-weight:bold; margin-bottom:0;}
.modal-body p{ font-size:16px; color:#000;}
.modal-body button.subscribe-btn{ background: #d72130; border: medium none; border-radius: 0; color: #fff; font-size: 20px; font-weight: bold; line-height: 20px; margin-top: 15px; padding: 15px 60px; text-transform: uppercase;}
.modal-body button.subscribe-btn:hover{ border:2px solid #d72130; background:none; color:#333;}
.modal-backdrop.in { opacity: 0.7;}

.custom-radio{ width:18px; height:18px; display: inline-block; float:none; position: relative; z-index: 1; top: 3px; background: url(../images/radio-unselected.png) 0 0 no-repeat; cursor:pointer;}
.custom-radio:hover{ background: url(../images/radio-selected.png) 0 0 no-repeat;}
.custom-radio.selected{ background: url(../images/radio-selected.png) 0 0 no-repeat;}
.custom-radio input[type="radio"]{ margin: 1px; position: absolute; z-index: 2; cursor: pointer; outline: none; opacity: 0; /* CSS hacks for older browsers */ _noFocusLine: expression(this.hideFocus=true); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0;}





/**************************************************************
*   Footer Styles
**************************************************************/

#footer{
  background: #000000;
  color: #ffffff;
  padding: 35px 0;
  margin-top: 60px;
}

.list-item{
  position: relative;
  display: block;
  clear: both;
  border-bottom: 1px solid #363636;
  padding: 10px 0;
}
.list-item:nth-last-child(1){
  border-bottom: none;
}
.view-id-popular_at_homepage_footer .view-content .item-list .views-row{
	border-bottom: 1px solid #363636;
	clear: both;
	display: block;
	position: relative;
}
.view-content .item-list .views-row:nth-last-child(1){
  border-bottom: none;
}
#footer p{
  font-size: 13px;
  color: #b3b2b2;
}

.copyright-footer p{ font-size:10px !important;}
#footer .slideshow-container{
	height:auto !important;
	max-height:none !important;
	padding-bottom:15px;
}
#footer .slideshow-container a{
	color:#000;
}
#footer .flexslider .slides li .views-field{
	text-align:center;
}
#footer .flexslider .slides li .views-field-title{
	position:absolute;
	width:100%;
	text-align:center;
	font-family:"Conv_BentonSans-Black_sOT";
	bottom:10px;
}
.slideshow-container{
  position: relative;
  display: block;
  clear: both;
  background: #292929;
  padding: 5px 15px;
  height:330px;
  max-height:330px;
}
.slideshow-container .owl-controls{
  position: absolute;
  top: -44px;
  right: 0;
}
.slideshow-container .owl-controls .owl-buttons{
  display: block;
}
.slideshow-container .owl-controls .owl-buttons div{
  float: left;
  color: #8b8b8b;
  font-size: 25px;
}

.owl-theme p{
  font-size: 14px;
  color: #ffffff;
  margin: 15px 0;
}
.owl-theme a{
  color: #fff;
}

.socials-footer{
  position: relative;
  display: block;
  clear: both;
}
.socials-footer a{
  color: #818181 !important;
  padding: 2px;
  display: inline-block;
  width: 26px;
  text-align: center;
  border-radius: 4px;
}
.socials-footer a:hover{
  color: #ffffff !important;
}
.socials-footer .facebook-footer:hover{
  background: #4d6baa;
}
.socials-footer .twitter-footer:hover{
  background: #00abe3;
}
.socials-footer .google-footer:hover{
  background: #d95333;
}
.socials-footer .dribbble-footer:hover{
  background: #df4a84;
}
.socials-footer .rss-footer:hover{
  background: #d95333;
}
.socials-footer .github-footer:hover{
  background: #d95333;
}
.socials-footer .pinterest-footer:hover{
  background: #ca2128;
}
.socials-footer .linkedin-footer:hover{
  background: #8514cc;
}

.copyright-footer{
  position: relative;
  display: block;
  clear: both;
  padding: 25px 0;
  border-top: 1px solid #363636;
  margin-top: 20px;
}

.footer-menu {
  padding-left: 0;
  list-style-type: none;
  text-align: right;
	margin-top: -5px;
}
.footer-menu li{
  display: inline-block;
}
.footer-menu li a{
  color: #ffffff;
  font-size: 10px;
  border-left: 1px solid #fff;
  padding-left: 6px;
  letter-spacing:0.7px;
}
.footer-menu li:nth-of-type(1) a{
  padding-left: 0;
  border-left: none;
}
.copyright-footer .footer-menu{
	margin-top:-5px;
}
.article-page .one-half-social-info{
  display: block;
}
.one-half-social-info{
  display: none;
}
.item-social{
  position: relative;
  width: 41%;
  float: left;
  text-align: center;
  padding: 10px 0;
  border: 1px solid #d7d7d7;
  margin: 10px;
}
.item-social > div i{
  width: 40px;
  height: 40px;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  border-radius: 100%;
}
.item-social > div i.fa-facebook{
  background: #2c5182;
}
.item-social > div i.fa-twitter{
  background: #3bafda;
}
.item-social > div i.fa-pinterest{
  background: #ca2128;
}
.item-social > div i.fa-linkedin{
  background: #136d9d;
}
.item-social div p,
.item-social div span{
  font-family: 'Open Sans' sans-serif;
  font-size: 11px;
  margin-bottom: 0;
  line-height: 14px;
  margin-top: 12px;
}
.item-social div p{
  font-weight: bold;
}

.content-article{
  font-family: 'Open Sans' sans-serif;
  font-size: 17px;
  color: #000000;
}



.subscribe-form input[type="email"]{
  width: 100%;
  font-family: 'Open Sans' sans-serif;
  font-size: 20.58px;
  font-weight: 100;
  padding: 10px;
  margin-bottom: 10px;
  background: #f3f3f3;
}
.subscribe-form input[type="submit"]{
  background: #000000;
  color: #ffffff;
  text-align: right;
  font-size: 20px;
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
}

.article-page .control-top-slider{
  display: inline-block;
  clear: none;
}

.full-t{
  width: 100%;
  display: block;
  clear: both;
}
.thumb-cat{
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 20px;
}
.thumb-cat .custom-title{
/*  width: 100%;
  position: absolute;
  bottom: 0;
  color: #ffffff;
  padding: 5px 20px;
  */
  padding: 5px 0;
  color: #000;
  
}
.cat-page .color-title{
  margin-bottom: 15px;
}
.cat-border{
  width: 100%;
  float: left;
}
.hide{
  display: none;
}

.container-gear.owl-theme p{
  color: #000000;
}

.home-form{
  display: none;
}

.bx-wrapper{
  margin-bottom: 0;
}

#hide-carousel{
  display: none;
}
#hide-carousel .owl-controls{
  position: relative;
  top: -110px;

}
#hide-carousel .owl-controls .owl-buttons{
  font-size: 40px;
}
#hide-carousel .owl-controls .owl-buttons .owl-prev{
  float: left;
  position: relative;
  left: -25px;
}
#hide-carousel .owl-controls .owl-buttons .owl-next{
  float: right;
  position: relative;
  right: -25px;
}

.bx-wrapper .bx-pager{
  display: none;
}

/*Custom Css*/
table a, .table a {
  color: #337ab7;
}
#page .container .views-field .field-content a {
  font-size: 18px;
  line-height: 20px;
  color: #337ab7;
}

#page .container .views-field .field-content {
  font-size: 14px;
  line-height: 20px;
}

#page .container .views-field-field-dek {
  margin-bottom: 15px;
}

.field-content img {
  margin: 0 auto;
}

.field-content img {
  float: left;
  margin: 0 auto;
  padding-bottom: 10px;
  /*max-height:180px;*/
}
.views-view-grid tr:hover {
  background: #f8f8f8;
}

.views-view-grid tr td:hover {
  background: #ddd;
}

.field .field-label {
  margin: 10px 0;
}
.view-header {
    margin: 10px 0;
  }
  #footer .slideshow-container .owl-pagination {
    display: none;
  }
  .post-list .list-item .container-fluid .col-md-8 h5 {
    margin-top: 0;
  }
/******************************************
*   Responsive Styles
******************************************/
@media screen and (max-width: 1293px ){
  .container-full-title{
    max-width: 90%;
    margin: 20px auto;
    float: none;
  }
  .news-two-items a:nth-last-child(1),
  .divider{
    display: none;
  }
}

@media screen and (max-width: 1211px){
  .wrap{
    width: 100%;
  }
}

@media screen and (max-width: 1159px){
  .top-socials{
    word-spacing: -4px;
  }


  /*.container-full-title{ float:left; max-width:100%}*/
  .container-full-title::before{ content:normal;}
  .container-full-title::after{ content:normal;}
  .left-title, .right-title{ height:41px;}
  .news-two-items{ min-height:41px;}

  .right-box.no-r-padding{ /*padding-right:15px;*/}
}

@media screen and (max-width: 1120px){
  .t-menu li{
    margin: 0 6px;
  }
}

@media screen and (max-width: 1096px){
  .nav-primary li > a{
    padding: 14px 14px;
    font-size: 15px;
  }
}

@media screen and (max-width: 1083px){
  .top-socials{
    word-spacing: -7px;
  }
  .top-socials a{
    width: 25px;
    height: 25px;
    padding-top: 0;
  }
  .navbar-nav > li {
    padding-right: 5px;
  }
  .top-socials a {
    margin-right: 15px;
    padding-top: 2px !important;
  }
  .logo {
    margin: 0;
  }
  .block-p {
    margin: 0 auto 20px;
    width: 100%;
    max-width: 900px;
    float: none;
  }
  .bottom_add img {
    margin: 0 auto;
  }
  .big-slider {
    padding-bottom: 20px;
  }
  .links.inline {
    width: auto;
  }

  .links.inline li {
    margin-left: 0;
  }
  .submitted {
    margin-top: 10px;
  }
  #footer {
    margin-top: 20px;
    padding: 35px 0 0;
  }
  #footer .about img {
    margin-bottom: 10px;
  }
  .views-bootstrap-grid-plugin-style .col-lg-4 {
    width: 32%;
    float: none;
    display: inline-block;
  }
  .socials-footer a {
    width: 22px;
  }
   .field-type-list-boolean, .field-type-list-integer, .links, .field-type-entityreference {
    padding-left: 20px;
  }
}

@media screen and (max-width: 991px){
  .advertise{
    display: none;
  }
  .logo,
  .top-socials,
  .t-menu{
    text-align: center;
    width: 100%;
  }

  .t-menu{
    margin-top: 20px;
  }
  .top-socials{
    word-spacing: 0px;
  }
  .top-socials a{
    width: 30px;
    height: 30px;
    padding-top: 3px;
  }
  .control-top-slider{
    display: inline-block;
    float: left;
    clear: none;
  }
  .left-title,
  .right-title{
    font-size: 14.15px;
    padding: 5px 10px;
  }
  .news-two-items{
    padding-top: 8px;
  }
  .left-title:after,
  .right-title:before{
   /* display: none;*/
  }
  .right-title{
    top: -27px;
  }
  .input-search.active{
    right: 34px;
  }
  .input-search{
    top: -27px;
    padding: 6px;
  }



  .nav-primary li > a{ padding:10px 5px !important;}

  .container-full-title{ float:none;}
  .news-two-items{ min-height:39px;}
  .right-title { top: -51px;}
  .left-title, .right-title { padding: 10px 20px;}

  #footer .post-list{ margin-bottom:25px;}


  .left-box .tab-content form ul.form li span.img{ width:25%;}
  .left-box .tab-content form ul.form li .field-box{ width:68%;}

  .left-box .tab-frame .nav > li > a{ min-width:135px;}

  .left-box form ul.form li span.radio-box label{ margin-right:25px;}
  .left-box form ul.form > li > ul.innr-list > li > br{ margin-bottom:20px;}

  .wrap .block-p > div {
    right: 0;
    left: 0 !important;
    margin: 0 auto;
  }
  .isotope-element.big {
    width: 280px;
  }
  .bottom_add img {
    margin: 0 auto;
  }
  .img-block {
    right: 0;
    margin: 20px auto;
  }
  #footer .about p {
    text-align: left;
  }
  #footer .about img {
    margin: 20px 0;
  }
  #footer p {
    text-align: left;
  }
  .top-socials a {
    padding-top: 4px !important;
  }
  .copyright-footer p {
    text-align: center !important;
  }
  .footer-menu {
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 910px){
  .nav-primary li > a{
    padding: 10px 10px;
    font-size: 13px;
  }

}

@media screen and (max-width: 767px ){
  #page .container {
    padding: 10px 15px;
  }
  .bx-default-pager,
  .big-slider,
  .top-socials,
  .advertise,
  .container-gear,
  .resort-image{
    display: none;
  }
  .home-form,
  #hide-carousel{
    display: block;
  }
  .hide{
    display: block !important;
  }
  .logo{
    text-align: left;
    float: left;
    z-index: 999;
    width: 130px;
  }
  .register{
    float: left;
    z-index: 999;
  }
  .p-socials{
    padding-top: 0;
  }
  .nav-primary{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
  }
  .navbar-nav{
    position: relative;
    z-index: 9999;
    background: #ffffff;
    margin: 0;
  }
  .navbar-collapse{
    border: none;
  }
  .navbar-default,
  .navbar-default .navbar-toggle{
    background: transparent !important;
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
  }
  .navbar-toggle .icon-bar{
    height: 3px;
  }
  .navbar-default .navbar-toggle .icon-bar{
    background: #ffffff;
  }
  .container-full-title:before{
    left: -7px;
  }
  .container-full-title:after{
    right: -9px;
    z-index: -1;
  }
  .block-p{
    padding-left: 15px;
    padding-right: 15px;
  }

  .isotope-element{
    max-width: 628px;
    width: 85%;
  }
  .isotope-element.big{
    max-width: 628px;
    width: 85%;
  }
  .control-top-slider .col-md-9{
    display: none;
  }
  .bx-wrapper img{
    margin: 0 auto;
  }
  .control-top-slider{
    margin: 10px;
  }
  #video-bx-pager{
    text-align: center;
  }
  #video-bx-pager a{
    float: none;
    text-align: center;
  }
  .photos-home,
  .recent-home,
  .like-home,
  .popular-home{
    display: none;
  }
  #footer .post-list{
    padding: 0 15px;
  }
  #footer .col-md-4,
  #footer .col-md-8{
    float: left;
  }
  .slideshow-container{
    max-width: 551px;
    margin: 0 auto;
    margin-bottom: 20px;
      height: 420px;
      max-height: 420px;
  }
  .copyright-footer,
  .footer-menu{
    text-align: center;
    border-top: none;
  }
  .one-half-social-info{
    display: block;
    width: 50%;
    float: left;
  }
  .one-half{
    float: none;
    width: 69%;
    display: inline-block;
  }
  .one-half .little-padding{
    display: inline-block;
    float: left;
  }
  .carousel-1-container .description{
    /*display: none;*/
  }
  .container-gear{
    position: relative;
  }
  .container-gear > div{
    position: relative;
    display: block;
  }
  .container-gear .item-ski{
    display: none;
  }
  .container-gear .read-more{
    display: none;
  }
  .bx-wrapper .bx-controls-direction a{
    text-indent: 1px;
    color: #000000;
    font-family: 'Open Sans' sans-serif;
  }
  #ski-bx-pager{
    display: none;
  }
  .bx-wrapper .bx-next{
    right: -20px;
  }
  .bx-wrapper .bx-prev{
    left: -1px;
  }



  .container-full-title{ width:96%;}
  .left-box .result-cont ul.search-list li span.img{ width:25%;}
  .left-box .result-cont ul.search-list li .text-box{ width:70%;}


  .left-box{ width:100%; padding-top:30px; padding-bottom:40px;}
  .right-box{ width:100%;}

  .right-box .innr-box ul.innr-list li span.img{ width:18%;}
  .right-box .innr-box ul.innr-list li span.img img{ width:100%;}
  .right-box .innr-box ul.innr-list li .text-box{ width:80%;}
  .right-box .innr-box span.img{ text-align:center; float:left; width:100%;}

  .modal-dialog { width:auto; margin:20px; }

  .logo{ margin-bottom:20px;}
  .navbar-header { margin-bottom: 30px;}

  .border-color-container form p {
   /* text-align: center !important;*/
  }

  .video-bxslider li {
    display: block !important;
  }
  .item-social {
    width: 70%;
    margin-top: 0;
  }
  .one-half-social-info {
    width: 30%;
    float: none;
    vertical-align: top;
    display: inline-block;
  }
  .img-block, .bottom_add img {
    text-align: center;
    margin: 20px auto 0;
  }
  .logo, .top-header .container-fluid img {
    margin-top: 8px;
  }
  #header {
    padding: 0;
  }
  .control-top-slider {
    display: block;
    width: 100%;
    float: none;
    margin: 0;
  }

  .control-top-slider img {
    margin: 0 auto;
  }

  .views-view-grid {
    margin: 20px 0;
  }

  .views-view-grid tr td {
      width: 100% !important;
    display: block !important;
  }
  .panels-flexible-170 .panels-flexible-region {
    padding: 10px 0;
  }
  .item-list {
    /*text-align: center;*/
    /*margin: 0 auto;*/
    /*max-width: 515px;*/
 }
 .views-bootstrap-grid-plugin-style .col-lg-4 {
    width: 100%;
  }
  .node-teaser h2 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: -5px;
  }
  ul.pager li a, ul.pager li.pager-current {
    padding: 3px 10px;
  }
  .post-list .container-list .list-item .container-fluid {
    padding: 0;
  }
  .post-list .container-list .list-item .container-fluid h5 {
    margin-top: 0;
  }
  #footer .slideshow-container .item img {
    width: 100%;
  }
  .links.inline li {
    float: left;
  }
  #footer .about br {
    display: none;
  }
  .copyright-footer {
    padding: 0 0 10px;
  }
  .owl-carousel .owl-item {
    /*float: none;*/
  }
}

@media screen and (max-width: 659px){
  .color-title .border-color-container{
    
  	display:inline-block;
  }

  .left-box .post-box ul.innr-list li{ width:100%;}
  .left-box .post-box ul.innr-list li + li{ margin-top:25px;}
}

@media screen and (max-width: 619px){
  .right-title{
    top: -56px;
  }
  .left-title,
  .right-title{
    padding: 13px 10px;
  }
  .news-two-items a{
    margin: 0;
  }
  .news-two-items{
    padding-top: 12px;
    padding-bottom: 14px;
  }
}

@media screen and (max-width: 585px){
  #footer .post-list{
    padding: 0 15px;
  }
  .left-box form ul.form li span.radio-box label { margin-right: 15px;}
}

@media screen and (max-width: 569px){
  .container-full-title:before,
  .container-full-title:after{
    display: none;
  }
  .left-title,
  .right-title{
    width: 100%;
    top: 0;
    background: #f93d03;
  }
  .input-search{
    top: 47px;
  }
  .container-full-title{
    position: relative;
    display: block;
    clear: both;
    float: none;
    margin-bottom: 90px;
  }
  .img-block {
    width: 100%;
  }

  .item-social div p, .item-social div span {
    line-height: 15px;
  }
  .navbar-nav li:hover, .navbar-nav li.active {
    /*background-image: #dbdbdb;*/
  }
  .item-social {
    width: 100%;
    margin-top: 0;
    float: none;
    margin: 10px 0;
  }
  .item-social > div i {
    width: 30px;
    height: 30px;
    padding-top: 8px;
  }
  .one-half, .one-half-social-info {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .media-grid {
    margin-left: 0;
  }
  .control-top-slider img {
    margin: 0 auto;
  }
  .one-half .group img {
    float: none !important;
    margin: 0 auto 5px !important;
  }
}

@media screen and (max-width: 502px){
  .isotope-element.big,
  .isotope-element{
    /*width: 100%;*/
  }
  .container-full-title{
    max-width: 75%;
  }

  #hide-carousel .owl-controls{
    top: -90px;
  }
  #hide-carousel .owl-controls .owl-buttons{
    font-size: 40px;
  }
  #hide-carousel .owl-controls .owl-buttons .owl-prev{
    float: left;
    position: relative;
    left: -25px;
  }
  #hide-carousel .owl-controls .owl-buttons .owl-next{
    float: right;
    position: relative;
    right: -25px;
  }
  .custom-title h2{
    font-size: 20px;
    line-height: 22px;
  }
  .owl-theme p{
    margin: 0;
  }

  .left-box ul.sitemap-list > li{ width:50%;}

  .views-view-grid td {
    width: 100%;
    display: block !important;
  }
  .views-field {
    text-align: center;
  }
  .view-header {
    text-align: left;
    margin: 10px 0;
  }
  .socials-footer {
    text-align: center;
    margin: 0 auto;
  }
  .post-list .item-list .container-fluid .col-md-8 {
    width: 52%;
  }
  #footer {
    padding: 10px 0 0;
  }
}

@media screen and (max-width: 435px){
  .control-top-slider{
    margin: 5px 2px;
  }

  .left-box .tab-content form ul.form > li{ width:100%;}
  .left-box .tab-content form ul.form li span.img{ width:20%;}
  .left-box .tab-content form ul.form li .field-box{ width:75%;}

  .left-box form ul.form > li{ width:100%;}
  .left-box form ul.form-02 > li > ul.innr-list{ width:100%;}
}

@media screen and (max-width: 430px){
  .container-full-title{
    max-width: 65%;
  }

  .left-box ul.sitemap-list > li{ width:100%;}

  ul.prod-list > li{ width:100%;}

  .nav-tabs > li{ width:45%; margin-right:5%; margin-bottom:20px;}
  .nav-tabs > li + li{ margin-left:0 !important;}
  .nav-tabs > li a{ min-width:100%;}
}

/* custom css */

.color-title.black h3 {
 border-bottom: 2px solid black;
 background: none;
}


.color-title h3 {
    position: relative;
    display: block;
    color: #2d2d2d;
    background: #ffffff;
    font-size:18px;
    height: 0px;
    padding-bottom: 20px;
}

/*.color-title.pink .border-color-container,.color-title.orange .border-color-container,.color-title.blue .border-color-container,.color-title.yellow .border-color-container,.color-title.light-orange .border-color-container {*/
.wrap .border-color-container{
   
	-webkit-box-shadow: 7px 7px 9px -4px rgba(218,218,218,1);
-moz-box-shadow: 7px 7px 9px -4px rgba(218,218,218,1);
box-shadow: 7px 7px 9px -4px rgba(218,218,218,1);
}



.color-title.light-orange h3,
.row .subscribe.orange {
    background: #6CBB3C;
}
.color-title.olive h3,.olive .news-signup a {
    background: #a6a64c
}
.color-title.yellow h3 {
    background: rgba(255, 240, 50, 0.93);
}

.color-title.blue h3,.col-md-4 .read-more {
    /*background: rgba(0, 101, 181, 0.86);*/
    background:#0668a8;
}

.container-gear a.read-more {
	background: #0668a8;
}
.container-gear a.read-more:hover,
.container-gear a.read-more:focus{
	color:#fff;
}
.pink.photos-home h3,.border-color-container .read-more {
    /*background: rgba(39, 121, 160, 0.87);la*/
    background:#0683a8;
}

.color-title.pink h3 {

background:#445661;
}

.color-title.grey h3 {
    background: rgba(76, 76, 76, 0.84);
}

.color-title.orange h3,.col-md-6 .read-more {
   /* background: rgba(199, 0, 0, 0.72);*/
     background : #DE1D35;
}

a.read-more.orange {
    color: #323232;
}

.color-title h3 span {
  padding-right: 10px;
}


.news-two-items.col-md-8 li {
  display: inline;
}

.row.description a.read-more {
  background-color: #DE1D35;
}

/* Override */
.big-slider .col-md-9 {
  padding-left: 5px;
}

.big-slider .col-md-3 {
  padding-left: 0px;
  padding-right: 0px;
}
.big-slider #bx-pager .col-md-12 {
  padding-right: 0px;
}

/* Search */
.search-title {
  padding-top: 8px;
}
.search-input.active,
.search-input.active:focus {
  background-color: black;
  border: none;
}

/* Social Icon */
.top-socials a {
  padding-top: 3px;
  float:left;
}

/* Subscribe */
#mc_embed_signup_scroll .clear {
  visibility: visible;
  overflow: visible;
}

/* Subscribe popup */
.modal-body #mc-embedded-subscribe {
  background: #d72130;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  margin-top: 15px;
  padding: 15px 60px;
  text-transform: uppercase;
}

.modal-body #mce-EMAIL {
  width: 250px;
  color: #000;
}

/* Videos Section */
#video-bx-pagers .col-md-3 {
  margin-bottom: 15px;
  padding-top: 10px;
}

#video-bx-pagers .control-top-slider {
  border-top: 1px solid #f1f1f1;
}
#video-bx-pagers .control-top-slider:first-child {
  border: none;

}

/* Popular */
.popular-home .item-ski {
  border-top: 1px solid #f1f1f1;
}

.popular-home .item-ski:first-child {
   border: none;
}

/* Ski Instruction */
.col10.yellow #ski-bx-pager a {
  border-top: 1px solid #f1f1f1;
  padding:10px 0;
}

.col10.yellow #ski-bx-pager a:first-child {
  border:none;
}
.marquee {
  overflow: hidden;
}

.container-full-title:before {
    content: url('../images/left-red.png');
    position: absolute;
    left: -33px;
    top: -1px;
}
.container-full-title:after {
    content: url('../images/right-red.png');
    position: absolute;
    right: -34px;
    top: -1px;
}

.col-md-12.ski_featured .little-padding {
  display: table;
  padding: 0;
}
.col-md-12.ski_featured .item-ski h5 {
  color: #2b2b2b;
  /*display: table-cell;
  height: 64px;*/
  display:block;
  font-size: 16px;  
  margin-bottom: 2px;
  margin-top: 4px;
  vertical-align: middle;
}
.col-md-12.ski_featured .item-ski{
	margin-bottom:10px;
}
/************************ New Css changes start here ***************************************/

.home-slider .col-md-12 {
  padding: 0;
}
.top-socials {
  position: relative;
  left:0;
}
.search-box {
  left: 0;
  position: relative;
}
.register .social-wrap{
	float:right;
}
.register .header-search{
	clear:both;
	width:130px;
	float:right;
}
.fa-angle-down {display:none;}
.col-md-2.logo {
  position: relative;
  right: 18px;
}

.col-md-7 > img {
  position: relative;
  left: 4em;
}

.navbar-nav {
  float: left;
  left: 2em;
  margin: 0;
  position: relative;
}

.featured-gallery .img-block {
  margin: 0;
}

h5.newsletter {
  margin: 0;
}

/******************* New css styles for top menu navigation *******************/
/*pramod*/
li .resorts-travel:hover{
	 background: #de1d35 none repeat scroll 0 0 !important;
  cursor: pointer;
	}
	
li .gear-reviews:hover{
	 background: #0668A8 none repeat scroll 0 0 !important;
  cursor: pointer;
	}
li .videos:hover{
	 background: #445661 none repeat scroll 0 0 !important;
  cursor: pointer;
	}
	
li .ski-instruction:hover{
	 background: #FFF140 none repeat scroll 0 0 !important;
  cursor: pointer;
  width: 100%;
	}
li .magzine:hover{
	 background: #6CBB3C none repeat scroll 0 0 !important;
  cursor: pointer;
	}
li .connect:hover{
	 background: #dbdbdb none repeat scroll 0 0 !important;
  cursor: pointer;
	}
/*pramod*/

.nav > li.open > a.resorts-travel:hover {
  background: #de1d35 none repeat scroll 0 0 !important;
  cursor: pointer;
}

.nav > li.open > a.gear-reviews:hover {
  background: #0668A8 none repeat scroll 0 0 !important;
  cursor: pointer;
}

.nav > li:hover > a.videos:hover {
  background: #445661 none repeat scroll 0 0 !important;
  cursor: pointer;
}

.nav > li.open > a.ski-instruction:hover {
  background: #FFF140 none repeat scroll 0 0 !important;
  cursor: pointer;
}

.nav > li.open > a.magzine:hover {
  background: #6CBB3C none repeat scroll 0 0 !important;
  cursor: pointer;
}

.navbar-nav > li.open > a.resorts-travel {
 background: #de1d35 none repeat scroll 0 0 !important;
  cursor: pointer;
}

.navbar-nav > li.open > a.gear-reviews {
 background: #0668A8 none repeat scroll 0 0 !important;
  cursor: pointer;
}

.navbar-nav > li.open > a.ski-instruction {
 background: #FFF140 none repeat scroll 0 0 !important;
  cursor: pointer;
}

.navbar-nav > li.open > a.magzine {
 background: #6CBB3C none repeat scroll 0 0 !important;
  cursor: pointer;
}


.nav > li:hover > a.resorts-travel + ul.dropdown-menu {
  background: #FFF none repeat scroll 0 0 !important;
}
.nav > li:hover > a.gear-reviews + ul.dropdown-menu {
  background: #FFF none repeat scroll 0 0 !important;
}

.nav > li:hover > a.ski-instruction + ul.dropdown-menu {
  background: #FFF none repeat scroll 0 0 !important;
}

.nav > li:hover > a.magzine + ul.dropdown-menu {
  background: #FFF none repeat scroll 0 0 !important;
}

/**************************** Top Menu CSS ends here *************************/

.small-slider .slide-caption a {
  color: #fff;
}

.small-slider .slide-caption h4 {
  letter-spacing:0;
}

.small-slider .slide-caption {
  bottom: 0;
  color: #ffffff;
  padding: 5px;
  position: absolute;
  width:100%;
  background:#000;
  opacity: 0.4;
}

.small-slider .bx-wrapper .bx-prev {
  
  left: 2px;
}
.little-padding.slide-1 {
  width: 100%;
}
.newsletter.clearfix {
  width: 270px;
}


#video-bx-pagers img {
  min-height:63px;
}

p.no-image {
background:url('../images/no-image-50x50.jpg') no-repeat center;
background-size:100% 100%;
width:65px;
min-height:65px;
}

.popular-home .border-color-container {
  min-height:258px;
}

.photos-home .field-content {
  color: #555;
  font-size: 14px;
}

.isotope-element.big .border-color-container {
  min-height:475px;
}
.isotope-element.big.gear-review .border-color-container {
  min-height:345px;
}
.gear-review .field-content img{ width:100%;}

.featured-gallery img {
  min-height: 260px;
}

.ski-instruction{ border:none !important;}


.full-ad-bnr .bottom_add {
  border: 1px solid #000;
  margin-top:30px;
}

.intruction-ski .item-ski{ float:left; margin-top:40px;}
.intruction-ski .item-ski img{ height:63px;}
.isotope-element .border-color-container {
  width: 100%;
}
.intruction-ski .bx-clone img{ width:100%; height:200px;}
.intruction-ski .bx-viewport{ max-height:300px !important;}

.page-home #footer{ margin-top:10px;}

.color-title h3 span.small { font-size: 16px; color: #2d2d2d;}
.color-title.black-bg h3, .color-title.black-bg .read-more {
    background: #000 none repeat scroll 0 0;
}
.color-title.golden h3, .color-title.golden .read-more {
    background: #C0AF2D none repeat scroll 0 0;
}
.newsletter h5.newsletter {
  color: #555;
  font-family: 'bentonsans-regular' !important;
  font-size: 16px !important;
  font-weight: normal;
  line-height: 20px;
}

.recent-home .block ul li {
  float: left;
  width: 100%;
}
.recent-home .block ul li + li{ border-top:1px solid #f1f1f1; padding:10px 0;}
.popular-home .little-padding{ padding-bottom:0 !important;}

.view-resort-and-travel .view-content .item-ski:nth-of-type(2n+1) {
  border-top: 1px solid #f1f1f1;
}

.gear-review .no-img-gear {
  background:  url("../images/NoImage.png") no-repeat center; 
  width:100%;
  height:170px;
  
}

.gear-review img {
  width: 100%;
}
.gear-review .item-ski h5.field-content {
  min-height: 40px;
}

.view-popular-at-homepage-footer p.no-image , .view-recent-post-at-footer p.no-image {
  background: rgba(0, 0, 0, 0) url("../images/no-image-50x50.jpg") no-repeat scroll center center / 100% 100%;
  min-height: 65px;
  width: 65px;
}

/* Gear Product detail page
============================================ */
.product-detail-wrap{
	border:none !important;
}
.brand-detail{
	font-size:14px;
}
.brand-detail .buy-btn{
	width:180px;
	margin:10px 0;
}
.brand-detail .buy-btn a:hover,
.brand-detail .buy-btn a:focus{
	opacity:0.8;
}
.brand-detail > div{
	margin-bottom:5px;
}
.brand-detail > div span{
	margin-right:5px;
	font-weight:bold;
}
.product-node-content .ski-img{
	text-align:center;
	display:block;
	margin:20px auto;
}
.product-node-content .ski-img > img{
	margin:0 auto;
}
.product-node-content .ski-body{
	margin-top:20px;
	color:#000;
}
.product-node-content.content{
	font-size:14px;
}

.view-skinet-gear--brands .view-content{
	clear:both;
}
.view-taxo-title .article-title h1{
	margin-bottom:20px;
}
.breadcrumb-taxo span,
.breadcrumb-taxo span a{
	font-size:18px;
	color:#323232 !important;
}

/*for video page
================================= */
.node-type-videos .left-box .related-videos{
	float:none !important;
}
.node-type-videos .left-box .BCLvideoWrapper .fluid-width-video-wrapper{
	position:static;
	height:190px;
}
.node-type-videos .left-box .BCLvideoWrapper{
	height:415px;
	padding-bottom:0 !important;
}
.node-type-videos .right-box .nav-sidevar {
    margin-bottom: 15px;
    margin-top: 15px;
}
