/*
  Default layout
*/
#blogs {
  position: relative;
  width: 100%;
  }
  #blogs .outer-left {
    display: inline;
    float: left;
    width: 75%;
    }
    #blogs .top {

      }
      #blogs .top .blog-header {

      }
    #blogs .inner-left {
      display: inline;
      float: left;
      width: 25%;
    }
    #blogs .middle {
      display: inline;
      float: left;
      width: 75%;
    }
  #blogs .outer-right {
    display: inline;
    float: left;
    width: 25%;
  }
