#wp-calendar td.pad, .boxed-margin, .boxed, .full, .b_title h4, .b_title h3, .ads_widget span, #block_carousel .owl-controls, .page-content .widget_T20_posts_slideshow .owl-controls {background: #262627}
#wp-calendar td, #wp-calendar th {border-color: #262627}
a, h1, h2, h3, h4, h5, h6, .T20-tabs-nav li.active a, .commentlist .fn, .sec_head .sf-menu li a, .sec_head #mobilepro, .page-content .widget_T20_posts_slideshow .owl-controls .owl-buttons div {color: #FFF}
body {color: #ddd}
.item_small, .details {border-color: #363636 !important}
.widget_archive li a, .widget_pages li a, .widget_meta li a, .widget_recent_comments li, .widget_recent_entries li, .widget_rss li, .widget_nav_menu li a, .widget_categories li a {border-color: #363636}
#wp-calendar td, #wp-calendar th {background: #1B1B1B}
.tags a {background: #313131}
.tipsy-inner {background-color: #FFF;color: #313131}
.tipsy-n .tipsy-arrow:before {border-bottom: 6px solid #FFF}
.tipsy-s .tipsy-arrow:before {border-top: 6px solid #FFF}
.tipsy-e .tipsy-arrow:before {border-top: 6px solid #FFF}
.tipsy-w .tipsy-arrow:before {border-right: 6px solid #FFF}
.b_title:after { background: url(../images/title_pat2.png) repeat }
.widget, .b_block {border: 1px solid #363636; border-top: 2px solid #ccc}
.dwqa-container .dwqa-list-question .filter-bar, .dwqa-container .dwqa-list-question .sticky-questions, .questions-list, .dwqa-container .dwqa-list-question .archive-question-footer {border: 1px solid #363636}
.dwqa-container .dwqa-list-question .filter {border-bottom: 1px solid #363636}
.tagcloud a {background: #1F1F1F}
.ads_widget {border: 1px solid #3D3D3D}
.sec_head, .sec_head .right_bar {background: #383838}
.social a i, .search_icon i {background: #2C2C2C;border: 1px solid #424242}
.facebook_like iframe {background: none}
.sec_head .sf-menu > li {border-color: #4B4B4B}
#cancel-comment-reply-link {color: #C2C2C2;border: 1px solid #4B4B4B}
.T20-tabs-nav li.active a:after {border-bottom: 6px solid #FFF}
#bbpress-forums div.odd, #bbpress-forums ul.odd {background-color: #303031}
#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {border-top: 1px solid #262627}
#bbpress-forums div.even, #bbpress-forums ul.even {background-color: #262627}
#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results {border: 1px solid #201F1F}
#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer {border-top: 1px solid #37383C}
#bbpress-forums div.bbp-forum-header, #bbpress-forums div.bbp-topic-header, #bbpress-forums div.bbp-reply-header {background-color: #181818}
div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header {border-top: 1px solid #2C2C2C}
.widget_display_replies li, .widget_display_forums li, .widget_display_views li, .widget_display_topics li {border-bottom: 1px solid #4D4D4D}
#bbpress-forums fieldset.bbp-form, #subscription-toggle, #favorite-toggle, #bbpress-forums fieldset.bbp-form {border: 1px solid #4D4D4D}
#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log, #bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log, #bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log {border-top: 1px dotted #5E5E5E}
.readmore, .wp-pagenavi span, .wp-pagenavi b {background: #202020}
.symple-accordion .ui-accordion-content, .symple-tabs .tab-content {background: none}
table tr, .table tr {border-bottom: 1px solid #2B2B2B;background-color: #1D1D1D}
table td:first-child, .table td:first-child {background: #181818}
table tr:hover, .table tr:hover, tr.topic-sticky {background: #292929}
.post_nav .next {border-left: 1px solid #474747}
.woocommerce ul.cart_list li img, .woocommerce-page ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.product_list_widget li img {background: none;border: 1px solid #494949}
.woocommerce ul.cart_list li, .woocommerce-page ul.cart_list li, .woocommerce ul.product_list_widget li, .woocommerce-page ul.product_list_widget li {border-bottom: 1px dotted #505050}
.woocommerce.widget_shopping_cart .total, .woocommerce .widget_shopping_cart .total, .woocommerce-page.widget_shopping_cart .total, .woocommerce-page .widget_shopping_cart .total {border-top: 3px double #424242}
.woocommerce table td:first-child, .woocommerce .table td:first-child, .woocommerce table th, .woocommerce .table th, .woocommerce table a, .woocommerce .table a {color: #FFF !important}
.woocommerce table tr:hover, .woocommerce .table tr:hover, .woocommerce tr.topic-sticky, .woocommerce #payment, .woocommerce-page #payment {background: #1B1B1B !important}
.cart_totals table, table.shop_table.cart {border: 1px solid #3C3C3C !important}
textarea, input[type='text'], input[type='email'], input[type='url'], input[type='number'], input[type='password'] { border: 1px solid #383838;background: #1F1F1F }
textarea:focus, input[type='text']:focus, input[type='email']:focus, input[type='url']:focus, input[type='number']:focus, input[type='password']:focus { color: #000 }
.dwqa-container, .dwqa-container .dwqa-list-question .filter-bar .order li, .dwqa-container .dwqa-list-question .sticky-questions .dwqa-sticky-question, .dwqa-container .dwqa-list-question .sticky-questions .dwqa-sticky-question:hover, 
.dwqa-container .dwqa-list-question .dwqa-question:hover, body .dwqa-container a, .dwqa-container .dwqa-list-question .select .current-select, 
.dwqa-container .dwqa-list-question .dwqa-comment strong, .dwqa-container .dwqa-list-question .dwqa-view strong, .dwqa-container .dwqa-list-question .dwqa-vote strong {background-color: inherit;color: #FFF}
.dwqa-container .dwqa-list-question .select .current-select:before {border-top: 5px solid #FFF}
.block_tab-title{
	background:#595A5C!important;
}
.block_tab-title.active, .block_tab-title:hover{
	background:#333!important;
}