/*


   Magic Zoom v4.5.30 
   Copyright 2015 Magic Toolbox
   Buy a license: www.magictoolbox.com/magiczoom/
   License agreement: http://www.magictoolbox.com/license/


*/
.MagicZoom, .MagicZoom * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* Style of the small image link */
.MagicZoom, .MagicZoom:hover {
    display: inline-block;
    outline: 0 !important;
    font-size: 0 !important;
    line-height: 100% !important;
    direction: ltr;
    max-width: 100%;
}

/* Style of the main image */
.MagicZoom img {
    border: 0 !important;
    margin: 0 !important;
    outline: 0 !important;
    padding: 0 !important;
    height: auto;
}

.MagicZoom > img {
    width: 100%;
}

.MagicZoom.magic-for-ie8,
.MagicZoom.magic-for-ie8 > img {
    max-width: none !important;
}

.MagicZoom.magic-for-ie7 > img, .MagicZoom.magic-for-ie5 img {
    width: auto;
}

td > .MagicZoom > img, td > .MagicZoom.magic-for-ie8 > img {
    max-width: none;
    width: auto;
}

/* Style of the hint text and image */
.MagicZoomHint {
    background: url(/ski/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/ski/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/sites/all/modules/contrib/registry_rebuild/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/sites/all/modules/contrib/registry_rebuild/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/graphics/hint.gif) no-repeat 2px 50%;
    color: #444;
    font-size: 8pt;
    font-family: sans-serif;
    line-height: 24px;
    margin: 0;
    min-height: 24px;
    padding: 2px 2px 2px 20px !important;
    text-align: left;
    text-decoration: none;
}

/* Style of loading message and icon shown during load */
.MagicZoomLoading {
    background: #fff url(/ski/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/ski/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/sites/all/modules/contrib/registry_rebuild/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/sites/all/modules/contrib/registry_rebuild/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/graphics/loader.gif) no-repeat 2px 50%;
    border: 1px solid #ccc;
    color: #444;
    font-family: sans-serif;
    font-size: 8pt;
    line-height: 1.5em;
    margin: 0;
    padding: 4px 4px 4px 24px !important;
    text-align: left;
    text-decoration: none;
}

/* Style to hide external title on a page. Only needed for #id method */
.MagicZoomExternalTitle {
    display: none;
}

.magic-temporary-img img {
    max-height: none !important;
    max-width: none !important;
}

/* Style of the zoomed image */
.MagicZoomBigImageCont {
    background: #ffffff;
    border: 1px solid #999;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
}
.MagicZoomBigImageCont.inner-zoom {
    border: 0;
}

.MagicZoomBigImageCont img {
    max-width: none !important;
    max-height: none !important;
    height: auto !important;
    width: auto !important;
    transform: translateZ(0);
}

/* Style of text on the zoomed image */
.MagicZoomHeader {
    background: #666;
    color: #fff;
    font-size: 10pt !important;
    line-height: normal !important;
    text-align: center !important;
}

/* Style of square magnify area under the cursor */
.MagicZoomPup {
    background: #dadad1;
    border: 3px solid #aaa;
    cursor: move;
}

/* Style of loading message and icon shown during load */
.MagicZoomLoading {
    background: #fff url(/ski/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/ski/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/sites/all/modules/contrib/registry_rebuild/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/sites/all/modules/contrib/registry_rebuild/sites/all/modules/contrib/mod_drupal7_magiczoom/magiczoom/graphics/loader.gif) no-repeat 2px 50%;
    border: 1px solid #ccc;
    color: #444;
    font-family: sans-serif;
    font-size: 8pt;
    line-height: 1.5em;
    margin: 0;
    padding: 4px 4px 4px 24px !important;
    text-align: left;
    text-decoration: none;
}

/* Style of shadow effect behind zoomed image */
.MagicBoxShadow {
-moz-box-shadow: 3px 3px 4px #888888;
-webkit-box-shadow: 3px 3px 4px #888888;
box-shadow: 3px 3px 4px #888888;
border-collapse: separate;
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888') !important;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888')" !important;
}

/* Style of glow effect behind zoomed image */
.MagicBoxGlow {
-moz-box-shadow: 0px 0px 4px 4px #888888;
-webkit-box-shadow: 0px 0px 4px 4px #888888;
box-shadow: 0px 0px 4px 4px #888888;
border-collapse: separate;
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Glow(Strength=4, Color='#888888') !important;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Glow(Strength=4, Color='#888888')" !important;
}

/* Contaner with main image and selectors container */
div.MagicToolboxContainer {
    text-align: center;
}

/* Main image styles */
div.MagicToolboxContainer a {
    margin: 0 auto;
}

/* Container with selectors*/
div.MagicToolboxSelectorsContainer {
    clear: both;
}

/* Selectors styles */
div.MagicToolboxSelectorsContainer a {
    display: inline-block;
    margin: 4px 1px;
}

div.MagicToolboxMessage {
    text-align: center;
}


.MagicToolboxMainContainer {
    max-width: 100%;
}
/* selectors-left */
div.MagicToolboxContainer.selectorsLeft .MagicToolboxMainContainer {
    float: left;
}
div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer {
    float: left;
}
div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer img {
    max-width: 100%;
}
/* selectors-right */
div.MagicToolboxContainer.selectorsRight .MagicToolboxMainContainer {
    float: right;
}
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer {
    float: right;
}
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer img {
    max-width: 100%;
}

.MagicScrollItem a {
    /* NOTE: magicscroll makes the image smaller if there is a margin */
    margin: 0 !important;
}
